.app--pages-desktop--configuracoes--form {
}

.app--pages-desktop--configuracoes--form .boxform {
    background: #FFFFFF;
    margin: auto;
    margin-top: 30px;
    width: 1200px;
    height: 670px;
    border: 1px solid #d8d5d5;
    margin-bottom:40px;
}

.app--pages-desktop--configuracoes--form .row {
    justify-content: space-between;
    display: flex;
    width: 95%;
    margin: auto;
    margin-top: 20px;
}

.app--pages-desktop--configuracoes--form .row1 {
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-left: 30px;
    margin-top: 30px;
}

.app--pages-desktop--configuracoes--form .row2 {
    justify-content: space-between;
    display: flex;
    width: 92%;
    margin-left: 30px;
    margin-top: 20px;
    white-space: nowrap;
}

.app--pages-desktop--configuracoes--form .row3 {
    margin-top: 62px;
    margin-left: 515px;
}

.app--pages-desktop--configuracoes--form .boxdadosbanc {
    background: #FFFFFF;
    margin: auto;
    margin-top: 0px;
    width: 1200px;
    height: 250px;
    border: 1px solid #d8d5d5;
}

.app--pages-desktop--configuracoes--form .formcad-item {
    height: 60px;
    padding-top: 5px;
    font-size: 14px;
    color: #717171;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.app--pages-desktop--configuracoes--form .formcad-itemmedium {
    width: 260px;
}
.app--pages-desktop--configuracoes--form .mensagemErro{
    color: #f00;
    position: absolute;
    left: 0px;
    text-align: center;
    width: 100%;
    top: 780px;
}

.app--pages-desktop--configuracoes--form .formcad-itemlarge {
    width: 380px;
}

.app--pages-desktop--configuracoes--form .formcad-itemsmall {
    width: 86px;
}

.app--pages-desktop--configuracoes--form .formcad-iteminter {
    width: 240px;
}

.app--pages-desktop--configuracoes--form .formcad-itemag {
    width: 160px;
}

.app--pages-desktop--configuracoes--form .formcad-itemcc {
    width: 200px;
}

.app--pages-desktop--configuracoes--form .formcad-itemdv {
    width: 80px;
}

.app--pages-desktop--configuracoes--form .formcad-itemcb {
    width: 220px;
}

.app--pages-desktop--configuracoes--form .dadosbanc {
    font-size: 18px;
    color: #774d99;
    margin-left: 30px;
    margin-top: 30px;
}

.app--pages-desktop--configuracoes--form .checktermo {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #717171;
}
.app--pages-desktop--configuracoes--form #div14{
    background:none;
    border:none;
    display:none;
}


.app--pages-desktop--configuracoes--form #labeldiv4{
    color:#774d99;
    text-decoration: underline;
}

.app--pages-desktop--configuracoes--form #div15{
    display:none;
}
.app--pages-desktop--configuracoes--form #labeldiv15{
    border-radius: 30%;
    padding-right: 4px;
    background:#fbfbfb;
    border:solid 1px #e5e5e5;
    font-size:11px;
    margin-right:5px;
}
.app--pages-desktop--configuracoes--form #div15:checked ~ #labeldiv15 {
    background:#774d99;
  }

.app--pages-desktop--configuracoes--form .termos {
  color: #774d99;
  font-weight: bold;  
}
.app--pages-desktop--configuracoes--form .clicktermo {
    border: none;
    background: #FFFFFF;
    cursor: pointer;
}

.app--pages-desktop--configuracoes--form a:link 
{ 
text-decoration:none; 
} 

.app--pages-desktop--configuracoes--form .botaocdr {
    /* display: inline-block; */
    width: 160px;
    height: 35px;
    line-height: 33px;
    border: 1px solid #774d99;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #774d99;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 0 #666;
    cursor: pointer;
    /* margin-top: 0px; */
}
.app--pages-desktop--configuracoes--form .botaocdr-sending {
    background-color: #af92c7;
    text-shadow: none;
    border-color: #af92c7;
    font-weight: normal;
}

 .app--pages-desktop--configuracoes--form  #div6{
	background-position: 215px center;  /*Posição da imagem do background*/
	padding:5px;
}
.app--pages-desktop--configuracoes--form #div10{
	background-position: 235px center;  /*Posição da imagem do background*/
	padding:5px;
}
.app--pages-desktop--configuracoes--form #div5{
	background-position: 62px center;  /*Posição da imagem do background*/
	padding:5px;
}
.app--pages-desktop--configuracoes--form .enext-fc-base .campo-controle {
    background: #fff;
}

.app--pages-desktop--configuracoes--form .row1 .enext-fc-base{
    width: 100%;
}

.app--pages-desktop--configuracoes--form .campo-disable .enext-fc-base .campo-controle {
    background: #ebebeb;
    color: #717171;
    font-weight: bold;
}
.app--pages-desktop--configuracoes--form .row10 {
    display: flex;
    width: 50%;
    margin-left: 30px;
    margin-top: 30px;
    justify-content: space-between;
}
.app--pages-desktop--configuracoes--form .row10 .enext-fc-base {
    margin-right: 20px;
}

.app--pages-desktop--configuracoes--form .campos-disable{
    width: 100%;
    /* display: none; */
}

@media (orientation:portrait) {
	.app--pages-desktop--configuracoes--form {
	}
}

@media (max-width: 1024px) {
	.app--pages-desktop--configuracoes--form {
	}
}