<div class="app--pages-desktop--configuracoes--form">
        <div class="boxform">
				<form roleType="form">
					<!--fieldset-->
					
						<div class="formcad">
							<div class="row">
								<div class="formcad-item formcad-itemmedium">
									<enext--form-campo--texto
										v-bind:campo="campoCNPJ"
										v-on:valor="onCampoValor"
										v-on:blur="onCampoBlur"										
									></enext--form-campo--texto>
								</div>
	
								<div class="formcad-item formcad-itemlarge">
									<enext--form-campo--texto
										v-bind:campo="campoRazaoSocial"
										v-on:valor="onCampoValor"
										v-on:blur="onCampoBlur"
									></enext--form-campo--texto>
								</div>
								 
								<div class="formcad-item formcad-itemlarge">
									<enext--form-campo--texto
										v-bind:campo="campoNomeFantasia"
										v-on:valor="onCampoValor"
										v-on:blur="onCampoBlur"
									></enext--form-campo--texto>
								</div>
	
						  </div>
	
						  <div class="row">
						  <div class="formcad-item formcad-itemmedium">
							<enext--form-campo--texto
								v-bind:campo="campoSUC"
								v-on:valor="onCampoValor"
								v-on:blur="onCampoBlur"
							></enext--form-campo--texto>
						  </div> 
						  
						  <div class="formcad-item formcad-itemcc">
							<enext--form-campo--select
								v-bind:campo="campoAndar"
								v-on:selecionado="onCampoSelecionado"
								v-on:blur="onCampoBlur"
							></enext--form-campo--select>
							</div>
						  
							<div class="formcad-item formcad-iteminter">
								<enext--form-campo--select
									v-bind:campo="campoCategoria"
									v-on:selecionado="onCampoSelecionado"
									v-on:blur="onCampoBlur"
								></enext--form-campo--select>
							</div>
								
								<div class="formcad-item formcad-itemlarge">
									<enext--form-campo--texto
										v-bind:campo="campoResponsavel"
										v-on:valor="onCampoValor"
										v-on:blur="onCampoBlur"
									></enext--form-campo--texto>
							   </div>
							</div>
	
							<div class="row1">
							<div class="formcad-item formcad-itemmedium">
								<enext--form-campo--texto
									v-bind:campo="campoTelefone"
									v-on:valor="onCampoValor"
									v-on:blur="onCampoBlur"
								></enext--form-campo--texto>
							</div>   
	
							<div class="formcad-item formcad-itemlarge">
								<enext--form-campo--texto
									v-bind:campo="campoEmail"
									v-on:valor="onCampoValor"
									v-on:blur="onCampoBlur"
								></enext--form-campo--texto>
							</div>
							<br><br><br>
						</div> 
						<div class="row10">
							<!-- Campos disable -->
							<div class="formcad-item formcad-itemmedium campo-disable">
								<enext--form-campo--texto
									v-bind:campo="campoDtRecebimento"
									v-on:valor="onCampoValor"
									v-on:blur="onCampoBlur"
								></enext--form-campo--texto>
							 </div>
							 <div class="formcad-item formcad-itemmedium campo-disable">
								<enext--form-campo--texto
									v-bind:campo="campoAntecipacao"
									v-on:valor="onCampoValor"
									v-on:blur="onCampoBlur"
							></enext--form-campo--texto>
							</div>
							<div class="formcad-item formcad-itemmedium campo-disable">
								<enext--form-campo--texto
									v-bind:campo="campoTaxa"
									v-on:valor="onCampoValor"
									v-on:blur="onCampoBlur"
								></enext--form-campo--texto>
							</div>  
							<!-- Fim dos campos disable -->
						 </div>
					</div>                 
					<!--/fieldset-->
	<br>
	 <hr>
		<div class="dadosbanc">
			Dados Bancários
		</div><!--dadosbanc-->
		  <div class="row2">
			<div class="formcad-item formcad-itemmedium">
				<enext--form-campo--select
					v-bind:campo="campoContaBanco"
					v-on:selecionado="onCampoSelecionado"
					v-on:blur="onCampoBlur"
				></enext--form-campo--select>
			</div>
			<div class="formcad-item formcad-itemag"> 
				<enext--form-campo--texto
					v-bind:campo="campoContaAgencia"
					v-on:valor="onCampoValor"
					v-on:blur="onCampoBlur"
				></enext--form-campo--texto>
			</div>
			<div class="formcad-item formcad-itemcc">
				<enext--form-campo--texto
					v-bind:campo="campoContaNumero"
					v-on:valor="onCampoValor"
					v-on:blur="onCampoBlur"
				></enext--form-campo--texto>
			</div>
			<div class="formcad-item formcad-itemdv">
				<enext--form-campo--texto
					v-bind:campo="campoDV"
					v-on:valor="onCampoValor"
					v-on:blur="onCampoBlur"
				></enext--form-campo--texto>	
			</div> 
			<div class="formcad-item formcad-itemcb">
				<label for="contacorrente">Comprovante Bancário: *</label>
				<input type="file" id="div14" name="Comprovante-Bancario" v-on:change="changeComprovante" />
				<label for="div14" class="labeldiv4" ref="fileComprovante" style="margin-top:10px;">
					<template v-if="arquivoSelecionado">{{arquivoSelecionado.name}}</template>
					<template v-else>Anexar comprovante bancário</template>
				</label>
			  </div>
			</div>
							   
		</form>
		<div class="checktermo">   
			<enext--form-campo--checkbox
				v-bind:campo="campoAceito"
				v-bind:filterClick="filterClickAceito"
				v-on:check="onCampoCheck"
				v-on:blur="onCampoBlur"
			>
				Eu declaro que li e aceito os
				<button class="clicktermo" ref="btAbrirTermos" v-on:click="clickTermos">
					<span class="termos">Termos e Condições de Uso</span>
				</button>
				da OnStores*
			</enext--form-campo--checkbox>
		</div>
		<div class="row3">
			<div class="mensagemErro" v-if="erroMensagem" v-text="erroMensagem"></div>
			<span class="botaocdr botaocdr-sending" v-show="enviandoCadastro">Atualizando dados...</span>
			<button class="botaocdr" v-show="!enviandoCadastro" v-on:click="clickCadastrar">Atualizar dados</button>
		</div>
	</div><!--boxform-->
</div>