<div class="app--pages--loja--detalhes-pedido">
	<app--modal--estorno-boleto
		v-if="modalEstornoBoleto"
		v-on:fechar="modalEstornoBoleto = false"
	></app--modal--estorno-boleto>
	<!-- começo template -->
	<template v-if="mobile">
		<app--pages-mobile--detalhes-mobile
			v-bind:pedidoId="$route.params.id"
			v-on:estorno-boleto="modalEstornoBoleto = true"
		></app--pages-mobile--detalhes-mobile>
	</template>
	<template v-else>
		<app--detalhes-pedido
			v-bind:pedidoId="$route.params.id"
			v-on:estorno-boleto="modalEstornoBoleto = true"
		></app--detalhes-pedido>
	</template>
	<!-- fim template -->
</div>