.app--pages-desktop--busca {
}

.app--pages-desktop--busca .spacer-filtro-admin {
    margin-top: 50px;
    height: 56px;
}

@media (orientation:portrait) {
	.app--pages-desktop--busca {
	}
}

@media (max-width: 1024px) {
	.app--pages-desktop--busca {
	}
}