<div class="app--pages-desktop--busca">
	<app--pages--admin--filtro v-if="isAdmin"></app--pages--admin--filtro>
	<div v-else class="spacer-filtro-admin"></div>
	<app--desktop--relacao-de-pedidos
		listTitle="RESULTADOS DA BUSCA"
		v-bind:pedidos="pedidos"
		v-on:pedidosReload="clickReload"
	></app--desktop--relacao-de-pedidos>
</div>