.app--modal--termos-de-uso {
}

.app--modal--termos-de-uso .app--modal--base .modal-container {
	width: 927px;
	height: 413px;
	border-radius: 4px;
	box-shadow: 0px 3px 7px       rgba(0,0,0,0.16);
	background-color: #ffffff;
	margin: 0 auto;
	text-align: center;
	z-index:20;
	margin-top:10%;
	padding:20px;
}

.app--modal--termos-de-uso .close {
	height: 32px;
	width: 32px;
	border-radius: 15px;
	font-family: sans-serif;
	font-size: 32px;
	line-height: 32px;
	vertical-align: middle;
	text-align: center;
	color: #774d99;
	cursor: pointer;
	float: right;
}

.app--modal--termos-de-uso .Titulo {
	font-size: 18px;
	color: #774d99;
	text-align: center;
	margin-top: 30px;
}

.app--modal--termos-de-uso .txttermos {
	width: 830px;
	height: 240px;
	margin-left: 20px;
	margin-top: 10px;
	font-size: 14px;
	color: #717171;
	text-align: left;
	overflow: auto;
	
  }
  
  .app--modal--termos-de-uso .boxtermos {
	width: 860px;
	height: 250px;
	margin-top: 20px;
	margin-left: 20px;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
  }
  
  .app--modal--termos-de-uso ::-webkit-scrollbar {
	width: 5px;
	height: 5px;
  }
   
  .app--modal--termos-de-uso ::-webkit-scrollbar-button:start:decrement,
  .app--modal--termos-de-uso ::-webkit-scrollbar-button:end:increment  {
	display: none;
  }
   
  .app--modal--termos-de-uso ::-webkit-scrollbar-track-piece  {
	background-color: #e8e8e8;
	-webkit-border-radius: 3px;
  }
   
  .app--modal--termos-de-uso ::-webkit-scrollbar-thumb:vertical {
	background-color: #a5a5a5;
	-webkit-border-radius: 3px;
  }
  
  .app--modal--termos-de-uso .botaoprinter {
	 width: 160px;
	 height: 35px;
	 padding: 4px 11px;
	 border: 1px solid #774d99;
	 -moz-border-radius: 4px;
	 -webkit-border-radius: 4px;
	 border-radius: 4px;
	 background-color: #FFFFFF;
	 font-size: 14px;
	 /*font-weight: bold;*/
	 color: #774d99;
	 text-align: center;
	 /*text-shadow: 0 1px 0 #666;*/
	 cursor:pointer;
	 margin-top:30px;
   }
  
   .app--modal--termos-de-uso .botaoaceitar {
	 width: 160px;
	 height: 35px;
	 padding: 10px 60px 10px 60px;
	 border: 1px solid #FFFFFF;
	 -moz-border-radius: 4px;
	 -webkit-border-radius: 4px;
	 border-radius: 4px;
	 background-color: #774d99;
	 font-size: 14px;
	 color: #FFFFFF;
	 text-align: center;
	 cursor:pointer;
	 margin-top:30px;
   }
   /* .app--modal--termos-de-uso #alert-cadastro-loja{
	   display:none;
	   width:200px;
	   height:auto;
	   background:#fff;
	   padding:20px;
	   position:fixed;
	   top:400px;
	   left:40%;
	   border:solid 1px #a5a5a5;
   } */
   .app--modal--termos-de-uso .row4 {
	  justify-content: space-between;
	  display: flex;
	  width: 50%;
	  margin-left: 30px;
	  margin-top: 30px;
  }
  /* .formcad-itemstatic {
	  font-size: 14px;
	  color: #717171;
	  font-weight: bold;
	  display: flex;
	  flex-direction: column;
	  
  } */
  /* .formcad-itemstatic input {
	  width: 180px;
	  height: 35px;
	  border-radius: 4px;
	  background-color: #ebebeb;
	  border: 1px solid #e5e5e5;
	  margin-top: 5px;
	  font-size: 14px;
	  color: #717171;
	  font-weight: bold;
	  margin-right:20px;
  } */
  .app--modal--termos-de-uso input{
	  padding:0px 10px 0 10px;
  }
  .app--modal--termos-de-uso .clicktermo {
	  border: none;
	  background: #FFFFFF;
	}

.root-mobile .app--modal--termos-de-uso .app--modal--base .modal-container {
	padding:5px;
	width: 90%;
	height: 630px;
	margin-top: 70px;
}
.root-mobile .app--modal--termos-de-uso .close {
	font-weight: bold;
	font-size: 18pt;
}
.root-mobile .app--modal--termos-de-uso .txttermos {
	width: 95%;
	line-height: 20px;
	height:450px;
	margin-top: 3px;
	padding-right: 20px;
	font-size: 12pt;
	word-wrap: break-word;
	white-space: pre-line;
	box-sizing: border-box;
	}
	.root-mobile .app--modal--termos-de-uso .boxtermos {
		width: 95%;
		height:450px;
		margin-top: 10px;
		}
		.root-mobile .app--modal--termos-de-uso .Titulo {
			margin-top: 40px;
			margin-bottom: 30px;
			font-weight: bold;
			font-size: 15pt;
			}
			.app--modal--termos-de-uso .botaoaceitar {
				margin-top:20px;
				}
				.app--modal--termos-de-uso .botaoprinter {
					margin-top:20px;
					}

@media (orientation:portrait) {
	.app--modal--termos-de-uso {
	}
}

@media (max-width: 1024px) {
	.app--modal--termos-de-uso {
	}
}

/*TERMOS */

@import url('https://themes.googleusercontent.com/fonts/css?kit=fpjTOVmNbO4Lz34iLyptLfpjyB5BQourYAyA--No9iX43MHGdcUk8lVDt-hm-NLh');

.modal-container ol.lst-kix_list_7-0 {
  list-style-type: none;
}
.modal-container .lst-kix_list_14-1 > li:before {
  content: "" counter(lst-ctn-kix_list_14-0,decimal) "." counter(lst-ctn-kix_list_14-1,decimal) ". ";
}
.modal-container .lst-kix_list_14-3 > li:before {
  content: "" counter(lst-ctn-kix_list_14-0,decimal) "." counter(lst-ctn-kix_list_14-1,decimal) "." counter(lst-ctn-kix_list_14-2,decimal) "." counter(lst-ctn-kix_list_14-3,decimal) ". ";
}
.modal-container .lst-kix_list_2-1 > li {
  counter-increment: lst-ctn-kix_list_2-1;
}
.modal-container ol.lst-kix_list_9-0.start {
  counter-reset: lst-ctn-kix_list_9-0 0;
}
.modal-container .lst-kix_list_14-0 > li:before {
  content: "" counter(lst-ctn-kix_list_14-0,decimal) ". ";
}
.modal-container .lst-kix_list_14-4 > li:before {
  content: "" counter(lst-ctn-kix_list_14-0,decimal) "." counter(lst-ctn-kix_list_14-1,decimal) "." counter(lst-ctn-kix_list_14-2,decimal) "." counter(lst-ctn-kix_list_14-3,decimal) "." counter(lst-ctn-kix_list_14-4,decimal) ". ";
}
.modal-container .lst-kix_list_6-1 > li {
  counter-increment: lst-ctn-kix_list_6-1;
}
.modal-container .lst-kix_list_14-5 > li:before {
  content: "" counter(lst-ctn-kix_list_14-0,decimal) "." counter(lst-ctn-kix_list_14-1,decimal) "." counter(lst-ctn-kix_list_14-2,decimal) "." counter(lst-ctn-kix_list_14-3,decimal) "." counter(lst-ctn-kix_list_14-4,decimal) "." counter(lst-ctn-kix_list_14-5,decimal) ". ";
}
.modal-container .lst-kix_list_14-7 > li:before {
  content: "" counter(lst-ctn-kix_list_14-0,decimal) "." counter(lst-ctn-kix_list_14-1,decimal) "." counter(lst-ctn-kix_list_14-2,decimal) "." counter(lst-ctn-kix_list_14-3,decimal) "." counter(lst-ctn-kix_list_14-4,decimal) "." counter(lst-ctn-kix_list_14-5,decimal) "." counter(lst-ctn-kix_list_14-6,decimal) "." counter(lst-ctn-kix_list_14-7,decimal) ". ";
}
.modal-container .lst-kix_list_14-6 > li:before {
  content: "" counter(lst-ctn-kix_list_14-0,decimal) "." counter(lst-ctn-kix_list_14-1,decimal) "." counter(lst-ctn-kix_list_14-2,decimal) "." counter(lst-ctn-kix_list_14-3,decimal) "." counter(lst-ctn-kix_list_14-4,decimal) "." counter(lst-ctn-kix_list_14-5,decimal) "." counter(lst-ctn-kix_list_14-6,decimal) ". ";
}
.modal-container .lst-kix_list_13-0 > li {
  counter-increment: lst-ctn-kix_list_13-0;
}
.modal-container ol.lst-kix_list_7-4.start {
  counter-reset: lst-ctn-kix_list_7-4 0;
}
.modal-container .lst-kix_list_5-0 > li {
  counter-increment: lst-ctn-kix_list_5-0;
}
.modal-container .lst-kix_list_9-0 > li {
  counter-increment: lst-ctn-kix_list_9-0;
}
.modal-container ol.lst-kix_list_2-3.start {
  counter-reset: lst-ctn-kix_list_2-3 0;
}
.modal-container ol.lst-kix_list_7-5 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_7-6 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_7-7 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_7-8 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_7-1 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_7-2 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_7-3 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_7-4 {
  list-style-type: none;
}
.modal-container .lst-kix_list_14-2 > li:before {
  content: "" counter(lst-ctn-kix_list_14-0,decimal) "." counter(lst-ctn-kix_list_14-1,decimal) "." counter(lst-ctn-kix_list_14-2,decimal) ". ";
}
.modal-container ol.lst-kix_list_5-3.start {
  counter-reset: lst-ctn-kix_list_5-3 0;
}
.modal-container ol.lst-kix_list_12-0.start {
  counter-reset: lst-ctn-kix_list_12-0 0;
}
.modal-container ol.lst-kix_list_3-7.start {
  counter-reset: lst-ctn-kix_list_3-7 0;
}
.modal-container .lst-kix_list_14-8 > li:before {
  content: "" counter(lst-ctn-kix_list_14-0,decimal) "." counter(lst-ctn-kix_list_14-1,decimal) "." counter(lst-ctn-kix_list_14-2,decimal) "." counter(lst-ctn-kix_list_14-3,decimal) "." counter(lst-ctn-kix_list_14-4,decimal) "." counter(lst-ctn-kix_list_14-5,decimal) "." counter(lst-ctn-kix_list_14-6,decimal) "." counter(lst-ctn-kix_list_14-7,decimal) "." counter(lst-ctn-kix_list_14-8,decimal) ". ";
}
.modal-container ol.lst-kix_list_8-8.start {
  counter-reset: lst-ctn-kix_list_8-8 0;
}
.modal-container .lst-kix_list_3-2 > li {
  counter-increment: lst-ctn-kix_list_3-2;
}
.modal-container ol.lst-kix_list_10-4.start {
  counter-reset: lst-ctn-kix_list_10-4 0;
}
.modal-container .lst-kix_list_7-2 > li {
  counter-increment: lst-ctn-kix_list_7-2;
}
.modal-container .lst-kix_list_5-0 > li:before {
  content: "(" counter(lst-ctn-kix_list_5-0,lower-roman) ") ";
}
.modal-container ol.lst-kix_list_6-0 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_6-1 {
  list-style-type: none;
}
.modal-container .lst-kix_list_14-8 > li {
  counter-increment: lst-ctn-kix_list_14-8;
}
.modal-container .lst-kix_list_5-4 > li {
  counter-increment: lst-ctn-kix_list_5-4;
}
.modal-container .lst-kix_list_1-4 > li {
  counter-increment: lst-ctn-kix_list_1-4;
}
.modal-container ol.lst-kix_list_1-6.start {
  counter-reset: lst-ctn-kix_list_1-6 0;
}
.modal-container .lst-kix_list_5-3 > li:before {
  content: "" counter(lst-ctn-kix_list_5-3,decimal) ". ";
}
.modal-container ol.lst-kix_list_9-5.start {
  counter-reset: lst-ctn-kix_list_9-5 0;
}
.modal-container .lst-kix_list_5-2 > li:before {
  content: "" counter(lst-ctn-kix_list_5-2,lower-roman) ". ";
}
.modal-container .lst-kix_list_8-3 > li {
  counter-increment: lst-ctn-kix_list_8-3;
}
.modal-container .lst-kix_list_5-1 > li:before {
  content: "" counter(lst-ctn-kix_list_5-1,lower-latin) ". ";
}
.modal-container ol.lst-kix_list_16-0 {
  list-style-type: none;
}
.modal-container .lst-kix_list_5-7 > li:before {
  content: "" counter(lst-ctn-kix_list_5-7,lower-latin) ". ";
}
.modal-container .lst-kix_list_5-6 > li:before {
  content: "" counter(lst-ctn-kix_list_5-6,decimal) ". ";
}
.modal-container .lst-kix_list_5-8 > li:before {
  content: "" counter(lst-ctn-kix_list_5-8,lower-roman) ". ";
}
.modal-container .lst-kix_list_9-4 > li {
  counter-increment: lst-ctn-kix_list_9-4;
}
.modal-container ol.lst-kix_list_6-6 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_6-7 {
  list-style-type: none;
}
.modal-container .lst-kix_list_5-4 > li:before {
  content: "" counter(lst-ctn-kix_list_5-4,lower-latin) ". ";
}
.modal-container ol.lst-kix_list_6-8 {
  list-style-type: none;
}
.modal-container .lst-kix_list_5-5 > li:before {
  content: "" counter(lst-ctn-kix_list_5-5,lower-roman) ". ";
}
.modal-container ol.lst-kix_list_6-2 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_6-3 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_6-4 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_6-5 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_14-1.start {
  counter-reset: lst-ctn-kix_list_14-1 0;
}
.modal-container ol.lst-kix_list_12-5.start {
  counter-reset: lst-ctn-kix_list_12-5 0;
}
.modal-container .lst-kix_list_6-1 > li:before {
  content: "" counter(lst-ctn-kix_list_6-1,lower-latin) ". ";
}
.modal-container .lst-kix_list_6-3 > li:before {
  content: "" counter(lst-ctn-kix_list_6-3,decimal) ". ";
}
.modal-container .lst-kix_list_6-5 > li {
  counter-increment: lst-ctn-kix_list_6-5;
}
.modal-container .lst-kix_list_6-8 > li {
  counter-increment: lst-ctn-kix_list_6-8;
}
.modal-container .lst-kix_list_6-0 > li:before {
  content: "" counter(lst-ctn-kix_list_6-0,decimal) ". ";
}
.modal-container .lst-kix_list_6-4 > li:before {
  content: "" counter(lst-ctn-kix_list_6-4,lower-latin) ". ";
}
.modal-container ol.lst-kix_list_14-8.start {
  counter-reset: lst-ctn-kix_list_14-8 0;
}
.modal-container ul.lst-kix_list_16-2 {
  list-style-type: none;
}
.modal-container ul.lst-kix_list_16-1 {
  list-style-type: none;
}
.modal-container .lst-kix_list_3-6 > li {
  counter-increment: lst-ctn-kix_list_3-6;
}
.modal-container .lst-kix_list_6-2 > li:before {
  content: "" counter(lst-ctn-kix_list_6-2,lower-roman) ". ";
}
.modal-container ul.lst-kix_list_16-8 {
  list-style-type: none;
}
.modal-container ul.lst-kix_list_16-7 {
  list-style-type: none;
}
.modal-container ul.lst-kix_list_16-6 {
  list-style-type: none;
}
.modal-container .lst-kix_list_2-5 > li {
  counter-increment: lst-ctn-kix_list_2-5;
}
.modal-container .lst-kix_list_2-8 > li {
  counter-increment: lst-ctn-kix_list_2-8;
}
.modal-container ol.lst-kix_list_3-2.start {
  counter-reset: lst-ctn-kix_list_3-2 0;
}
.modal-container ul.lst-kix_list_16-5 {
  list-style-type: none;
}
.modal-container ul.lst-kix_list_16-4 {
  list-style-type: none;
}
.modal-container .lst-kix_list_6-8 > li:before {
  content: "" counter(lst-ctn-kix_list_6-8,lower-roman) ". ";
}
.modal-container ul.lst-kix_list_16-3 {
  list-style-type: none;
}
.modal-container .lst-kix_list_6-5 > li:before {
  content: "" counter(lst-ctn-kix_list_6-5,lower-roman) ". ";
}
.modal-container .lst-kix_list_6-7 > li:before {
  content: "" counter(lst-ctn-kix_list_6-7,lower-latin) ". ";
}
.modal-container .lst-kix_list_6-6 > li:before {
  content: "" counter(lst-ctn-kix_list_6-6,decimal) ". ";
}
.modal-container ol.lst-kix_list_10-6.start {
  counter-reset: lst-ctn-kix_list_10-6 0;
}
.modal-container .lst-kix_list_7-4 > li:before {
  content: "" counter(lst-ctn-kix_list_7-4,lower-latin) ". ";
}
.modal-container .lst-kix_list_7-6 > li:before {
  content: "" counter(lst-ctn-kix_list_7-6,decimal) ". ";
}
.modal-container ol.lst-kix_list_6-2.start {
  counter-reset: lst-ctn-kix_list_6-2 0;
}
.modal-container .lst-kix_list_7-2 > li:before {
  content: "" counter(lst-ctn-kix_list_7-2,lower-roman) ". ";
}
.modal-container .lst-kix_list_7-6 > li {
  counter-increment: lst-ctn-kix_list_7-6;
}
.modal-container .lst-kix_list_8-6 > li {
  counter-increment: lst-ctn-kix_list_8-6;
}
.modal-container .lst-kix_list_12-6 > li {
  counter-increment: lst-ctn-kix_list_12-6;
}
.modal-container ol.lst-kix_list_9-7 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_9-8 {
  list-style-type: none;
}
.modal-container .lst-kix_list_13-7 > li:before {
  content: "\002022  ";
}
.modal-container ol.lst-kix_list_3-0.start {
  counter-reset: lst-ctn-kix_list_3-0 0;
}
.modal-container ol.lst-kix_list_9-3 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_9-4 {
  list-style-type: none;
}
.modal-container .lst-kix_list_5-7 > li {
  counter-increment: lst-ctn-kix_list_5-7;
}
.modal-container ol.lst-kix_list_9-5 {
  list-style-type: none;
}
.modal-container .lst-kix_list_7-8 > li:before {
  content: "" counter(lst-ctn-kix_list_7-8,lower-roman) ". ";
}
.modal-container ol.lst-kix_list_9-6 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_9-0 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_9-1 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_9-2 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_2-5.start {
  counter-reset: lst-ctn-kix_list_2-5 0;
}
.modal-container .lst-kix_list_15-5 > li:before {
  content: "\0025aa  ";
}
.modal-container .lst-kix_list_9-8 > li {
  counter-increment: lst-ctn-kix_list_9-8;
}
.modal-container .lst-kix_list_4-1 > li:before {
  content: "\0025cf  ";
}
.modal-container .lst-kix_list_15-7 > li:before {
  content: "o  ";
}
.modal-container .lst-kix_list_4-3 > li:before {
  content: "\0025cf  ";
}
.modal-container .lst-kix_list_4-5 > li:before {
  content: "\0025cf  ";
}
.modal-container .lst-kix_list_1-8 > li {
  counter-increment: lst-ctn-kix_list_1-8;
}
.modal-container .lst-kix_list_10-5 > li {
  counter-increment: lst-ctn-kix_list_10-5;
}
.modal-container .lst-kix_list_15-1 > li:before {
  content: "o  ";
}
.modal-container ol.lst-kix_list_1-4.start {
  counter-reset: lst-ctn-kix_list_1-4 0;
}
.modal-container .lst-kix_list_3-5 > li {
  counter-increment: lst-ctn-kix_list_3-5;
}
.modal-container ol.lst-kix_list_1-1.start {
  counter-reset: lst-ctn-kix_list_1-1 0;
}
.modal-container .lst-kix_list_15-3 > li:before {
  content: "\0025cf  ";
}
.modal-container .lst-kix_list_6-4 > li {
  counter-increment: lst-ctn-kix_list_6-4;
}
.modal-container ol.lst-kix_list_9-2.start {
  counter-reset: lst-ctn-kix_list_9-2 0;
}
.modal-container .lst-kix_list_9-3 > li {
  counter-increment: lst-ctn-kix_list_9-3;
}
.modal-container ol.lst-kix_list_2-8.start {
  counter-reset: lst-ctn-kix_list_2-8 0;
}
.modal-container ol.lst-kix_list_8-8 {
  list-style-type: none;
}
.modal-container .lst-kix_list_12-3 > li:before {
  content: "" counter(lst-ctn-kix_list_12-3,decimal) ". ";
}
.modal-container ol.lst-kix_list_7-6.start {
  counter-reset: lst-ctn-kix_list_7-6 0;
}
.modal-container ol.lst-kix_list_8-4 {
  list-style-type: none;
}
.modal-container .lst-kix_list_12-1 > li:before {
  content: "" counter(lst-ctn-kix_list_12-1,lower-latin) ". ";
}
.modal-container ol.lst-kix_list_8-5 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_8-6 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_8-7 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_8-0 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_8-1 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_8-2 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_8-3 {
  list-style-type: none;
}
.modal-container .lst-kix_list_10-4 > li {
  counter-increment: lst-ctn-kix_list_10-4;
}
.modal-container .lst-kix_list_14-1 > li {
  counter-increment: lst-ctn-kix_list_14-1;
}
.modal-container .lst-kix_list_13-3 > li:before {
  content: "\002022  ";
}
.modal-container ol.lst-kix_list_5-8.start {
  counter-reset: lst-ctn-kix_list_5-8 0;
}
.modal-container .lst-kix_list_1-3 > li {
  counter-increment: lst-ctn-kix_list_1-3;
}
.modal-container .lst-kix_list_13-5 > li:before {
  content: "\002022  ";
}
.modal-container .lst-kix_list_12-5 > li:before {
  content: "" counter(lst-ctn-kix_list_12-5,lower-roman) ". ";
}
.modal-container ol.lst-kix_list_12-2.start {
  counter-reset: lst-ctn-kix_list_12-2 0;
}
.modal-container .lst-kix_list_12-7 > li:before {
  content: "" counter(lst-ctn-kix_list_12-7,lower-latin) ". ";
}
.modal-container ol.lst-kix_list_6-0.start {
  counter-reset: lst-ctn-kix_list_6-0 0;
}
.modal-container .lst-kix_list_13-1 > li:before {
  content: "\002022  ";
}
.modal-container ol.lst-kix_list_3-1 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_3-2 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_3-3 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_3-4.start {
  counter-reset: lst-ctn-kix_list_3-4 0;
}
.modal-container .lst-kix_list_5-1 > li {
  counter-increment: lst-ctn-kix_list_5-1;
}
.modal-container ol.lst-kix_list_3-4 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_3-0 {
  list-style-type: none;
}
.modal-container .lst-kix_list_1-1 > li {
  counter-increment: lst-ctn-kix_list_1-1;
}
.modal-container .lst-kix_list_7-1 > li {
  counter-increment: lst-ctn-kix_list_7-1;
}
.modal-container ol.lst-kix_list_2-6.start {
  counter-reset: lst-ctn-kix_list_2-6 0;
}
.modal-container .lst-kix_list_3-0 > li:before {
  content: "" counter(lst-ctn-kix_list_3-0,decimal) ". ";
}
.modal-container .lst-kix_list_16-0 > li {
  counter-increment: lst-ctn-kix_list_16-0;
}
.modal-container .lst-kix_list_8-0 > li {
  counter-increment: lst-ctn-kix_list_8-0;
}
.modal-container .lst-kix_list_10-0 > li {
  counter-increment: lst-ctn-kix_list_10-0;
}
.modal-container .lst-kix_list_3-4 > li:before {
  content: "" counter(lst-ctn-kix_list_3-4,lower-latin) ". ";
}
.modal-container .lst-kix_list_3-3 > li:before {
  content: "" counter(lst-ctn-kix_list_3-3,decimal) ". ";
}
.modal-container ol.lst-kix_list_3-5 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_3-6 {
  list-style-type: none;
}
.modal-container .lst-kix_list_8-0 > li:before {
  content: "(" counter(lst-ctn-kix_list_8-0,lower-roman) ") ";
}
.modal-container ol.lst-kix_list_3-7 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_3-8 {
  list-style-type: none;
}
.modal-container .lst-kix_list_8-7 > li:before {
  content: "" counter(lst-ctn-kix_list_8-7,lower-latin) ". ";
}
.modal-container .lst-kix_list_3-8 > li:before {
  content: "" counter(lst-ctn-kix_list_3-8,lower-roman) ". ";
}
.modal-container ol.lst-kix_list_10-7.start {
  counter-reset: lst-ctn-kix_list_10-7 0;
}
.modal-container .lst-kix_list_8-3 > li:before {
  content: "" counter(lst-ctn-kix_list_8-3,decimal) ". ";
}
.modal-container ul.lst-kix_list_13-5 {
  list-style-type: none;
}
.modal-container ul.lst-kix_list_13-4 {
  list-style-type: none;
}
.modal-container ul.lst-kix_list_13-3 {
  list-style-type: none;
}
.modal-container ul.lst-kix_list_13-2 {
  list-style-type: none;
}
.modal-container ul.lst-kix_list_13-1 {
  list-style-type: none;
}
.modal-container .lst-kix_list_3-7 > li:before {
  content: "" counter(lst-ctn-kix_list_3-7,lower-latin) ". ";
}
.modal-container .lst-kix_list_8-4 > li:before {
  content: "" counter(lst-ctn-kix_list_8-4,lower-latin) ". ";
}
.modal-container .lst-kix_list_10-2 > li {
  counter-increment: lst-ctn-kix_list_10-2;
}
.modal-container ol.lst-kix_list_8-5.start {
  counter-reset: lst-ctn-kix_list_8-5 0;
}
.modal-container ul.lst-kix_list_13-8 {
  list-style-type: none;
}
.modal-container .lst-kix_list_11-1 > li:before {
  content: "o  ";
}
.modal-container ul.lst-kix_list_13-7 {
  list-style-type: none;
}
.modal-container ul.lst-kix_list_13-6 {
  list-style-type: none;
}
.modal-container .lst-kix_list_11-0 > li:before {
  content: "\0025cf  ";
}
.modal-container ol.lst-kix_list_9-3.start {
  counter-reset: lst-ctn-kix_list_9-3 0;
}
.modal-container .lst-kix_list_8-8 > li:before {
  content: "" counter(lst-ctn-kix_list_8-8,lower-roman) ". ";
}
.modal-container ol.lst-kix_list_2-2 {
  list-style-type: none;
}
.modal-container .lst-kix_list_16-8 > li:before {
  content: "\0025aa  ";
}
.modal-container ol.lst-kix_list_2-3 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_2-4 {
  list-style-type: none;
}
.modal-container .lst-kix_list_16-7 > li:before {
  content: "o  ";
}
.modal-container ol.lst-kix_list_7-2.start {
  counter-reset: lst-ctn-kix_list_7-2 0;
}
.modal-container ol.lst-kix_list_2-5 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_2-0 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_2-1 {
  list-style-type: none;
}
.modal-container .lst-kix_list_4-8 > li:before {
  content: "\0025cf  ";
}
.modal-container ol.lst-kix_list_12-5 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_12-6 {
  list-style-type: none;
}
.modal-container .lst-kix_list_4-7 > li:before {
  content: "\0025cf  ";
}
.modal-container ol.lst-kix_list_12-7 {
  list-style-type: none;
}
.modal-container .lst-kix_list_14-2 > li {
  counter-increment: lst-ctn-kix_list_14-2;
}
.modal-container ol.lst-kix_list_12-8 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_12-1 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_12-2 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_12-3 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_12-4 {
  list-style-type: none;
}
.modal-container ul.lst-kix_list_4-8 {
  list-style-type: none;
}
.modal-container .lst-kix_list_16-0 > li:before {
  content: "" counter(lst-ctn-kix_list_16-0,lower-latin) ") ";
}
.modal-container ul.lst-kix_list_4-6 {
  list-style-type: none;
}
.modal-container ul.lst-kix_list_4-7 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_12-0 {
  list-style-type: none;
}
.modal-container .lst-kix_list_8-4 > li {
  counter-increment: lst-ctn-kix_list_8-4;
}
.modal-container ul.lst-kix_list_4-0 {
  list-style-type: none;
}
.modal-container .lst-kix_list_16-4 > li:before {
  content: "o  ";
}
.modal-container ul.lst-kix_list_4-1 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_3-3.start {
  counter-reset: lst-ctn-kix_list_3-3 0;
}
.modal-container ol.lst-kix_list_10-8.start {
  counter-reset: lst-ctn-kix_list_10-8 0;
}
.modal-container .lst-kix_list_16-3 > li:before {
  content: "\0025cf  ";
}
.modal-container ul.lst-kix_list_4-4 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_2-6 {
  list-style-type: none;
}
.modal-container ul.lst-kix_list_4-5 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_2-7 {
  list-style-type: none;
}
.modal-container ul.lst-kix_list_4-2 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_2-8 {
  list-style-type: none;
}
.modal-container ul.lst-kix_list_4-3 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_7-1.start {
  counter-reset: lst-ctn-kix_list_7-1 0;
}
.modal-container ol.lst-kix_list_8-6.start {
  counter-reset: lst-ctn-kix_list_8-6 0;
}
.modal-container ol.lst-kix_list_8-0.start {
  counter-reset: lst-ctn-kix_list_8-0 0;
}
.modal-container .lst-kix_list_7-0 > li:before {
  content: "(" counter(lst-ctn-kix_list_7-0,lower-roman) ") ";
}
.modal-container .lst-kix_list_2-2 > li {
  counter-increment: lst-ctn-kix_list_2-2;
}
.modal-container ol.lst-kix_list_5-0 {
  list-style-type: none;
}
.modal-container .lst-kix_list_3-7 > li {
  counter-increment: lst-ctn-kix_list_3-7;
}
.modal-container ol.lst-kix_list_5-1 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_9-7.start {
  counter-reset: lst-ctn-kix_list_9-7 0;
}
.modal-container ol.lst-kix_list_5-2 {
  list-style-type: none;
}
.modal-container .lst-kix_list_2-4 > li:before {
  content: "" counter(lst-ctn-kix_list_2-0,decimal) "." counter(lst-ctn-kix_list_2-1,decimal) "." counter(lst-ctn-kix_list_2-2,decimal) "." counter(lst-ctn-kix_list_2-3,decimal) "." counter(lst-ctn-kix_list_2-4,decimal) ". ";
}
.modal-container .lst-kix_list_2-8 > li:before {
  content: "" counter(lst-ctn-kix_list_2-0,decimal) "." counter(lst-ctn-kix_list_2-1,decimal) "." counter(lst-ctn-kix_list_2-2,decimal) "." counter(lst-ctn-kix_list_2-3,decimal) "." counter(lst-ctn-kix_list_2-4,decimal) "." counter(lst-ctn-kix_list_2-5,decimal) "." counter(lst-ctn-kix_list_2-6,decimal) "." counter(lst-ctn-kix_list_2-7,decimal) "." counter(lst-ctn-kix_list_2-8,decimal) ". ";
}
.modal-container ol.lst-kix_list_13-0 {
  list-style-type: none;
}
.modal-container .lst-kix_list_6-6 > li {
  counter-increment: lst-ctn-kix_list_6-6;
}
.modal-container .lst-kix_list_7-3 > li:before {
  content: "" counter(lst-ctn-kix_list_7-3,decimal) ". ";
}
.modal-container .lst-kix_list_10-0 > li:before {
  content: "" counter(lst-ctn-kix_list_10-0,decimal) ". ";
}
.modal-container .lst-kix_list_9-7 > li {
  counter-increment: lst-ctn-kix_list_9-7;
}
.modal-container .lst-kix_list_13-8 > li:before {
  content: "\002022  ";
}
.modal-container ol.lst-kix_list_14-6.start {
  counter-reset: lst-ctn-kix_list_14-6 0;
}
.modal-container ol.lst-kix_list_5-7 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_5-8 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_5-3 {
  list-style-type: none;
}
.modal-container .lst-kix_list_8-7 > li {
  counter-increment: lst-ctn-kix_list_8-7;
}
.modal-container ol.lst-kix_list_5-4 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_3-8.start {
  counter-reset: lst-ctn-kix_list_3-8 0;
}
.modal-container ol.lst-kix_list_5-5 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_5-6 {
  list-style-type: none;
}
.modal-container .lst-kix_list_7-7 > li:before {
  content: "" counter(lst-ctn-kix_list_7-7,lower-latin) ". ";
}
.modal-container ol.lst-kix_list_8-1.start {
  counter-reset: lst-ctn-kix_list_8-1 0;
}
.modal-container .lst-kix_list_15-4 > li:before {
  content: "o  ";
}
.modal-container .lst-kix_list_9-5 > li {
  counter-increment: lst-ctn-kix_list_9-5;
}
.modal-container .lst-kix_list_5-8 > li {
  counter-increment: lst-ctn-kix_list_5-8;
}
.modal-container .lst-kix_list_10-4 > li:before {
  content: "" counter(lst-ctn-kix_list_10-4,lower-latin) ". ";
}
.modal-container .lst-kix_list_10-8 > li:before {
  content: "" counter(lst-ctn-kix_list_10-8,lower-roman) ". ";
}
.modal-container .lst-kix_list_4-0 > li:before {
  content: "\0025cf  ";
}
.modal-container ul.lst-kix_list_15-3 {
  list-style-type: none;
}
.modal-container ul.lst-kix_list_15-2 {
  list-style-type: none;
}
.modal-container .lst-kix_list_15-0 > li:before {
  content: "\0025cf  ";
}
.modal-container ul.lst-kix_list_15-1 {
  list-style-type: none;
}
.modal-container .lst-kix_list_15-8 > li:before {
  content: "\0025aa  ";
}
.modal-container ul.lst-kix_list_15-0 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_14-3.start {
  counter-reset: lst-ctn-kix_list_14-3 0;
}
.modal-container .lst-kix_list_4-4 > li:before {
  content: "\0025cf  ";
}
.modal-container ol.lst-kix_list_2-2.start {
  counter-reset: lst-ctn-kix_list_2-2 0;
}
.modal-container ul.lst-kix_list_15-8 {
  list-style-type: none;
}
.modal-container ul.lst-kix_list_15-7 {
  list-style-type: none;
}
.modal-container ul.lst-kix_list_15-6 {
  list-style-type: none;
}
.modal-container .lst-kix_list_9-3 > li:before {
  content: "" counter(lst-ctn-kix_list_9-3,decimal) ". ";
}
.modal-container ul.lst-kix_list_15-5 {
  list-style-type: none;
}
.modal-container ul.lst-kix_list_15-4 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_7-0.start {
  counter-reset: lst-ctn-kix_list_7-0 0;
}
.modal-container .lst-kix_list_12-8 > li {
  counter-increment: lst-ctn-kix_list_12-8;
}
.modal-container ol.lst-kix_list_14-7 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_14-4.start {
  counter-reset: lst-ctn-kix_list_14-4 0;
}
.modal-container ol.lst-kix_list_14-8 {
  list-style-type: none;
}
.modal-container .lst-kix_list_9-7 > li:before {
  content: "" counter(lst-ctn-kix_list_9-7,lower-latin) ". ";
}
.modal-container .lst-kix_list_2-4 > li {
  counter-increment: lst-ctn-kix_list_2-4;
}
.modal-container ol.lst-kix_list_14-3 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_3-6.start {
  counter-reset: lst-ctn-kix_list_3-6 0;
}
.modal-container ol.lst-kix_list_14-4 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_14-5 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_14-6 {
  list-style-type: none;
}
.modal-container .lst-kix_list_11-4 > li:before {
  content: "o  ";
}
.modal-container ol.lst-kix_list_14-0 {
  list-style-type: none;
}
.modal-container .lst-kix_list_12-4 > li:before {
  content: "" counter(lst-ctn-kix_list_12-4,lower-latin) ". ";
}
.modal-container ol.lst-kix_list_14-1 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_14-2 {
  list-style-type: none;
}
.modal-container .lst-kix_list_5-3 > li {
  counter-increment: lst-ctn-kix_list_5-3;
}
.modal-container .lst-kix_list_7-4 > li {
  counter-increment: lst-ctn-kix_list_7-4;
}
.modal-container .lst-kix_list_1-0 > li:before {
  content: "" counter(lst-ctn-kix_list_1-0,decimal) ". ";
}
.modal-container .lst-kix_list_11-8 > li:before {
  content: "\0025aa  ";
}
.modal-container .lst-kix_list_12-3 > li {
  counter-increment: lst-ctn-kix_list_12-3;
}
.modal-container ol.lst-kix_list_2-0.start {
  counter-reset: lst-ctn-kix_list_2-0 0;
}
.modal-container .lst-kix_list_12-0 > li:before {
  content: "" counter(lst-ctn-kix_list_12-0,decimal) ". ";
}
.modal-container ol.lst-kix_list_8-4.start {
  counter-reset: lst-ctn-kix_list_8-4 0;
}
.modal-container .lst-kix_list_1-4 > li:before {
  content: "" counter(lst-ctn-kix_list_1-4,lower-latin) ". ";
}
.modal-container .lst-kix_list_13-0 > li:before {
  content: "" counter(lst-ctn-kix_list_13-0,decimal) ". ";
}
.modal-container ol.lst-kix_list_3-5.start {
  counter-reset: lst-ctn-kix_list_3-5 0;
}
.modal-container .lst-kix_list_1-6 > li {
  counter-increment: lst-ctn-kix_list_1-6;
}
.modal-container ol.lst-kix_list_13-0.start {
  counter-reset: lst-ctn-kix_list_13-0 0;
}
.modal-container .lst-kix_list_14-4 > li {
  counter-increment: lst-ctn-kix_list_14-4;
}
.modal-container .lst-kix_list_13-4 > li:before {
  content: "\002022  ";
}
.modal-container .lst-kix_list_10-7 > li {
  counter-increment: lst-ctn-kix_list_10-7;
}
.modal-container .lst-kix_list_2-0 > li:before {
  content: "" counter(lst-ctn-kix_list_2-0,decimal) ". ";
}
.modal-container ol.lst-kix_list_2-1.start {
  counter-reset: lst-ctn-kix_list_2-1 1;
}
.modal-container ol.lst-kix_list_8-3.start {
  counter-reset: lst-ctn-kix_list_8-3 0;
}
.modal-container ol.lst-kix_list_14-5.start {
  counter-reset: lst-ctn-kix_list_14-5 0;
}
.modal-container ol.lst-kix_list_9-8.start {
  counter-reset: lst-ctn-kix_list_9-8 0;
}
.modal-container .lst-kix_list_1-8 > li:before {
  content: "" counter(lst-ctn-kix_list_1-8,lower-roman) ". ";
}
.modal-container .lst-kix_list_12-8 > li:before {
  content: "" counter(lst-ctn-kix_list_12-8,lower-roman) ". ";
}
.modal-container .lst-kix_list_8-2 > li {
  counter-increment: lst-ctn-kix_list_8-2;
}
.modal-container ol.lst-kix_list_12-6.start {
  counter-reset: lst-ctn-kix_list_12-6 0;
}
.modal-container .lst-kix_list_8-1 > li {
  counter-increment: lst-ctn-kix_list_8-1;
}
.modal-container ol.lst-kix_list_8-2.start {
  counter-reset: lst-ctn-kix_list_8-2 0;
}
.modal-container ol.lst-kix_list_3-1.start {
  counter-reset: lst-ctn-kix_list_3-1 0;
}
.modal-container ol.lst-kix_list_6-6.start {
  counter-reset: lst-ctn-kix_list_6-6 0;
}
.modal-container .lst-kix_list_7-0 > li {
  counter-increment: lst-ctn-kix_list_7-0;
}
.modal-container ol.lst-kix_list_1-5.start {
  counter-reset: lst-ctn-kix_list_1-5 0;
}
.modal-container ol.lst-kix_list_9-6.start {
  counter-reset: lst-ctn-kix_list_9-6 0;
}
.modal-container .lst-kix_list_2-3 > li {
  counter-increment: lst-ctn-kix_list_2-3;
}
.modal-container .lst-kix_list_1-2 > li {
  counter-increment: lst-ctn-kix_list_1-2;
}
.modal-container ol.lst-kix_list_14-7.start {
  counter-reset: lst-ctn-kix_list_14-7 0;
}
.modal-container .lst-kix_list_5-2 > li {
  counter-increment: lst-ctn-kix_list_5-2;
}
.modal-container .lst-kix_list_9-2 > li {
  counter-increment: lst-ctn-kix_list_9-2;
}
.modal-container ol.lst-kix_list_8-7.start {
  counter-reset: lst-ctn-kix_list_8-7 0;
}
.modal-container .lst-kix_list_14-3 > li {
  counter-increment: lst-ctn-kix_list_14-3;
}
.modal-container .lst-kix_list_10-3 > li {
  counter-increment: lst-ctn-kix_list_10-3;
}
.modal-container .lst-kix_list_12-1 > li {
  counter-increment: lst-ctn-kix_list_12-1;
}
.modal-container ol.lst-kix_list_1-0.start {
  counter-reset: lst-ctn-kix_list_1-0 0;
}
.modal-container .lst-kix_list_3-0 > li {
  counter-increment: lst-ctn-kix_list_3-0;
}
.modal-container ol.lst-kix_list_14-2.start {
  counter-reset: lst-ctn-kix_list_14-2 0;
}
.modal-container ol.lst-kix_list_2-4.start {
  counter-reset: lst-ctn-kix_list_2-4 0;
}
.modal-container ol.lst-kix_list_1-3 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_1-4 {
  list-style-type: none;
}
.modal-container .lst-kix_list_2-7 > li:before {
  content: "" counter(lst-ctn-kix_list_2-0,decimal) "." counter(lst-ctn-kix_list_2-1,decimal) "." counter(lst-ctn-kix_list_2-2,decimal) "." counter(lst-ctn-kix_list_2-3,decimal) "." counter(lst-ctn-kix_list_2-4,decimal) "." counter(lst-ctn-kix_list_2-5,decimal) "." counter(lst-ctn-kix_list_2-6,decimal) "." counter(lst-ctn-kix_list_2-7,decimal) ". ";
}
.modal-container .lst-kix_list_2-7 > li {
  counter-increment: lst-ctn-kix_list_2-7;
}
.modal-container ol.lst-kix_list_1-5 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_1-6 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_1-0 {
  list-style-type: none;
}
.modal-container .lst-kix_list_2-5 > li:before {
  content: "" counter(lst-ctn-kix_list_2-0,decimal) "." counter(lst-ctn-kix_list_2-1,decimal) "." counter(lst-ctn-kix_list_2-2,decimal) "." counter(lst-ctn-kix_list_2-3,decimal) "." counter(lst-ctn-kix_list_2-4,decimal) "." counter(lst-ctn-kix_list_2-5,decimal) ". ";
}
.modal-container ol.lst-kix_list_1-1 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_1-2 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_10-3.start {
  counter-reset: lst-ctn-kix_list_10-3 0;
}
.modal-container ol.lst-kix_list_9-4.start {
  counter-reset: lst-ctn-kix_list_9-4 0;
}
.modal-container .lst-kix_list_14-6 > li {
  counter-increment: lst-ctn-kix_list_14-6;
}
.modal-container .lst-kix_list_10-1 > li:before {
  content: "" counter(lst-ctn-kix_list_10-1,lower-latin) ". ";
}
.modal-container .lst-kix_list_7-7 > li {
  counter-increment: lst-ctn-kix_list_7-7;
}
.modal-container ol.lst-kix_list_1-7 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_1-8 {
  list-style-type: none;
}
.modal-container .lst-kix_list_10-7 > li:before {
  content: "" counter(lst-ctn-kix_list_10-7,lower-latin) ". ";
}
.modal-container .lst-kix_list_7-8 > li {
  counter-increment: lst-ctn-kix_list_7-8;
}
.modal-container .lst-kix_list_10-5 > li:before {
  content: "" counter(lst-ctn-kix_list_10-5,lower-roman) ". ";
}
.modal-container .lst-kix_list_10-3 > li:before {
  content: "" counter(lst-ctn-kix_list_10-3,decimal) ". ";
}
.modal-container ul.lst-kix_list_11-7 {
  list-style-type: none;
}
.modal-container ul.lst-kix_list_11-6 {
  list-style-type: none;
}
.modal-container .lst-kix_list_2-6 > li {
  counter-increment: lst-ctn-kix_list_2-6;
}
.modal-container ol.lst-kix_list_7-3.start {
  counter-reset: lst-ctn-kix_list_7-3 0;
}
.modal-container ul.lst-kix_list_11-5 {
  list-style-type: none;
}
.modal-container ul.lst-kix_list_11-4 {
  list-style-type: none;
}
.modal-container ul.lst-kix_list_11-3 {
  list-style-type: none;
}
.modal-container ul.lst-kix_list_11-2 {
  list-style-type: none;
}
.modal-container ul.lst-kix_list_11-1 {
  list-style-type: none;
}
.modal-container ul.lst-kix_list_11-0 {
  list-style-type: none;
}
.modal-container .lst-kix_list_9-2 > li:before {
  content: "" counter(lst-ctn-kix_list_9-2,lower-roman) ". ";
}
.modal-container ol.lst-kix_list_5-7.start {
  counter-reset: lst-ctn-kix_list_5-7 0;
}
.modal-container ol.lst-kix_list_14-0.start {
  counter-reset: lst-ctn-kix_list_14-0 6;
}
.modal-container ul.lst-kix_list_11-8 {
  list-style-type: none;
}
.modal-container .lst-kix_list_12-5 > li {
  counter-increment: lst-ctn-kix_list_12-5;
}
.modal-container .lst-kix_list_5-5 > li {
  counter-increment: lst-ctn-kix_list_5-5;
}
.modal-container .lst-kix_list_9-0 > li:before {
  content: "" counter(lst-ctn-kix_list_9-0,decimal) ". ";
}
.modal-container .lst-kix_list_3-4 > li {
  counter-increment: lst-ctn-kix_list_3-4;
}
.modal-container ol.lst-kix_list_10-7 {
  list-style-type: none;
}
.modal-container .lst-kix_list_9-6 > li:before {
  content: "" counter(lst-ctn-kix_list_9-6,decimal) ". ";
}
.modal-container ol.lst-kix_list_10-8 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_10-3 {
  list-style-type: none;
}
.modal-container .lst-kix_list_9-4 > li:before {
  content: "" counter(lst-ctn-kix_list_9-4,lower-latin) ". ";
}
.modal-container ol.lst-kix_list_10-4 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_10-5 {
  list-style-type: none;
}
.modal-container .lst-kix_list_11-3 > li:before {
  content: "\0025cf  ";
}
.modal-container ol.lst-kix_list_10-6 {
  list-style-type: none;
}
.modal-container .lst-kix_list_6-3 > li {
  counter-increment: lst-ctn-kix_list_6-3;
}
.modal-container ol.lst-kix_list_10-0 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_10-1 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_1-3.start {
  counter-reset: lst-ctn-kix_list_1-3 0;
}
.modal-container ol.lst-kix_list_10-2 {
  list-style-type: none;
}
.modal-container ol.lst-kix_list_12-1.start {
  counter-reset: lst-ctn-kix_list_12-1 0;
}
.modal-container ol.lst-kix_list_1-2.start {
  counter-reset: lst-ctn-kix_list_1-2 0;
}
.modal-container .lst-kix_list_11-5 > li:before {
  content: "\0025aa  ";
}
.modal-container ol.lst-kix_list_6-1.start {
  counter-reset: lst-ctn-kix_list_6-1 0;
}
.modal-container .lst-kix_list_9-8 > li:before {
  content: "" counter(lst-ctn-kix_list_9-8,lower-roman) ". ";
}
.modal-container .lst-kix_list_1-1 > li:before {
  content: "" counter(lst-ctn-kix_list_1-1,lower-latin) ". ";
}
.modal-container .lst-kix_list_11-7 > li:before {
  content: "o  ";
}
.modal-container .lst-kix_list_8-5 > li {
  counter-increment: lst-ctn-kix_list_8-5;
}
.modal-container .lst-kix_list_1-3 > li:before {
  content: "" counter(lst-ctn-kix_list_1-3,decimal) ". ";
}
.modal-container ol.lst-kix_list_10-5.start {
  counter-reset: lst-ctn-kix_list_10-5 0;
}
.modal-container .lst-kix_list_1-7 > li:before {
  content: "" counter(lst-ctn-kix_list_1-7,lower-latin) ". ";
}
.modal-container ol.lst-kix_list_2-7.start {
  counter-reset: lst-ctn-kix_list_2-7 0;
}
.modal-container .lst-kix_list_1-5 > li:before {
  content: "" counter(lst-ctn-kix_list_1-5,lower-roman) ". ";
}
.modal-container ol.lst-kix_list_9-1.start {
  counter-reset: lst-ctn-kix_list_9-1 0;
}
.modal-container .lst-kix_list_14-7 > li {
  counter-increment: lst-ctn-kix_list_14-7;
}
.modal-container .lst-kix_list_5-6 > li {
  counter-increment: lst-ctn-kix_list_5-6;
}
.modal-container ol.lst-kix_list_7-5.start {
  counter-reset: lst-ctn-kix_list_7-5 0;
}
.modal-container .lst-kix_list_2-1 > li:before {
  content: "" counter(lst-ctn-kix_list_2-0,decimal) "." counter(lst-ctn-kix_list_2-1,decimal) ". ";
}
.modal-container .lst-kix_list_2-3 > li:before {
  content: "" counter(lst-ctn-kix_list_2-0,decimal) "." counter(lst-ctn-kix_list_2-1,decimal) "." counter(lst-ctn-kix_list_2-2,decimal) "." counter(lst-ctn-kix_list_2-3,decimal) ". ";
}
.modal-container .lst-kix_list_3-1 > li {
  counter-increment: lst-ctn-kix_list_3-1;
}
.modal-container .lst-kix_list_9-1 > li {
  counter-increment: lst-ctn-kix_list_9-1;
}
.modal-container ol.lst-kix_list_7-7.start {
  counter-reset: lst-ctn-kix_list_7-7 0;
}
.modal-container .lst-kix_list_3-1 > li:before {
  content: "" counter(lst-ctn-kix_list_3-1,lower-latin) ". ";
}
.modal-container .lst-kix_list_3-2 > li:before {
  content: "" counter(lst-ctn-kix_list_3-2,lower-roman) ". ";
}
.modal-container .lst-kix_list_14-0 > li {
  counter-increment: lst-ctn-kix_list_14-0;
}
.modal-container .lst-kix_list_8-1 > li:before {
  content: "" counter(lst-ctn-kix_list_8-1,lower-latin) ". ";
}
.modal-container ol.lst-kix_list_1-8.start {
  counter-reset: lst-ctn-kix_list_1-8 0;
}
.modal-container .lst-kix_list_8-2 > li:before {
  content: "" counter(lst-ctn-kix_list_8-2,lower-roman) ". ";
}
.modal-container .lst-kix_list_6-0 > li {
  counter-increment: lst-ctn-kix_list_6-0;
}
.modal-container .lst-kix_list_3-5 > li:before {
  content: "" counter(lst-ctn-kix_list_3-5,lower-roman) ". ";
}
.modal-container .lst-kix_list_12-0 > li {
  counter-increment: lst-ctn-kix_list_12-0;
}
.modal-container ol.lst-kix_list_12-3.start {
  counter-reset: lst-ctn-kix_list_12-3 0;
}
.modal-container .lst-kix_list_8-5 > li:before {
  content: "" counter(lst-ctn-kix_list_8-5,lower-roman) ". ";
}
.modal-container .lst-kix_list_8-6 > li:before {
  content: "" counter(lst-ctn-kix_list_8-6,decimal) ". ";
}
.modal-container .lst-kix_list_2-0 > li {
  counter-increment: lst-ctn-kix_list_2-0;
}
.modal-container .lst-kix_list_3-6 > li:before {
  content: "" counter(lst-ctn-kix_list_3-6,decimal) ". ";
}
.modal-container ol.lst-kix_list_5-0.start {
  counter-reset: lst-ctn-kix_list_5-0 0;
}
.modal-container .lst-kix_list_11-2 > li:before {
  content: "\0025aa  ";
}
.modal-container ol.lst-kix_list_16-0.start {
  counter-reset: lst-ctn-kix_list_16-0 0;
}
.modal-container ol.lst-kix_list_12-4.start {
  counter-reset: lst-ctn-kix_list_12-4 0;
}
.modal-container .lst-kix_list_16-6 > li:before {
  content: "\0025cf  ";
}
.modal-container ol.lst-kix_list_10-1.start {
  counter-reset: lst-ctn-kix_list_10-1 0;
}
.modal-container ol.lst-kix_list_6-4.start {
  counter-reset: lst-ctn-kix_list_6-4 0;
}
.modal-container ol.lst-kix_list_5-6.start {
  counter-reset: lst-ctn-kix_list_5-6 0;
}
.modal-container .lst-kix_list_16-1 > li:before {
  content: "o  ";
}
.modal-container .lst-kix_list_7-3 > li {
  counter-increment: lst-ctn-kix_list_7-3;
}
.modal-container .lst-kix_list_16-2 > li:before {
  content: "\0025aa  ";
}
.modal-container .lst-kix_list_16-5 > li:before {
  content: "\0025aa  ";
}
.modal-container ol.lst-kix_list_7-8.start {
  counter-reset: lst-ctn-kix_list_7-8 0;
}
.modal-container .lst-kix_list_12-4 > li {
  counter-increment: lst-ctn-kix_list_12-4;
}
.modal-container .lst-kix_list_3-3 > li {
  counter-increment: lst-ctn-kix_list_3-3;
}
.modal-container ol.lst-kix_list_6-3.start {
  counter-reset: lst-ctn-kix_list_6-3 0;
}
.modal-container ol.lst-kix_list_10-2.start {
  counter-reset: lst-ctn-kix_list_10-2 0;
}
.modal-container .lst-kix_list_12-7 > li {
  counter-increment: lst-ctn-kix_list_12-7;
}
.modal-container ol.lst-kix_list_5-5.start {
  counter-reset: lst-ctn-kix_list_5-5 0;
}
.modal-container .lst-kix_list_6-2 > li {
  counter-increment: lst-ctn-kix_list_6-2;
}
.modal-container .lst-kix_list_2-6 > li:before {
  content: "" counter(lst-ctn-kix_list_2-0,decimal) "." counter(lst-ctn-kix_list_2-1,decimal) "." counter(lst-ctn-kix_list_2-2,decimal) "." counter(lst-ctn-kix_list_2-3,decimal) "." counter(lst-ctn-kix_list_2-4,decimal) "." counter(lst-ctn-kix_list_2-5,decimal) "." counter(lst-ctn-kix_list_2-6,decimal) ". ";
}
.modal-container .lst-kix_list_14-5 > li {
  counter-increment: lst-ctn-kix_list_14-5;
}
.modal-container .lst-kix_list_7-1 > li:before {
  content: "" counter(lst-ctn-kix_list_7-1,lower-latin) ". ";
}
.modal-container .lst-kix_list_7-5 > li:before {
  content: "" counter(lst-ctn-kix_list_7-5,lower-roman) ". ";
}
.modal-container .lst-kix_list_9-6 > li {
  counter-increment: lst-ctn-kix_list_9-6;
}
.modal-container ol.lst-kix_list_5-4.start {
  counter-reset: lst-ctn-kix_list_5-4 0;
}
.modal-container .lst-kix_list_13-6 > li:before {
  content: "\002022  ";
}
.modal-container ol.lst-kix_list_5-1.start {
  counter-reset: lst-ctn-kix_list_5-1 0;
}
.modal-container .lst-kix_list_6-7 > li {
  counter-increment: lst-ctn-kix_list_6-7;
}
.modal-container .lst-kix_list_10-6 > li {
  counter-increment: lst-ctn-kix_list_10-6;
}
.modal-container .lst-kix_list_1-7 > li {
  counter-increment: lst-ctn-kix_list_1-7;
}
.modal-container ol.lst-kix_list_10-0.start {
  counter-reset: lst-ctn-kix_list_10-0 0;
}
.modal-container .lst-kix_list_7-5 > li {
  counter-increment: lst-ctn-kix_list_7-5;
}
.modal-container .lst-kix_list_15-6 > li:before {
  content: "\0025cf  ";
}
.modal-container .lst-kix_list_3-8 > li {
  counter-increment: lst-ctn-kix_list_3-8;
}
.modal-container ol.lst-kix_list_6-8.start {
  counter-reset: lst-ctn-kix_list_6-8 0;
}
.modal-container .lst-kix_list_10-2 > li:before {
  content: "" counter(lst-ctn-kix_list_10-2,lower-roman) ". ";
}
.modal-container ol.lst-kix_list_1-7.start {
  counter-reset: lst-ctn-kix_list_1-7 0;
}
.modal-container .lst-kix_list_1-5 > li {
  counter-increment: lst-ctn-kix_list_1-5;
}
.modal-container ol.lst-kix_list_6-5.start {
  counter-reset: lst-ctn-kix_list_6-5 0;
}
.modal-container .lst-kix_list_4-2 > li:before {
  content: "\0025cf  ";
}
.modal-container .lst-kix_list_4-6 > li:before {
  content: "\0025cf  ";
}
.modal-container .lst-kix_list_15-2 > li:before {
  content: "\0025aa  ";
}
.modal-container .lst-kix_list_10-8 > li {
  counter-increment: lst-ctn-kix_list_10-8;
}
.modal-container .lst-kix_list_10-6 > li:before {
  content: "" counter(lst-ctn-kix_list_10-6,decimal) ". ";
}
.modal-container .lst-kix_list_9-1 > li:before {
  content: "" counter(lst-ctn-kix_list_9-1,lower-latin) ". ";
}
.modal-container ol.lst-kix_list_12-7.start {
  counter-reset: lst-ctn-kix_list_12-7 0;
}
.modal-container ol.lst-kix_list_6-7.start {
  counter-reset: lst-ctn-kix_list_6-7 0;
}
.modal-container .lst-kix_list_12-2 > li {
  counter-increment: lst-ctn-kix_list_12-2;
}
.modal-container .lst-kix_list_9-5 > li:before {
  content: "" counter(lst-ctn-kix_list_9-5,lower-roman) ". ";
}
.modal-container .lst-kix_list_12-2 > li:before {
  content: "" counter(lst-ctn-kix_list_12-2,lower-roman) ". ";
}
.modal-container ol.lst-kix_list_12-8.start {
  counter-reset: lst-ctn-kix_list_12-8 0;
}
.modal-container .lst-kix_list_11-6 > li:before {
  content: "\0025cf  ";
}
.modal-container .lst-kix_list_1-2 > li:before {
  content: "" counter(lst-ctn-kix_list_1-2,lower-roman) ". ";
}
.modal-container .lst-kix_list_10-1 > li {
  counter-increment: lst-ctn-kix_list_10-1;
}
.modal-container .lst-kix_list_1-0 > li {
  counter-increment: lst-ctn-kix_list_1-0;
}
.modal-container .lst-kix_list_8-8 > li {
  counter-increment: lst-ctn-kix_list_8-8;
}
.modal-container .lst-kix_list_1-6 > li:before {
  content: "" counter(lst-ctn-kix_list_1-6,decimal) ". ";
}
.modal-container .lst-kix_list_12-6 > li:before {
  content: "" counter(lst-ctn-kix_list_12-6,decimal) ". ";
}
.modal-container .lst-kix_list_2-2 > li:before {
  content: "" counter(lst-ctn-kix_list_2-0,decimal) "." counter(lst-ctn-kix_list_2-1,decimal) "." counter(lst-ctn-kix_list_2-2,decimal) ". ";
}
.modal-container .lst-kix_list_13-2 > li:before {
  content: "\002022  ";
}
.modal-container ol.lst-kix_list_5-2.start {
  counter-reset: lst-ctn-kix_list_5-2 0;
}
.modal-container ol {
  margin: 0;
  padding: 0;
}
.modal-container table td, .modal-container table th {
  padding: 0;
}
.modal-container .c8 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000;
  vertical-align: top;
  border-right-color: #000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 153.6pt;
  border-top-color: #000;
  border-bottom-style: solid;
}
.modal-container .c20 {
  border-right-style: solid;
  padding: 0pt 5.4pt 0pt 5.4pt;
  border-bottom-color: #000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000;
  vertical-align: top;
  border-right-color: #000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 307.1pt;
  border-top-color: #000;
  border-bottom-style: solid;
}
.modal-container .c17 {
  color: #000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Times";
  font-style: italic;
}
.modal-container .c16 {
  color: #000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Times";
  font-style: normal;
}
.modal-container .c2 {
  color: #000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.modal-container .c23 {
  color: #000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Times";
  font-style: normal;
}
.modal-container .c14 {
  color: #000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Times";
  font-style: italic;
}
.modal-container .c5 {
  color: #000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.modal-container .c22 {
  color: #000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Calibri";
  font-style: normal;
}
.modal-container .c3 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: center;
}
.modal-container .c0 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: justify;
}
.modal-container .c12 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.modal-container .c18 {
  -webkit-text-decoration-skip: none;
  color: #0563c1;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.modal-container .c21 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  text-align: left;
}
.modal-container .c10 {
  margin-left: auto;
  border-spacing: 0;
  border-collapse: collapse;
  margin-right: auto;
}
.modal-container .c24 {
  background-color: #fff;
  max-width: 495.7pt;
  padding: 85pt 42.5pt 56.7pt 56.7pt;
}
.modal-container .c9 {
  font-weight: 700;
  font-family: "Times New Roman";
}
.modal-container .c25 {
  color: inherit;
  text-decoration: inherit;
}
.modal-container .c11 {
  font-weight: 400;
  font-family: "Times New Roman";
}
.modal-container .c13 {
  padding: 0;
  margin: 0;
}
.modal-container .c4 {
  margin-left: 35.5pt;
  text-indent: -35.5pt;
}
.modal-container .c6 {
  margin-left: 36pt;
  padding-left: 0pt;
}
.modal-container .c1 {
  height: 12pt;
}
.modal-container .c15 {
  height: 13pt;
}
.modal-container .c19 {
  height: 15pt;
}
.modal-container .c7 {
  height: 14pt;
}
.modal-container .title {
  padding-top: 24pt;
  color: #000;
  font-weight: 700;
  font-size: 36pt;
  padding-bottom: 6pt;
  font-family: "Calibri";
  line-height: 1;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.modal-container .subtitle {
  padding-top: 18pt;
  color: #666;
  font-size: 24pt;
  padding-bottom: 4pt;
  font-family: "Georgia";
  line-height: 1;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.modal-container li {
  color: #000;
  font-size: 12pt;
  font-family: "Calibri";
}
.modal-container p {
  margin: 0;
  color: #000;
  font-size: 12pt;
  font-family: "Calibri";
}
.modal-container h1 {
  padding-top: 0pt;
  color: #000;
  font-weight: 700;
  font-size: 24pt;
  padding-bottom: 0pt;
  font-family: "Times New Roman";
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.modal-container h2 {
  padding-top: 0pt;
  color: #000;
  font-weight: 700;
  font-size: 18pt;
  padding-bottom: 0pt;
  font-family: "Times New Roman";
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.modal-container h3 {
  padding-top: 14pt;
  color: #000;
  font-weight: 700;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Calibri";
  line-height: 1;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.modal-container h4 {
  padding-top: 12pt;
  color: #000;
  font-weight: 700;
  font-size: 12pt;
  padding-bottom: 2pt;
  font-family: "Calibri";
  line-height: 1;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.modal-container h5 {
  padding-top: 11pt;
  color: #000;
  font-weight: 700;
  font-size: 11pt;
  padding-bottom: 2pt;
  font-family: "Calibri";
  line-height: 1;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.modal-container h6 {
  padding-top: 10pt;
  color: #000;
  font-weight: 700;
  font-size: 10pt;
  padding-bottom: 2pt;
  font-family: "Calibri";
  line-height: 1;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
