<div class="app--pages--admin--recebimentos">
	<template v-if="mobile">
		<app--pages-mobile--recebimentos></app--pages-mobile--recebimentos>
	</template>
	<template v-else>
		<app--pages-desktop--recebimentos></app--pages-desktop--recebimentos>
	</template>
</div>