<div class="app--modal--estorno-boleto">
    <app--modal--base>
                <div class="close" v-on:click="clickFechar">&times;</div>
                 <h1 class="h1-estorno">Solicitação de estorno do boleto</h1>
                 <p class="p-estorno">Preencha os campos abaixo com os dados da contaque irá receber o valor de estorno:</p>
                      <form>
                            <enext--form-campo--texto
                                v-bind:campo="campoNome"
                                v-on:valor="onCampoValor"
                                v-on:blur="onCampoBlur"
                            ></enext--form-campo--texto>
                          <!-- <div class="input-label">
                                <label>Nome:</label>
                                <input type="text" placeholder="Daniel Gomes Junior"/>
                          </div> -->
                          <enext--form-campo--texto
                                v-bind:campo="campoCPF"
                                v-on:valor="onCampoValor"
                                v-on:blur="onCampoBlur"
                            ></enext--form-campo--texto>
                          <!-- <div class="input-label">
                                <label>CPF:</label>
                                <input type="text" placeholder="999.999.999-99"/>
                          </div> -->
                          <enext--form-campo--texto
                                v-bind:campo="campoBanco"
                                v-on:valor="onCampoValor"
                                v-on:blur="onCampoBlur"
                            ></enext--form-campo--texto>
                          <!-- <div class="input-label">
                                <label>Banco:</label>
                                <input type="text" placeholder="Bradesco"/>
                          </div> -->
                          <div class="agencia">
                              <enext--form-campo--texto
                                    v-bind:campo="campoAgencia"
                                    v-on:valor="onCampoValor"
                                    v-on:blur="onCampoBlur"
                              ></enext--form-campo--texto>
                              <enext--form-campo--texto
                                    v-bind:campo="campoAgenciaDigito"
                                    v-on:valor="onCampoValor"
                                    v-on:blur="onCampoBlur"
                              ></enext--form-campo--texto>
                          </div>
                         
                          <!-- <div class="input-label">
                                <label>Agência: *</label>
                                <input type="text" placeholder=""/>
                          </div> -->
                          <div class="CTCorrente">
                              <enext--form-campo--texto
                                    v-bind:campo="campoCtCorrente"
                                    v-on:valor="onCampoValor"
                                    v-on:blur="onCampoBlur"
                              ></enext--form-campo--texto>
                          </div>
                          <div class="dv">
                              <enext--form-campo--texto
                                    v-bind:campo="campodv"
                                    v-on:valor="onCampoValor"
                                    v-on:blur="onCampoBlur"
                              ></enext--form-campo--texto>
                        </div>
                          <!-- <div class="input-label">
                                <label>Conta corrente: *</label>
                                <input type="text" placeholder=""/>
                          </div> -->
                      </form>
                 <button class="BTLightBox" v-on:click="clickFechar">Continuar</button>
    </app--modal--base>
</div>