.app--modal--estorno-boleto {
}
*{
	font-family: Lato, sans-serif;
}
.app--modal--estorno-boleto .h1-estorno{
	color:#774d99;
    text-align:center;
	font-size:18pt;
	margin-bottom: 10px;
}
.app--modal--estorno-boleto .p-estorno{
    color:#989898;
    text-align:center;
    font-size:12px;
    margin-bottom:20px;
}
.app--modal--estorno-boleto .app--modal--base .modal-container{
	width:700px;
    background:#fff;
    height: 290px;
    border-radius:4px;
    margin:0 auto;
    margin-top:10%;
	padding:20px;
	text-align: left;
}

.app--modal--estorno-boleto .input-label{
    width:200px;
    float:left;
    margin:15px;
}
.app--modal--estorno-boleto .input-label label{
    color:#717171;
    font-weight: bold;
    font-size: 14px;
}
.app--modal--estorno-boleto .input-label input{
	margin-top: 5px;
    border-radius: 4px;
    height: 35px;
    padding: 10px;
    border: solid #e5e5e5 1px;
}
.app--modal--estorno-boleto ::-webkit-input-placeholder{
    font-weight: bold;
    color:#989898;
}
.app--modal--estorno-boleto .close{
    color:#4e266f;
    font-weight: bold;
    float:right;
	cursor: pointer;
	font-size: 18pt;
}
.app--modal--estorno-boleto .BTLightBox{
    background: #4e266f;
    color: #fff;
    border: none;
    padding: 10px 50px 10px 50px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0px;
    margin-left: 280px;
}
.app--modal--estorno-boleto .BTLightBox:hover{
    background: #774d99;
}
.app--modal--estorno-boleto .enext-fc-base .campo-label {
    color: #989898;
}
.app--modal--estorno-boleto .enext-fc-base{
	width: 30%;
    float: left;
	margin-left: 20px;
	margin-bottom: 30px;
}
.app--modal--estorno-boleto .enext-fc-base .campo-controle{
	background: #fff;
}
.app--modal--estorno-boleto .agencia {
    width: 20%;
    float: left;
}
.app--modal--estorno-boleto .dv {
    width: 10%;
    float: left;
    margin-left: 3%;
}
.app--modal--estorno-boleto .CTCorrente {
    width: 59%;
    float: left;
    margin-left: 3%;
}
.app--modal--estorno-boleto .CTCorrente .enext-fc-base{
	width: 100%;
}
.app--modal--estorno-boleto .agencia .enext-fc-base{
	width: 100%;
}
.app--modal--estorno-boleto .dv .enext-fc-base{
	width: 100%;
}


@media (max-width: 600px) {
	.app--modal--estorno-boleto .app--modal--base .modal-container{
        width: 500px;
        background: #fff;
        height: 508px;
        margin-top: 17%;
        padding: 20px;
        text-align: left;
    }
    .app--modal--estorno-boleto .h1-estorno {
        font-size: 22pt;
        margin-bottom: 15px;
        margin-top: 30px;
    }
    .app--modal--estorno-boleto .p-estorno {
        font-size: 18px;
        margin-bottom: 20px;
        width: 340px;
        margin: 0 auto;
    }
    .app--modal--estorno-boleto .enext-fc-base {
        width: 95%;
        margin-bottom: 25px;
    }
    .app--modal--estorno-boleto .BTLightBox {
        margin-top: 14px;
        margin-left: 178px;
    }
    .app--modal--estorno-boleto .close {
        font-size: 18pt;
        margin-top: -10px;
    }
    .app--modal--estorno-boleto .enext-fc-base .campo-controle {
        color: #989898;
    }
    .app--modal--estorno-boleto .agencia {
        width: 20%;
        float: left;
    }
    .app--modal--estorno-boleto .dv {
        width: 19%;
        float: left;
        margin-left: 1%;
    }
    .app--modal--estorno-boleto .CTCorrente {
        width: 55%;
        float: left;
        margin-left: 1%;
    }
    .root-mobile .app--modal--estorno-boleto .enext-fc-base .campo-controle {
        height: 2.5em;
    }
}
@media (orientation:portrait) {
	.app--modal--estorno-boleto {
	}
}

@media (max-width: 1024px) {
	.app--modal--estorno-boleto {
	}
}