<div class="app--mobile--recebimentos">
	<div class="destaque"> 
		
		<h1>RECEBIMENTOS</h1>
		<div class="containesup">
			<h5>Linha do Tempo -&nbsp;<font style="font-size: 0.7em;">Recebidos e a receber</font></h5>
		</div>

		<template v-if="!data && loading">
			<p>Carregando...</p>
		</template>
		<template v-if="!loading && error">
			<p><strong>Erro ao carregar o serviço</strong></p>
			<p>Detalhes: {{errorText}}</p>
			<p><a href="javascript:;" v-on:click="clickReload">Tentar novamente</a></p>
		</template>
		<template v-if="!data && !loading && !error">
			<p>Nenhum dado para exibir</p>
		</template>
		<template v-if="data && !error">
		<app--mobile--recebimentos--timeline
			v-bind:monthNames="calMonthNames"
			v-bind:months="timelineMonths"
			v-bind:recebiveis="data"
			v-on:clickMonth="onTimelineClickMonth"
		></app--mobile--recebimentos--timeline>

		<div class="recebiveis"> <br><br>
			<label v-if="loading">Carregando...</label>
			<label v-else>Recebíveis do Mês</label>
			<p>Contabilizados do dia {{printDayMonthText(monthFirstDay)}} a {{printDayMonthText(monthLastDay)}}</p>
			<div class="empresa" v-text="userCompanyName"></div>
			<div class="dataempresa">{{data.last_update}}</div>
		</div>

		<table class="pedido" cellspacing= 0>
			<tr bgcolor="#e5e5e5">
				<th>Pedido</th>
				<th>Data</th>
				<th colspan="2">Status</th>
			</tr>
			<template v-for="rec in dataReceivables">
				<tr>
					<td><router-link v-bind:to="makeLinkPedido(rec.transaction_id)">{{rec.transaction_id}}</router-link></td>
					<td>{{rec.creation_date}}</td>
					<td>
						<font v-if="rec.status === 'paid'" style="color: #229b39;">Recebido</font>
						<font v-else-if="rec.status === 'waiting_founds'" style="color: #ef9f20;">A receber</font>
						<font v-else>{{rec.status}}</font>
					</td>
					<td><a href="javascript:;" v-on:click="onClickExpand(rec, $event)">
						<img v-bind:src="baseUrl + 'img/arrow-select.png'" alt="arrow-purple" class="arrows" v-bind:class="{rotate1:rec.expand}"/>
					</a></td>
				</tr>
				<tr>
					<td colspan="4" class="rowExpand">
						<!-- Expandido -->
						<div class="expandido" v-bind:style="{height:rec.height}">
						<table cellspacing="0">
							<tr>
								<th>Pagamento</th>
								<th>Valor</th>
								<td rowspan="4" colspan="2" style="text-align:center;border: none;">
									<router-link class="BTNconsultar" v-bind:to="makeLinkPedido(rec.transaction_id)">consultar</router-link>
									<!-- <button class="BTNconsultar" v-on:click="onClickDetalhes(rec, $event)">consultar</button> -->
								</td>
							</tr>
							<tr>
								<td>
									<template v-if="rec.payment_method === 'credit_card'">
										Cartão de crédito
									</template>
									<template v-else-if="rec.payment_method === 'boleto'">
										Boleto
									</template>
									<template v-else>
										{{rec.payment_method}}
									</template>
								</td>
								<td>
									<app--utils--display-price
										before="R$ "
										v-bind:value="rec.amount"
									></app--utils--display-price>
								</td>
							</tr>
							<tr>
								<th>Parcelas</th>
								<th>Bandeira</th>
							</tr>
							<tr>
								<td>{{rec.installment}}</td>
								<td>{{rec.card_brand}}</td>
							</tr>
						</table>
						</div>
						<!-- Fim do expandido -->
					</td>
				</tr>
			</template>
		</table>
		<br>
		<div class="link">
			<a href="#">Exportar lista de recebimentos</a>
		</div>
		</template>
	</div>
</div>