.app--mobile--recebimentos {
}
.app--mobile--recebimentos * {
	margin: 0;
	padding: 0;
	outline:none;
	font-family: 'Lato', sans-serif;
}
.app--mobile--recebimentos h1,
.app--mobile--recebimentos .h1cust {
	font-size: 34px;
	color: #774d99;
	font-weight: bold;
	text-align: center;
}
.app--mobile--recebimentos .destaque {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 70px;
}
.app--mobile--recebimentos .destaque h4 {
	font-size: 18px;
	color: #774d99;
	font-weight: bold;
}
.app--mobile--recebimentos .destaque label {
	font-size: 14px;
	color: #989898;
	font-weight: bold;
	text-align: center;
	margin-left: 10px;
	margin-top: 90px;
}
.app--mobile--recebimentos .containesup {
	font-size: 1em;
	background: #e5e5e5;
	width: 93%;
	height: auto;
	font-weight: bold;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin: 0 auto;
	margin-top: 35px;
	/* padding: 20px 0px 40px 20px; */
	text-align: left;
}
.app--mobile--recebimentos .containesup h5{
	font-size: 30px;
	color: #774d99;
	font-weight: bold;
	padding: 20px 15px;
	word-wrap: break-word;
	margin-top: 0px;
}
.app--mobile--recebimentos .filtrarloja select {
	width: 130px;
	height: 35px;
	margin-top: 30px;
	border-radius: 4px;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
}
.app--mobile--recebimentos hr{
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 15px;
}
.app--mobile--recebimentos .pedido {
	margin: 0 auto;
	font-size: 14px;
	width: 93%;
	border: 1px solid #e5e5e5;
}
.app--mobile--recebimentos .pedido * {
	box-sizing: border-box;
}
.app--mobile--recebimentos .pedido tr th {
	text-align: left;
	color: #717171;
	font-size: 20px;
	font-weight: normal;
	height: 20px; 
	padding: 15px 0px 15px 15px;
}
.app--mobile--recebimentos .pedido tr td {
	text-align: left;
	color: #989898;
	padding: 15px 0px 15px 15px;
	background-color: #f8f8f8;
	border: 1px solid #e5e5e5;
	height: 30px; 
	border-left: none;
	border-right: none;
	font-size: 20px;
}
.app--mobile--recebimentos .pedido a {
	color: #774d99;
	font-weight: bold;
	text-decoration: none;
}
.app--mobile--recebimentos .h1cust{
	font-size: 25px;
	text-align: center;
	margin-top: 0px;
	line-height: 1em;
}

.app--mobile--recebimentos .recebiveis {
	text-align: center;
	width: 93%;
	height: auto;
	border: solid 1px #e5e5e5;
	margin: 0 auto;
	background: #fff;
	padding: 0 0 10px;
}
.app--mobile--recebimentos .recebiveis label {
	font-size: 26px;
	color: #774d99;
}
.app--mobile--recebimentos .recebiveis p {
	font-size: 18px;
	color: #989898;
	margin-top: 10px;
}
.app--mobile--recebimentos .empresa {
	font-size: 18px;
	color: #774d99;
	float: left;
	margin-left: 15px;
	margin-top: 50px;
}
.app--mobile--recebimentos .dataempresa {
	font-size: 18px;
	color: #989898;
	float: right;
	margin-right: 15px;
	margin-top: 50px;
}
.app--mobile--recebimentos .recebiveis::after {
	content: '';
	display: block;
	clear: both;
}
.app--mobile--recebimentos .link {
	text-align: center;
	color: #4e266f;
}
.app--mobile--recebimentos .link a {
	font-size: 22px;
	color: #774d99;
}
.app--mobile--recebimentos .pedido .BTNconsultar {
	display: inline-block;
	width: 110px;
	height: 32px;
	line-height: 32px;
	border: none;
	border-radius: 4px;
	background-color: #774d99;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	color: #ffffff;
	margin-left: -35%;
}
.app--mobile--recebimentos .pedido tr td.rowExpand {
	height: auto;
	padding: 0;
	border: none;
}
.app--mobile--recebimentos .expandido{
	width: 100%;
	height: auto;
	font-size: 16px;
	overflow: hidden;
	box-sizing: border-box;
}
.app--mobile--recebimentos .expandido table{
	width: 100%;
	padding: 5px 0;
}
.app--mobile--recebimentos .expandido tr th,
.app--mobile--recebimentos .expandido tr td {
	color:#717171;
	border: none;
}
.app--mobile--recebimentos .expandido tr th {
	padding-bottom: 0;
	font-weight: bold;
}
.app--mobile--recebimentos .expandido tr th:nth-child(1) {
	width: 172px;
}
.app--mobile--recebimentos .expandido tr th:nth-child(2) {
	width: 220px;
}
.app--mobile--recebimentos .expandido tr td {
	padding-top: 0;
}
.app--mobile--recebimentos .expandido tr td[rowspan] {
	padding: 10px 0px 10px 15px;
}
.app--mobile--recebimentos .arrows{
	cursor: pointer;
}
.app--mobile--recebimentos .rotate1{
	transition-duration: 0.3s;
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

@media (orientation:portrait) {
	.app--mobile--recebimentos {
	}
}

@media (max-width: 1024px) {
	.app--mobile--recebimentos {
	}
}