.app--pages--admin--filtro {
}
.app--pages--admin--filtro .destaque {
    margin: 0 auto;
    margin-top: 50px;
}

.app--pages--admin--filtro .filtroadm {
    text-align: center;
}

.app--pages--admin--filtro .filtroadm h4 {
    font-size: 18px;
    color: #774d99;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
}
.app--pages--admin--filtro .filtroadm .enext-fc-base {
    display: inline-block;
}
.app--pages--admin--filtro .filtroadm .enext-fc-base .campo-label {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #989898;
    font-weight: bold;
    margin-left: 25px;
}
.app--pages--admin--filtro .filtroadm .enext-fc-base .campo-wrap-border {
    display: inline-block;
    width: 300px;
    margin: 0;
    margin-left: 25px;
    vertical-align: middle;
}
.app--pages--admin--filtro .filtroadm .enext-fc-base .campo-controle {
	background: #fff;
}
.app--pages--admin--filtro .filtroadm .enext-fc-select .campo-arrow {
    top: 0.5em;
}
/*.app--pages--admin--filtro .filtroadm label {
    font-size: 14px;
    color: #989898;
    font-weight: bold;
    margin-left: 25px;
}

.app--pages--admin--filtro .filtroadm select {
    width: 200px;
    height: 35px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    margin-left: 25px;
}*/
.root-mobile .app--pages--admin--filtro .filtroadm {
    font-size: 24px;
}
.root-mobile .app--pages--admin--filtro .filtroadm h4 {
    display: block;
    margin: 3em 0 1em;
    font-weight: bold;
    font-size: 1em;
}
.root-mobile .app--pages--admin--filtro .filtroadm .enext-fc-base {
    width: 44%;
    margin: 0 2%;
}
.root-mobile .app--pages--admin--filtro .filtroadm .enext-fc-base .campo-label {
    display: block;
    margin: 0 0 0.35em;
    font-size: 0.9em;
}
.root-mobile .app--pages--admin--filtro .filtroadm .enext-fc-base .campo-wrap-border {
    margin: 0;
    width: 100%;
}
.root-mobile .app--pages--admin--filtro .destaque hr {
    margin: 2em 4%;
    border: 0.05em solid #ccc;
}

@media (orientation:portrait) {
	.app--pages--admin--filtro {
	}
}

@media (max-width: 1024px) {
	.app--pages--admin--filtro {
	}
}