<div class="app--pages--admin--filtro">
    <div class="destaque">
        <div class="filtroadm">
            <h4>Filtrar por Loja</h4>
            
            <template v-if="isAdminOnstore">
                <enext--form-campo--select
                    v-bind:campo="campoSegmento"
                    v-on:selecionado="onCampoSelecionado"
                    v-on:blur="onCampoBlur"
                ></enext--form-campo--select>
            </template>

            <enext--form-campo--select
                v-bind:campo="campoLoja"
                v-on:selecionado="onCampoSelecionado"
                v-on:blur="onCampoBlur"
            ></enext--form-campo--select>

        </div><br>
        <hr style="width: 95%;margin: 0 auto;"></hr>
    </div>        
</div>