<div class="app--mobile--header">
    <nav class="menu">
        <div class="logoonstore">
            <router-link v-bind:to="linkScope('')">
                <img v-bind:src="baseUrl + 'img/logo.png'" alt="logo">
            </router-link>
        </div><!--logoonstore-->
        <template v-if="isLogged">
            <div class="sinoBT2 bt-hamburguer" v-bind:class="{menuOpen: openMenu === 'menu'}">
                <a href="javascript:;" ref="btMenu" v-on:click="openMenu = 'menu'">
                    <img v-bind:src="baseUrl + 'img/menu.png'" alt="menu">
                </a>
                <div class="container-submenu3">
                    <ul>
                        <li><router-link v-bind:to="linkScope('minhas-vendas')">Minhas Vendas</router-link></li>
                        <li><router-link v-bind:to="linkScope('recebimentos')">Recebimentos</router-link></li>
                        <li v-if="isLoja"><router-link v-bind:to="linkScope('configuracoes')">Configurações</router-link></li>
                        <li><router-link v-bind:to="linkScope('')">Logout</router-link></li>
                    </ul>
                </div>
            </div>
            <div class="sinoBT2 bt-notificacoes" v-bind:class="{menuOpen: openMenu === 'notificacoes'}">
                <a href="javascript:;" ref="btNotificacoes" v-on:click="openMenu = 'notificacoes'">
                    <img v-bind:src="baseUrl + 'img/sino.png'"/>
                    <div class="sinoAlert">0</div>
                </a>
                <div class="container-submenu2">
                    <ul>
                        <li><span class="spancust">Nova Venda ID <font color="774d99">#010001840</font></span>
                            <br><p class="pcust">15/09/2018 - 18:05</p></li>
                        <li><span class="spancust">Nova Venda ID <font color="774d99">#010001840</font></span>
                            <br><p class="pcust">15/09/2018 - 18:05</p></li>
                        <li><span class="spancust">Nova Venda ID <font color="774d99">#010001840</font></span>
                            <br><p class="pcust">15/09/2018 - 18:05</p></li>
                        <li><span class="spancust">Nova Venda ID <font color="774d99">#010001840</font></span>
                            <p class="pcust">15/09/2018 - 18:05</p></li>
                    </ul>
                </div>
            </div>
            <div class="sinoBT2 bt-busca" v-bind:class="{menuOpen: openMenu === 'busca'}">
                <a href="javascript:;" ref="btBusca" v-on:click="openMenu = 'busca'">
                    <img v-bind:src="baseUrl + 'img/lupa.png'" alt="menu">
                </a>
                <form action="javascript:;" class="container-busca" v-on:submit="onSubmitBusca">
                    <input type="text" name="busca" v-model="buscaValue" placeholder="Pesquise por número de pedido, CPF, produto, etc."/>
                </form>
            </div>
        </template>
    </nav>
</div>