.app--mobile--header {
  height: 95px;
}
.app--mobile--header .menu{
    width:100%;
    background: #774d99;
    height: 95px;
    padding: 0px;
    white-space: nowrap;
    position: fixed;
    top: 0;
    z-index: 10;
  }
  .app--mobile--header .logoonstore{
    float: left;
    background: #fff;
    width: 95px;
    height: 95px;
    line-height: 95px;
    padding: 0;
    border-radius: 4px;
    box-shadow: 1px 6px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    top: 15px;
    left: 20px;
  }
  .app--mobile--header .logoonstore img {
    vertical-align: middle;
    width: 60px;
    margin-top: -5px;
  }
  .app--mobile--header .menu .sinoBT2{ /*menu de lista*/
    position: relative;
    float: right;
    text-decoration: none;
    width: 105px;
    height: 95px;
    line-height: 95px;
    padding: 0;
    cursor: pointer;
    font-size: 30px;
    color: #fff;
    text-align: center;
    border-left: 3px solid #4e266f;
    cursor: pointer;
  }
.app--mobile--header .menu .bt-hamburguer img {
  width: 35px;
  height: 25px;
}
.app--mobile--header .menu .bt-notificacoes img {
  width: 36px;
  height: 36px;
  position: relative;
  top: 7px;
  left: 2px;
}
.app--mobile--header .menu .bt-busca img {
  top: 6px;
  left: 2px;
  position: relative;
  width: 36px;
}
.app--mobile--header .menu .sinoBT2.menuOpen{
  background: #4e266f;
}
.app--mobile--header .container-submenu3{
  width: 300px;
  height: auto;
  position: absolute;
  top: 95px;
  right: 0;
  background: #ffffff;
  border: 2px solid #4e266f;
  color: #989898;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
  display: none;
  padding: 0px;
  margin: 0;
}
  .app--mobile--header .container-submenu3:before{
    border: 10px solid transparent;
    border-bottom-color: #ffffff;
    content: "";
    right: 40px;
    top: -20px;
    position: absolute;
  }
	.app--mobile--header .container-submenu3 li{
    list-style: none;
    width: 100%;
    padding: 0.75em 0;
    text-align: center;
    border-bottom: solid 2px #e0e0e0;
    font-size: 0.8em;
    height: 1em;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 20px;
  }
  
  .app--mobile--header .BTBusca2{
    border-right: 2px solid #4e266f;
    border-left: 2px solid #4e266f;
    float: right;
    text-decoration: none;
    position: relative;
    bottom: 80px;
    width: 30px;
    padding: 15px 10px 8px 10px;
    height: 50px;
  }
  .app--mobile--header .container-busca{
    position: relative;
    width: 600px;
    height: auto;
    line-height: 1em;
    background: #fff;
    position: absolute;
    top: 95px;
    right: -216px;
    padding: 10px;
    display: none;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border: 2px solid #4e266f;
  }
  .app--mobile--header .sinoBT2.menuOpen .container-busca{
    display: block;
  }
  .app--mobile--header .container-busca input{
    width: 100%;
    padding: 10px 5px 10px 10px;
    font-size: 1em;
    color: #989898;
    text-align: center;
    border: none;
    box-sizing: border-box;
    vertical-align: top;
  }
  .app--mobile--header .container-busca label{
    color: #989898;
  }
  .app--mobile--header .menu .sinoBT{ /*botao do sino*/
    position: relative;
    float: right;
    text-decoration: none;
    bottom: 80px;
    width: 30px;
    padding: 17px 10px 0px 10px;
    height: 56px;
    border-right: 2px solid #4e266f;
    cursor: pointer;
  }
  .app--mobile--header .menu .sinoAlert{ /*contador de avisos*/
    position: absolute;
    top: 30%;
    right: 20%;
    padding: 0;
    width: 1.5em;
    height: 1.4em;
    font-weight: bold;
    border-radius: 50%;
    font-size: 16px;
    color: #ffffff;
    background-color: red;
    line-height: 1.2em;
  }
  .app--mobile--header .menu .sinoBT.menuOpen{
    background: #4e266f;
  }
    
  .app--mobile--header .container-submenu2{ /* Container dos alertas*/
    width: 300px;
    height: auto;
    position: absolute;
    top: 95px;
    right: -108px;
    background: #fff;
    border: 2px solid #4e266f;
    color: #989898;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
    display: none;
    padding: 0px;
    margin: 0;
  }
  .app--mobile--header .container-submenu2:before{ /*snippet dos menus*/ 
  border: 10px solid transparent;
  border-bottom-color: #ffffff;
  content: "";
  right: 147px;
  z-index: 50;
  top: -20px;
  position: absolute;
  }
  .app--mobile--header .container-submenu2 li{
    list-style: none;
    padding: 0.75em 1em;
    text-align: left;
    border-bottom: solid 2px #d8d8d8;
    font-size: 18px;
    height: auto;
    line-height: 1.6em;
  }

	.app--mobile--header .spancust{
    margin: 0;
  }
  .app--mobile--header .pcust{
    margin: 0;
  }
  .app--mobile--header .sinoBT2.menuOpen > .container-submenu2 {
    display: block;
  }
  .app--mobile--header .sinoBT2.menuOpen > .container-submenu3{
    display: block;
  }
  .app--mobile--header ul {
		padding: 0;
		margin: 0;
  }

@media (orientation:portrait) {
	.app--mobile--header {
	}
}

@media (max-width: 1024px) {
	.app--mobile--header {
	}
}