@import '../base/base.css';

.enext-fc-select {
	position: relative;
	height: 100%;
	cursor: pointer;
}
.enext-fc-select .campo-border {
	position: relative;
	width: 100%;
	background: #fafafa;
	z-index: 4;
}
.enext-fc-select.campo-opened .campo-border {
	z-index: 5;
}
.enext-fc-select .campo-anchor {
	display: block;
	color: #4d4d4d;
	text-decoration: none;
}
.enext-fc-select.campo-focused .campo-anchor {
	/* outline: none; */
}
.enext-fc-select .campo-arrow {
	position: absolute;
	right: 0.7em;
	top: 0.7em;
	width: 1em;
	height: 1em;
	line-height: 1.15em;
}
.enext-fc-select .campo-arrow svg {
	width: 100%;
	height: auto;
}
.enext-fc-select .campo-lista {
	list-style: none;
	margin: 0;
	padding: 0 0 0.7em;
	max-height: 15em;
	background: #fafafa;
	overflow-y: auto;
}
.enext-fc-select .campo-lista a {
	display: block;
	padding: 0.3em 0.95em 0.3em 1.25em;
	font-size: 1em;
	color: #222;
	text-decoration: none;
}
.enext-fc-select .campo-lista a:hover {
	color: #f8562c;
	background: #f0f0f0;
}


