<div class="enext--form-campo--select enext-fc-select enext-fc-base"
	v-bind:class="cssClass"
>
	<div class="campo-label">
		<span class="campo-name" v-text="campo.rotulo"></span><!-- não remover este comentário
		--><span class="campo-detail" v-text="campo.detalhe"></span><!--
		--><div class="campo-validation" v-text="campo.erro"></div>
	</div>
	<div class="campo-wrap-border">
		<div class="campo-border">
			<a href="javascript:;"
				class="campo-anchor"
				roleType="combobox"
				v-bind:tabIndex="campo.disabled ? -1 : 0"
				v-bind:aria-label="campo.ariaLabelSelect || 'Selecione'"
				v-bind:aria-expanded="opened ? 'true' : void 0"
				aria-haspopup="listbox"
				v-on:focus="emitFocus"
				v-on:blur="emitBlur"
				v-on:keydown.space="pressSpaceCampo"
				v-on:click="campoClick"
				ref="select">
				<!--<div class="campo-label" v-text="campo.rotulo"></div>-->
				<div class="campo-value">
					<div class="campo-controle pseudo-input" v-text="selecionadoTexto ? selecionadoTexto : 'Selecione' "></div>
				</div>
				<div class="campo-arrow">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="10" viewBox="0 0 16 10">
						<path fill="none" fill-rule="evenodd" stroke="#774d99" stroke-width="2" d="M15 1L8 7 1 1"/>
					</svg>
				</div>
			</a>
			<div class="campo-lista" roleType="listbox" ref="lista" v-show="opened">
				<a v-for="opcao in campo.opcoes"
					href="javascript:;"
					roleType="option"
					v-bind:tabIndex="campo.disabled ? -1 : 0"
					v-text="opcao.texto"
					v-bind:title="opcao.title || opcao.texto"
					v-bind:aria-label="campo.ariaLabelOption || 'opção'"
					v-on:focus="emitFocus"
					v-on:click="opcaoClick(opcao)"
					v-on:keydown.space="pressSpaceOpcao(opcao, $event)"
				></a>
			</div>
		</div>
	</div>
</div>
