.app--detalhes-pedido {
}
.app--detalhes-pedido .destaque {
    margin: 0 auto;
    width: 90%;
    margin-top: 30px;
}

.app--detalhes-pedido .destaque .h1-destaque{
    font-size: 22px; 
    color: #774d99;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 70px;
}

.app--detalhes-pedido .destaque .h3-destaque{
    font-size: 15px; 
    color: #774d99;
    margin-left: 20px;
    margin-bottom: 15px;
}

.app--detalhes-pedido .pedido {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #e5e5e5; 
    background-color: #FFFFFF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom:40px;
}

.app--detalhes-pedido .pedido h1 {
    color: #774d99;
    font-size: 18px;
    font-weight: normal;
    padding:10px 10px 10px 20px;
}
 
.app--detalhes-pedido .pedido caption {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #ededed;
    border: 1px solid #e5e5e5;
    text-align:left;
}
.app--detalhes-pedido .pedido caption span{
    font-size:14px;
}

.app--detalhes-pedido .pedido ul li {
    list-style: none;
    font-size: 14px;
    color: #989898;
    margin-left: 10px;
}

.app--detalhes-pedido .tr1 th {
    font-size: 14px;
    color: #717171;
    font-weight: bold;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5; 
    text-align: left;
    padding: 10px 10px 10px 20px;
}

.app--detalhes-pedido .tr2 td {
    font-size: 14px;
    color: #989898;
    border-left: 1px solid #e5e5e5;  
    border-right: 1px solid #e5e5e5; 
}

.app--detalhes-pedido .pedido td{
    padding:10px 10px 10px 20px;
}
.app--detalhes-pedido .tr3 td {
    border: 1px solid #e5e5e5;
    padding: 10px;
    line-height: 25px;
}

.app--detalhes-pedido .pedido tr {
    border: 1px solid #e5e5e5;  
}

.app--detalhes-pedido .tr3 h1 {
    padding:10px 10px 10px 10px;
}

.app--detalhes-pedido form p {
    font-size: 14px;
    color: #989898;
    float: left;
    margin-top: -3px;
}

.app--detalhes-pedido form input[type=radio] {
    float: left;
}

.app--detalhes-pedido .validacao1 {
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    padding: 5px 5px 35px 5px;
    width: auto;
    height: 14px;
    float: left;
    text-align: center;
    margin: 5px;
}
.app--detalhes-pedido .validacao2 {
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    padding: 10px 0px 30px 5px;
    width: 130px;
    height: 14px;
    float: left;
    text-align:center;
    margin:5px;
}
.app--detalhes-pedido .validacao3 {
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    padding: 10px 0px 30px 5px;
    width: 130px;
    height: 14px;
    float: left;
    text-align:center;
    margin:5px;
}

.app--detalhes-pedido .token{
    margin-left:15px;
    border-radius:4px;
    border:1px solid #e5e5e5;
    width:228px;
    padding:0 0 0 10px;
    height:35px;
    color:#afafaf;
}
.app--detalhes-pedido .tokenPe{
    color: #717171;
    font-weight: bold;
}
.app--detalhes-pedido .Obser{
    color: #717171;
    font-weight: bold;
}
.app--detalhes-pedido select{
    margin-left:15px;
    border-radius:4px;
    border:1px solid #e5e5e5;
    width:228px;
    padding:0 0 0 10px;
    height:35px;
    color:#858282;
}
.app--detalhes-pedido select option{
    color:#858282;
}
.app--detalhes-pedido .labelcustom{
    font-size:14px;
    color:#717171;
    font-weight:bold;
}
.app--detalhes-pedido .entregarpedido{
    display:none;
}
.app--detalhes-pedido .estonarpedido{
    display:none;
}
.app--detalhes-pedido .estornarboleto{
    display:none;
}
.app--detalhes-pedido .radioBT1{
    background:#fff;
    font-size:9px;
    float:left;
    margin-right:5px;
    height:10px;
    border-radius:4px;
    border:#e5e5e5 2px solid;
    margin-top:2px;
}
.app--detalhes-pedido .entregarpedido:checked ~ .radioBT1{
    background:#4e266f;
}
.app--detalhes-pedido .entregarpedido:checked ~ .p1{
    color:#4e266f;
}
.app--detalhes-pedido .estonarpedido:checked ~ .radioBT2{
    background:#4e266f;
}
.app--detalhes-pedido .estonarpedido:checked ~ .p2{
    color:#4e266f;
}
.app--detalhes-pedido .estornarboleto:checked ~ .radioBT3{
    background:#4e266f;
}
.app--detalhes-pedido .estornarboleto:checked ~ .p3{
    color:#4e266f;
}
.app--detalhes-pedido .campo-anchor.is--inactive {
    pointer-events: none;
    opacity: .8;
} 
.app--detalhes-pedido .radioBT2{
    background:#fff;
    font-size:9px;
    float:left;
    margin-right:5px;
    height:10px;
    border-radius:4px;
    border:#e5e5e5 2px solid;
    margin-top:2px;
}
.app--detalhes-pedido .radioBT3{
    background:#fff;
    font-size:9px;
    float:left;
    margin-right:5px;
    height:10px;
    border-radius:4px;
    border:#e5e5e5 2px solid;
    margin-top:2px;
}
.app--detalhes-pedido .BTValidar{
    background: #4e266f;
    color:#fff;
    border:none;
    padding:10px 25px 10px 25px;
    border-radius:5px;
    float:right;
    cursor:pointer;
    margin-top: 20px;
}
.app--detalhes-pedido .BTCancelar {
    background: #bfbfbf;
    color: #000;
    border: none;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    float: right;
    cursor: pointer;
    margin-top: 20px;
}

.app--detalhes-pedido .BTValidar:disabled {
    opacity: .8;
    pointer-events: none;
}

.app--detalhes-pedido .BTValidar:hover{
    background: #774d99;
}

.app--detalhes-pedido .opcoes-validacao::after {
    content: '';
    display: block;
    clear: both;
}

.app--detalhes-pedido .validacao-form .agencia {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.app--detalhes-pedido .validacao-form .agencia .enext-fc-base + .enext-fc-base .campo-wrap-border {
    margin-left: 10px;
    width: 75px;
}

.app--detalhes-pedido .validacao-form .agencia .enext-fc-base + .enext-fc-base .campo-label {
    display: none;
}

.app--detalhes-pedido .validacao-form .agencia .enext-fc-base + .enext-fc-base .campo-label {
    max-width: 50px;
    margin-left: 10px;
    width: 100%;
}

.app--detalhes-pedido .validacao-form .enext-fc-base {
    display: inline-block;
    margin-bottom: 10px;
}
.app--detalhes-pedido .validacao-form .enext-fc-base .campo-label {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #717171;
    font-weight: bold;
    width: 130px;
}

.app--detalhes-pedido .validacao-form .enext-fc-base.campo-missing .campo-label {
    color: #d0021b;
}

.app--detalhes-pedido .validacao-form .enext-fc-base .campo-wrap-border {
    display: inline-block;
    width: 230px;
    margin: 0;
    vertical-align: middle;
}
.app--detalhes-pedido .validacao-form .enext-fc-base .campo-controle {
	background: #fff;
}
.app--detalhes-pedido .validacao-form .enext-fc-select .campo-arrow {
    top: 0.5em;
}
.app--detalhes-pedido .active{
    border-color: #4e266f;
}
.app--detalhes-pedido .active .enext-fc-checkbox .campo-label{
    color: #4e266f;
}
.app--detalhes-pedido .enext-fc-checkbox .campo-controle-checkbox {
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    margin-right: 0.2em;
    padding: 0.2em;
    vertical-align: middle;
    border: 0.075em solid #b8b8b8;
    border-radius: 0.3em;
    box-sizing: content-box;
}
.app--detalhes-pedido .enext-fc-checkbox .campo-label {
    color: #717171;
    margin: 0;
    padding: 0;
}
.app--detalhes-pedido .enext-fc-checkbox.campo-checked .campo-controle-checkbox::before {
    content: '';
    display: block;
    width: 110%;
    height: 100%;
    background: #4e266f;
    border-radius: 0.2em;
    
}
.app--detalhes-pedido .confirm-box {
    display: block;
    margin: auto;
    text-align: center;
    width: 70%;
}

.app--detalhes-pedido .confirm-box button {
    float: none;
}

@media (orientation:portrait) {
	.app--detalhes-pedido {
	}
}

@media (max-width: 1024px) {
	.app--detalhes-pedido {
	}
}