<div class="app--detalhes-pedido">
    <div class="destaque">
        <h1 class="h1-destaque">MINHAS VENDAS</h1>
        <h3 class="h3-destaque">Detalhes do Pedido</h3>
        <table v-if="pedidoId" cellspacing="0" class="pedido">
            <caption>
                <h1>
                    Pedido {{pedidoId}}
                    <span v-if="!loading && !error && data">- {{data.date_created}}</span>
                </h1>
            </caption>
			<tr v-if="loading">
				<td>
					<div class="service-loading">
						<p>Carregando...</p>
					</div>
				</td>
			</tr>
			<tr v-if="!loading && error">
				<td>
					<div class="service-error">
						<p><strong>Erro ao carregar os dados</strong></p>
						<p>Detalhes: {{errorText}}</p>
						<p><a href="javascript:;" v-on:click="clickReload">Tentar novamente</a></p>
					</div>
				</td>
			</tr>
			<tr v-if="!loading && !error && !data">
				<td>
					<div class="service-empty">
						<p>Nenhum dado encontrado</p>
					</div>
				</td>
			</tr>
			<template v-if="!loading && !error && data">
            <tr class="tr1">
                <th>Qtd.</th>
                <th style="width:350px;">Produto</th>
                <th>Variação</th>
                <th style="width:12.5%;">Unidade</th>
                <th style="width:12.5%;">Total</th>
                <th>Vendedor</th>
                <th>Status</th>            
                <th><strong>Entregar *</strong></th> 
            </tr>
            <tr class="tr2" v-for="item in formattedItems">
                <td>{{item.quantity}}</td>
                <td>{{item.description}}</td>
                <td>{{item.variation}}</td>
                <td>
                    <app--utils--display-price
                        before="R$ "
                        v-bind:value="item.unit_price"
                    ></app--utils--display-price>
                </td>
                <td>
                    <app--utils--display-price
                        before="R$ "
                        v-bind:value="item.total_price"
                    ></app--utils--display-price>
                </td>
                <td>{{item.salesperson}}</td>
                <td>                
                    {{formatStatus(item.status)}}
                </td>
                <td >
                    <input 
                        v-bind:disabled='mustDisable(pedido.data.status)' 
                        type='number' 
                        min='0' 
                        :max='item.quantity' 
                        v-model='item.toDeliver'
                        required>                    
                    <!-- <enext--form-campo--texto
                        v-bind:campo="campoEntregar"                                                
                        v-on:valor="onCampoValor"
                        v-on:blur="onCampoBlur"
                    ></enext--form-campo--texto>  -->                   
                </td>
            </tr>
            <tr class="tr3">
                <td colspan="2"><h1 style="margin-top:-5px;">Cliente</h1>
                    <ul>
                        <li><b>Nome:</b> {{client.name}}</li>
                        <li><b>CPF:</b> {{client.cpf}}</li>
                        <li><b>Email:</b> {{client.email}}</li>
                        <li><b>Telefone:</b> {{client.phone}}</li>
                        <li><b>Nascimento:</b> {{client.birth_date}}</li>
                        <li><b>Sexo:</b>
                            <template v-if="client.gender === 'female'">Feminino</template>
                            <template v-else-if="client.gender === 'male'">Masculino</template>
                            <template v-else>{{client.gender}}</template>
                        </li>
                        <li><b>Endereço:</b> {{client.address}}</li>
                    </ul>
                </td>
                <td :colspan="valida ? 2 : 6"><h1 style="margin-top:-30px;">Pagamento</h1>
                    <ul>
                        <li><b>Forma:</b>
                            <template v-if="payment.payment_method === 'credit_card'">Cartão de crédito</template>
                            <template v-else-if="payment.payment_method === 'boleto'">Boleto</template>
                            <template v-else>{{payment.payment_method}}</template>
                        </li>
                        <li v-if="payment.payment_method === 'credit_card'"><b>Bandeira:</b> {{payment.card_brand}}</li>
                        <li><b>Parcelas:</b> {{payment.installments}}</li>
                        <li><b>Nota Fiscal:</b> acessar</li>
                        <!-- <li><font color="#fff">.</font></li>
                        <li><font color="#fff">.</font></li>
                        <li><font color="#fff">.</font></li> -->
                    </ul>
                </td>
                <td colspan="4" v-if="valida">
                    <form class="validacao-form">
                        <h1 style="margin-top:-10px;">Validação</h1>
                        <div class="opcoes-validacao">
                           <!-- <template v-if="payment.payment_method === 'credit_card'">Cartão de crédito</template>
                            <template v-else-if="payment.payment_method === 'boleto'">Boleto</template>
                            <template v-else>{{payment.payment_method}}</template> -->
                            <!-- <div class="validacao1" v-if="data.payment == 'credit_card'" v-bind:class="{active:validacaoSelecionada === opcao.valor}"> -->
                                <div class="validacao1" v-for="opcao in validacaoOpcoes" v-bind:class="{active:validacaoSelecionada === opcao.valor}">  
                              <enext--form-campo--checkbox
                                    v-bind:campo="opcao"
                                    v-on:check="onCampoCheck"
                                    v-on:blur="onCampoBlur"
                                ></enext--form-campo--checkbox>
                            </div>
                        </div>
                        <br>

                        <template v-if="validacaoSelecionada == 'entregar'">
                            <enext--form-campo--texto
                                v-bind:campo="campoToken"
                                v-on:valor="onCampoValor"
                                v-on:blur="onCampoBlur"
                            ></enext--form-campo--texto>
                            <br>
                            <enext--form-campo--texto                            
                                v-bind:campo="campoNf"
                                v-on:valor="onCampoValor"
                                v-on:blur="onCampoBlur"
                            ></enext--form-campo--texto>                        
                            <br>
                            <enext--form-campo--texto                            
                                v-bind:campo="campoObservacoes"
                                v-on:valor="onCampoValor"
                                v-on:blur="onCampoBlur"
                            ></enext--form-campo--texto>
                        </template>

                        <br>                        
                        
                        <template v-if="validacaoSelecionada === 'estorno-cartao'">

                        </template>

                        <template v-if="validacaoSelecionada === 'estorno-boleto'">
                            <enext--form-campo--texto
                                v-bind:campo="campoNome"
                                v-on:valor="onCampoValor"
                                v-on:blur="onCampoBlur"
                            ></enext--form-campo--texto>
                          <!-- <div class="input-label">
                                <label>Nome:</label>
                                <input type="text" placeholder="Daniel Gomes Junior"/>
                          </div> -->
                          <enext--form-campo--texto
                                v-bind:campo="campoCPF"
                                v-on:valor="onCampoValor"
                                v-on:blur="onCampoBlur"
                            ></enext--form-campo--texto>
                          <!-- <div class="input-label">
                                <label>CPF:</label>
                                <input type="text" placeholder="999.999.999-99"/>
                          </div> -->
                          <!-- <enext--form-campo--texto
                                v-bind:campo="campoBanco"
                                v-on:valor="onCampoValor"
                                v-on:blur="onCampoBlur"
                            ></enext--form-campo--texto> -->
                            
                            <enext--form-campo--select
                                v-bind:campo="campoContaBanco"
                                v-on:selecionado="onCampoSelecionado"
                                v-on:blur="onCampoBlur"
                            ></enext--form-campo--select>
                          <!-- <div class="input-label">
                                <label>Banco:</label>
                                <input type="text" placeholder="Bradesco"/>
                          </div> -->
                          <div class="agencia">
                              <enext--form-campo--texto
                                    v-bind:campo="campoAgencia"
                                    v-on:valor="onCampoValor"
                                    v-on:blur="onCampoBlur"
                              ></enext--form-campo--texto>
                          </div>
                          <div class="agenciaDigito">
                              <enext--form-campo--texto
                                    v-bind:campo="campoAgenciaDigito"
                                    v-on:valor="onCampoValor"
                                    v-on:blur="onCampoBlur"
                              ></enext--form-campo--texto>
                          </div>
                         
                          <!-- <div class="input-label">
                                <label>Agência: *</label>
                                <input type="text" placeholder=""/>
                          </div> -->
                          <div class="CTCorrente">
                              <enext--form-campo--texto
                                    v-bind:campo="campoCtCorrente"
                                    v-on:valor="onCampoValor"
                                    v-on:blur="onCampoBlur"
                              ></enext--form-campo--texto>
                          </div>
                          <div class="dv">
                              <enext--form-campo--texto
                                    v-bind:campo="campodv"
                                    v-on:valor="onCampoValor"
                                    v-on:blur="onCampoBlur"
                              ></enext--form-campo--texto>
                        </div>
                        </template>
                    </form>
                    <template v-if="validacaoSelecionada === 'entregar'">
                        <button class="BTValidar btEntrega1" v-if="serviceEntrega.loading">Enviando dados...</button>
                        <template v-else-if="serviceEntrega.error">
                            <p class="service-error">{{serviceErrorDetail(serviceEntrega)}}</p>
                            <button class="BTValidar btEntrega2" 
                                v-bind:disabled='mustDisable(pedido.data.status)'
                                v-on:click="onClickEntregaPedido">Finalizar Pedido</button>
                        </template>
                        <template v-else-if="serviceEntrega.data">
                          <p class="service-success btEntrega3">Pedido Finalizado com Sucesso</p>
                      </template>
                        <template v-else>
                            <div class="confirm-box" v-if="nothingToDeliver && confirmMessage">
                                <p>Você está finalizando o pedido sem entregar um item ao cliente. Tem certeza que quer estornar o pedido?</p>
                                <button class="BTValidar"                             
                                v-bind:disabled='mustDisable(pedido.data.status)'
                                v-on:click="confirmEmptyCheckout">Estornar pedido</button>
                                <button class="BTCancelar"                             
                                v-bind:disabled='mustDisable(pedido.data.status)'
                                v-on:click="resetEmptyCheckout">Cancelar</button>
                            </div>
                            <template v-if="!confirmMessage">
                                <button class="BTValidar btEntrega4"                             
                                v-bind:disabled='mustDisable(pedido.data.status)'
                                v-on:click="onClickEntregaPedido">Finalizar Pedido</button>
                            </template>
                        </template>
                    </template>


                    <!-- <button class="BTValidar" v-if="validacaoSelecionada === 'entregar'">Finalizar Pedido</button>  -->
                    <template v-if="validacaoSelecionada === 'estorno-boleto'">
                        <button class="BTValidar" v-if="serviceEstorno.loading">Enviando dados...</button>
                        <template v-else-if="serviceEstorno.error">
                            <p class="service-error">
                                {{serviceErrorMessageEstorno(serviceEstorno.error)}}
                            </p>
                            <button class="BTValidar" v-on:click="onClickEstornoBoleto">Estornar Boleto</button> 
                        </template>
                        <template v-else-if="serviceEstorno.data">
                            <p class="service-success btEntrega3">Estorno Solicitado com sucesso</p>
                        </template>                        
                        <button v-else class="BTValidar" v-on:click="onClickEstornoBoleto">Estornar Boleto</button> 
                    </template>



                    <template v-if="validacaoSelecionada === 'estorno-cartao'">
                        <button class="BTValidar" v-if="serviceEstorno.loading">Enviando dados...</button>
                        <template v-else-if="serviceEstorno.error">
                            <p class="service-error">
                                {{serviceErrorMessageEstorno(serviceEstorno.error)}}
                            </p>
                            <!-- <button class="BTValidar" v-on:click="onClickEstornoBoleto">Estornar Cartão</button>  -->
                        </template>
                        <template v-else-if="serviceEstorno.data">
                            <p class="service-success btEntrega3">Estorno Solicitado com sucesso</p>
                        </template>                        
                        <button v-else class="BTValidar" v-on:click="onClickEstornoCartao">Estornar Cartão</button> 
                    </template>
                    
                    <br>
                </td>
            </tr>
            </template>
        </table>
    </div>
</div>