.app--modal--base {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position:fixed;
	top:0;
	right: 0;
	z-index: 20;
}
.app--modal--base .modal-container {
	background: #fff;
	width: 500px;
	padding: 20px 40px;
	margin: 0 auto;
	margin-top:10%;
	border-radius: 4px;
	border:solid 1px #e5e5e5;
	text-align:center;
	box-sizing: content-box;
}

@media (orientation:portrait) {
	.app--modal--base {
	}
}

@media (max-width: 1024px) {
	.app--modal--base {
	}
}