@import '../select/select.css';

.enext--form-campo--date-picker {
}

.enext-fc-date-picker .campo-lista {
	position: absolute;
	right: 50%;
	margin: 0 -10em;
	padding-bottom: 0;
	min-width: 20em;
	max-height: 20em;
}
.enext-fc-date-picker .campo-lista-left {
	position: absolute;
	right: 100%;
	margin: 0 -20em 0 0;
}
.enext-fc-date-picker .campo-lista-right {
	position: absolute;
	right: 0%;
	margin: 0 0 0 -20em;
}

@media (orientation:portrait) {
	.enext--form-campo--date-picker {
	}
}

@media (max-width: 1024px) {
	.enext--form-campo--date-picker {
	}
}