.enext-fc-base {
	position: relative;
	font-size: 1em;
	text-align: left;
	margin: 0 0 1rem;
}
.enext-fc-base * {
	font-size: inherit;
}
.enext-fc-base .campo-wrap-border {
	position: relative;
	margin-top: 5px;
	height: 36px;
}
.enext-fc-base .campo-border {
	position: relative;
	border:solid 1px #e5e5e5;
	border-radius: 4px;
	overflow: hidden;
	box-sizing: border-box;
}
.enext-fc-base .campo-anchor {
	text-decoration: none;
	color: inherit;
}
.enext-fc-base .campo-label {
	text-align: left;
}
.enext-fc-base .campo-value {
	width: 100%;
	/* height:42px; */
	padding:0;
	color:#989898;
	background: #f8f8f8;
}
.enext-fc-base .campo-controle {
	padding: 7px;
	height: 34px;
	line-height: 20px;
	background: #f8f8f8;
	border: none;
	box-sizing: border-box;
}
.enext-fc-base.campo-missing .campo-label,
.enext-fc-base.campo-error .campo-label {
	color: #d0021b;
}
/*.enext-fc-base.campo-focused .campo-label,*/
.enext-fc-base.campo-filled .campo-label {
	/* color: #f8562c; */
}
.enext-fc-base.campo-focused .campo-label {
	/*color: #4d4d4d;*/
}
.enext-fc-base.campo-opened .campo-border,
.enext-fc-base.campo-focused .campo-border {
	border-color: #774d99;
	/*color: #4d4d4d;*/
}
.enext-fc-base.campo-missing .campo-border,
.enext-fc-base.campo-error .campo-border {
	border-color: #d0021b;
}

/* .enext-fc-base.campo-filled.campo-valid .campo-label::after {
	content: '';
	display: inline-block;
	width: 0.95em;
	height: 0.95em;
	margin: 0 0 0 0.5em;
	vertical-align: middle;
	background: url(../../img/campo-valido.svg) no-repeat center center;
	background-size: contain;
} */
.enext-fc-base .campo-name {
	display: inline-block;
}
.enext-fc-base .campo-detail {
	display: inline-block;
}
.enext-fc-base.campo-error .campo-name {
	display: none;
}
.enext-fc-base.campo-error .campo-detail {
	display: none;
}
.enext-fc-base.campo-focused .campo-detail,
.enext-fc-base.campo-filled .campo-detail {
	display: none;
}
.enext-fc-base .campo-controle {
	display: block;
	width: 100%;
	font-family: Lato, sans-serif;
    font-size: 1em;
	font-weight: normal;
	color: #222;
}
.enext-fc-base.campo-disabled .campo-controle {
    background: #ebebeb;
    color: #717171;
}
.enext-fc-base.campo-missing .campo-controle,
.enext-fc-base.campo-error .campo-controle {
	color: #d0021b;
}
.enext-fc-base.campo-error .campo-validation {
	color: #d0021b;
}
.enext-fc-base.campo-error .campo-validation::after {
	content: '';
	display: inline-block;
	width: 0.95em;
	height: 0.95em;
	margin: 0 0 0 0.5em;
	/* vertical-align: middle; */
	background: url(../../img/campo-invalido.svg) no-repeat center center;
	background-size: contain;
}

