<div class="app--modal--esqueci-a-senha">
	<app--modal--base>
    <h1>Recupere sua senha</h1>
    <span class="x-close-password-button" type="button" v-on:click="clickFechar" value="CANCELAR">X</span>
		<!-- <h4>Insira o e-mail cadastrado</h4> -->
		<form v-show="!returnMessage" @submit="submitPassReset">
			<enext--form-campo--texto
				v-bind:campo="campoEmail"
				v-on:valor="onCampoValor"
				v-on:blur="onCampoBlur"
			></enext--form-campo--texto>

			<enext--form-campo--texto
				v-bind:campo="campoCNPJ"
				v-on:valor="onCampoValor"
				v-on:blur="onCampoBlur"
			></enext--form-campo--texto>

			<input type="button" v-on:click="clickFechar" value="CANCELAR" />
			<input type="submit" value="ENVIAR" />
		</form>
		
		<template v-if="returnMessage">
			<p class="return-message" v-text="returnMessage"></p>
			<br>
			<input type="button" v-on:click="clickFechar" value="Fechar" />
		</template>
		<template v-else>
			<p>* Iremos lhe enviar um e-mail com sua senha para acesso ao sistema</p>
		</template>
		
	</app--modal--base>
</div>