.app--pages-mobile--configuracoes--form {
}


.app--pages-mobile--configuracoes--form * {
	font-family: 'Lato', sans-serif;
  }
  
  .app--pages-mobile--configuracoes--form ul{
	  padding: 0;
	  margin: 0;
	  list-style: none;
	}
  .app--pages-mobile--configuracoes--form .container{
	background: #fff;
	height: auto;
	padding: 25px;
	border: solid 1px #e5e5e5;
	border-radius: 4px;
  }
  .app--pages-mobile--configuracoes--form .container img{
	width: 60px;
	height: 60px;
  }
  .app--pages-mobile--configuracoes--form .container h1{
	color: #333;
	font-size: 18pt;
	margin-top: 15px;
	margin-bottom: 15px;
  }
  .app--pages-mobile--configuracoes--form .container p{
	color: #bbb8b8;
	font-size: 11pt;
	font-weight: bold;
	line-height: 18px;
  }
  .app--pages-mobile--configuracoes--form .container_form-title2{
	width: 100%;
	height: 35px;
	font-size: 18px;
	color: #774D99;
	margin-top: 30px;
	margin-bottom: 10px;
	text-align:left;
  }
  .app--pages-mobile--configuracoes--form .container_form-title3{
	width: 100%;
	height: 35px;
	font-size: 22px;
	font-weight: bold;
	text-transform:uppercase;
	color: #000000;
	margin-top: 30px;
	margin-bottom: 10px;
	text-align:center;
  }
  .app--pages-mobile--configuracoes--form .form{
	padding: 0 20px 30px 20px;
	display: flex;
	flex-wrap: wrap;
	background:#FFFFFF;
	font-size: 14px;
	color: #989898;
	text-align: center;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
  }
  .app--pages-mobile--configuracoes--form .ok_symbol{
	margin-top: 30px;
	border: 2px solid lime;
	background-image: url("paper.gif");
	background-color: transparent;
	width: 43px;
	height: 43px;
	border-radius:50%;
	position: relative;
	left:42.5%
  }
  .app--pages-mobile--configuracoes--form .form-sm1{/*select box small*/
	text-align:left;
	width: 29%;
	margin-top:10px;
  }
  .app--pages-mobile--configuracoes--form .form-sm2{/*select box small*/
	text-align:left;
	width: 69%;
	margin-left: 2%;
	margin-top:10px;
  }
  .app--pages-mobile--configuracoes--form .form-sm2b{/*select box small*/
	text-align:left;
	width: 49%;
	margin-left: 2%;
	margin-top:10px;
  }
  .app--pages-mobile--configuracoes--form .form-smdv{/*select box small*/
	text-align:left;
	width: 18%;
	margin-left: 2%;
	margin-top:10px;
  }
  .app--pages-mobile--configuracoes--form .enext-fc-base {
	  width: 100%;
	  height: 55px;
	  margin-top: 14px;
	  text-align: left;
  }
  
  .app--pages-mobile--configuracoes--form .enext-fc-base .campo-label {
	  font-weight: bold;
  }
  .app--pages-mobile--configuracoes--form .enext-fc-base .campo-border {
	  margin-top: 6px;
  }
  .app--pages-mobile--configuracoes--form .form_end{
	width: 100%;
	padding: 20px 0;
	font-size: 14px;
	display:flex;
	flex-wrap:wrap;
  }
  .app--pages-mobile--configuracoes--form .form_end-termos a{
	color:#774D99;
	text-decoration:none;
  }
  .app--pages-mobile--configuracoes--form .comprovantes{
	margin-left: 0px;
	text-align: left;
  }
  .app--pages-mobile--configuracoes--form .comprovantes label{
	  font-weight: bold;
  }
  .app--pages-mobile--configuracoes--form .txt_anexar{
	text-decoration:underline;
	color:#774D99;
	line-height: 50px;
  }
  .app--pages-mobile--configuracoes--form .clicktermo {
	background:none;
	border:none;
	cursor: pointer;
  }
  .app--pages-mobile--configuracoes--form .termos{
	width:100%;
	text-align:center;
	padding: 5px;
	line-height: 0px;
	color: #774D99;
	font-weight: bold;
  }
  .app--pages-mobile--configuracoes--form .txt_termos{
	font-weight:bold;
	color: #774D99;
  }
  /* .app--pages-mobile--configuracoes--form #div15{
	display: none;
  } */
  
  .app--pages-mobile--configuracoes--form .checktermo {
	  text-align: center;
	  margin-top: 20px;
	  font-size: 14px;
	  color: #717171;
	  width: 100%;
  }
  .app--pages-mobile--configuracoes--form .checktermo .enext-fc-checkbox {
	  margin-top: 10px;
	  margin-bottom: 0px;
	  font-size: 14px;
	  font-weight: bold;
	  padding-bottom: 0;
  }
  .app--pages-mobile--configuracoes--form .checktermo .enext-fc-checkbox .campo-label {
	  display: inline;
  }
  .app--pages-mobile--configuracoes--form .div15{
	display:none;
  }
  .app--pages-mobile--configuracoes--form .labeldiv15{
	border-radius: 4px;
	width:15px;
	height:15px;
	background:#fbfbfb;
	border:solid 3px #e5e5e5;
	font-size:11px;
	margin-right:5px;
  }
  .app--pages-mobile--configuracoes--form .div15:checked ~ #labeldiv15 {
	background:#774d99;
  }
  .app--pages-mobile--configuracoes--form .div14{
	background:none;
	border:none;
	display:none;
  }
  .app--pages-mobile--configuracoes--form .labeldiv4{
	color:#774d99;
	text-decoration: underline;
  }
  .app--pages-mobile--configuracoes--form .cadastrarLoja{
	border: none;
	background: #774D99;
	color: #fff;
	padding: 8px 40px 8px 40px;
	border-radius: 4px;
	cursor: pointer;
  }
  .app--pages-mobile--configuracoes--form select{
	padding: 5px 0px 5px 10px;
	color: #989898;
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	background: url(../img/arrow-select.png) no-repeat #fff;  /* Imagem de fundo (Seta) */
	background-position: 93% center;  /*Posição da imagem do background*/
	}
	
	.app--pages-mobile--configuracoes--form .enext-fc-base .campo-controle {
    background: #fff;
}

.app--pages-mobile--configuracoes--form .enext-fc-base .campo-border {
	background: #ebebeb;
}

.app--pages-mobile--configuracoes--form .enviar-email .enext-fc-base {
	width: 267px;
	margin-right: 10px;
}


/* Row10 Disable */
.app--pages-mobile--configuracoes--form .campo-disable .enext-fc-base {
	width: 217px;
	margin-right: 10px;
}

.app--pages-mobile--configuracoes--form .dt-recebimento .enext-fc-base {
	width: 167px;
	margin-right: 0px;
}

.app--pages-mobile--configuracoes--form .no-margin .enext-fc-base {
	width: 217px;
	margin-right: 0px;
}

.app--pages-mobile--configuracoes--form .campo-disable .enext-fc-base .campo-controle {
    background: #ebebeb;
    color: #717171;
    font-weight: bold;
}
.app--pages-mobile--configuracoes--form .row10 {
    display: flex;
    width: 50%;
    margin-left: 30px;
    margin-top: 30px;
    justify-content: space-between;
}
.app--pages-mobile--configuracoes--form .row10 .enext-fc-base {
    margin-right: 20px;
}

@media (orientation:portrait) {
	.app--pages-mobile--configuracoes--form {
	}
}

@media (max-width: 1024px) {
	.app--pages-mobile--configuracoes--form {
	}
}