<div class="app--pages-mobile--configuracoes--form">
    <div class="form" style="border-bottom-left-radius: 0;border-bottom-right-radius: 0;">
        <enext--form-campo--texto
            v-bind:campo="campoCNPJ"
            v-on:valor="onCampoValor"
            v-on:blur="onCampoBlur"
        ></enext--form-campo--texto>
        <enext--form-campo--texto
            v-bind:campo="campoRazaoSocial"
            v-on:valor="onCampoValor"
            v-on:blur="onCampoBlur"
        ></enext--form-campo--texto>
        <enext--form-campo--texto
            v-bind:campo="campoNomeFantasia"
            v-on:valor="onCampoValor"
            v-on:blur="onCampoBlur"
        ></enext--form-campo--texto>
        <enext--form-campo--texto
            v-bind:campo="campoSUC"
            v-on:valor="onCampoValor"
            v-on:blur="onCampoBlur"
        ></enext--form-campo--texto>
            <div class="form-sm1">
                <enext--form-campo--select
                    v-bind:campo="campoAndar"
                    v-on:selecionado="onCampoSelecionado"
                    v-on:blur="onCampoBlur"
                ></enext--form-campo--select>
            </div>
            <div class="form-sm2">
                <enext--form-campo--select
                    v-bind:campo="campoCategoria"
                    v-on:selecionado="onCampoSelecionado"
                    v-on:blur="onCampoBlur"
                ></enext--form-campo--select>
            </div>

        <enext--form-campo--texto
            v-bind:campo="campoResponsavel"
            v-on:valor="onCampoValor"
            v-on:blur="onCampoBlur"
        ></enext--form-campo--texto>
        <enext--form-campo--texto
            v-bind:campo="campoTelefone"
            v-on:valor="onCampoValor"
            v-on:blur="onCampoBlur"
        ></enext--form-campo--texto>
        <enext--form-campo--texto
            v-bind:campo="campoEmail"
            v-on:valor="onCampoValor"
            v-on:blur="onCampoBlur"
        ></enext--form-campo--texto>
        <!-- <div class="row10"> -->
            <!-- Campos disable -->
            <div class="formcad-item formcad-itemmedium dt-recebimento campo-disable">
                    <enext--form-campo--texto
                        v-bind:campo="campoDtRecebimento"
                        v-on:valor="onCampoValor"
                        v-on:blur="onCampoBlur"
                    ></enext--form-campo--texto>
                    </div>
                    <div class="formcad-item formcad-itemmedium campo-disable">
                    <enext--form-campo--texto
                        v-bind:campo="campoAntecipacao"
                        v-on:valor="onCampoValor"
                        v-on:blur="onCampoBlur"
                ></enext--form-campo--texto>
                </div>
                <div class="formcad-item formcad-itemmedium no-margin campo-disable">
                    <enext--form-campo--texto
                        v-bind:campo="campoTaxa"
                        v-on:valor="onCampoValor"
                        v-on:blur="onCampoBlur"
                    ></enext--form-campo--texto>
                </div>  
                <!-- Fim dos campos disable -->
            <!-- </div> -->


    </div>
    <div class="form" style="border-top-left-radius: 0;border-top-right-radius: 0;">
        <div class="container_form-title2">
            Dados Bancários
        </div>
        <enext--form-campo--select
            v-bind:campo="campoContaBanco"
            v-on:selecionado="onCampoSelecionado"
            v-on:blur="onCampoBlur"
        ></enext--form-campo--select>
        <div class="form-sm1">
            <enext--form-campo--texto
                v-bind:campo="campoContaAgencia"
                v-on:valor="onCampoValor"
                v-on:blur="onCampoBlur"
            ></enext--form-campo--texto>
        </div>
        <div class="form-sm2b">
            <enext--form-campo--texto
                v-bind:campo="campoContaNumero"
                v-on:valor="onCampoValor"
                v-on:blur="onCampoBlur"
            ></enext--form-campo--texto>
        </div>
        <div class="form-smdv">
            <enext--form-campo--texto
                v-bind:campo="campoDV"
                v-on:valor="onCampoValor"
                v-on:blur="onCampoBlur"
            ></enext--form-campo--texto>
        </div>
        <div class="form_end">
            <div class="comprovantes">
                <label for="contacorrente">Comprovante Bancário: *</label>
				<input type="file" id="div14" name="Comprovante-Bancario" v-on:change="changeComprovante" style="display:none;"/><br><br>
				<label for="div14" class="labeldiv4" ref="fileComprovante" style="margin-top:10px;">
					<template v-if="arquivoSelecionado">{{arquivoSelecionado.name}}</template>
					<template v-else>Anexar comprovante bancário</template>
				</label>
            </div>
            <div class="checktermo"> 
                <enext--form-campo--checkbox
                    v-bind:campo="campoAceito"
                    v-bind:filterClick="filterClickAceito"
                    v-on:check="onCampoCheck"
                    v-on:blur="onCampoBlur"
                >
                    Eu declaro que li e aceito os
                    <button class="clicktermo" ref="btAbrirTermos" v-on:click="clickTermos">
                        <span class="termos">Termos e Condições de Uso</span>
                    </button>
                    da OnStores
                </enext--form-campo--checkbox>  
                <br><br><br>

                <span class="cadastrarLoja cadastrarLoja-sending" v-show="enviandoCadastro">Atualizando dados...</span>
                <button class="cadastrarLoja" v-show="!enviandoCadastro" v-on:click="clickCadastrar">Atualizar dados</button>
            </div>
        </div>
    </div>
</div>