<div class="app--desktop--header">
  <div class="header-fixed">
    <div class="container">
      <nav class="menu" v-if="isLogged">
        <ul>
          <li style="width:190px;"><a v-bind:href="routerBaseUrl + '/logout'" v-on:click.prevent="onClickLogout">
              <span class="menu-bt-content">
                <div class="text-user" v-text="userCompanyName" v-bind:title="userCompanyName"></div>
                <div class="text-logout">
                  Logout&nbsp;&nbsp;<img style="height:12px;width:12px;" v-bind:src="baseUrl + 'img/porta.png'"
                    alt="logout" />
                </div>
              </span>
            </a></li>
          <!-- <li style="width:65px;" class="sino">
            <a href="javascript:;">
              <img style="width:30px;height:30px;margin-top:15px;" v-bind:src="baseUrl + 'img/sino.png'" />
              <div class="sino-circle">
                <template v-if="notify.data && notify.data.count">
                  <span v-text="notify.data.count"></span>
                </template>
                <template v-else>
                  <span v-text="0"></span>
                </template>
              </div>
            </a>
            <div class="nav_notes">
              <button v-on:click="sawNotif" class="saw-notif">
                Limpar notificações
              </button>
              <ul>
                <li class="x-sino-wrapper" v-for="order in notify.data">
                  <a :href="'/loja/detalhes-pedido/'+order.order_id">
                    <span class="spancust">Nova Venda ID <font color="774d99">#{{order.order_id}}</font></span>
                    <br>
                    <p class="pcust" v-text="order.data"></p>
                  </a>
                </li>
              </ul>
            </div>
          </li> -->
          <!--<li v-if="isAdminOnstore" class="x-relatorio-pre-hover">
            Relatórios
            <div v-on:mouseover="mouseRelatorio" class="x-relatorio-submenu">
              <a href=" /api/receivables/seller?output=xlsx">
                Faturamento
              </a>
            </div>
            <div v-on:mouseover="mouseRelatorio" class="x-relatorio-submenu">
              <a href="/api/receivables/analytical?output=xlsx">
                Analitico Lojista
              </a>
            </div>
          </li>-->
          <li>
            <router-link v-bind:to="linkScope('configuracoes')">CONFIGURAÇÕES</router-link>
          </li>
          <li>
            <router-link v-bind:to="linkScope('recebimentos')">RECEBIMENTOS</router-link>
          </li>
          <!-- <li>
            <router-link v-bind:to="linkScope('minhas-vendas')">MINHAS VENDAS</router-link>
          </li> -->
        </ul>
      </nav>
    </div>
    <!--container-->
    <div class="logoonstore">
      <router-link v-bind:to="linkScope('recebimentos')">
        <img v-bind:src="baseUrl + 'img/logo.png'" alt="logo">
      </router-link>
    </div>
    <!--logoonstore-->
    <form v-if="isLogged" v-show='false' class="form-header-desktop" action="javascript:;" v-on:submit="onSubmitBusca">
      <!-- <input type="text" class="txtBusca" v-model="buscaValue" placeholder="Pesquise por número do pedido, CPF, produto, etc." /> -->
      <input type="text" class="txtBusca" v-model="buscaValue" placeholder="Buscar por Token do pedido." />
      <input class="btBusca" type="submit" value="☌" />
    </form>
  </div>
</div>