.app--desktop--header {
    height:60px;
}
.app--desktop--header .header-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 15;
}

.app--desktop--header .menu ul {
    background-color:#774d99;
    font-family: sans-serif;
    font-size: 14px;
    float: right;
    line-height: 60px;
    list-style: none;
    max-height: calc(100vh - 90px);
    overflow: auto;
    padding: 0px;
}

.app--desktop--header .menu ul li { 
    border-left:solid 2px #4e266f;
    display:block;
    float:right;
    height:60px;
    margin-top:0px;
    overflow: hidden;
    text-align:center;
    width:140px;
}

.app--desktop--header .menu ul li a {
    height: 60px;
    /* visual do link */
    color: #FFFFFF;
    text-decoration: none;
    display:block;
}
.x-sino-wrapper a,
.x-sino-wrapper span,
.x-sino-wrapper p{
  color: rgb(119,77,153);
}
.x-sino-wrapper:hover a,
.x-sino-wrapper:hover span,
.x-sino-wrapper:hover p{
  color: white;
}
.app--desktop--header .menu .menu-bt-content {
	display: inline-block;
    line-height: 1em;
    vertical-align: middle;
    max-width: 90%;
}
.app--desktop--header .menu .text-user {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.app--desktop--header .menu .text-logout {
	text-align: right;
	margin-top: 3px;
	font-size: 0.7em;
}
.app--desktop--header .menu .text-logout img{
	position: relative;
	top: 3px;
}

.app--desktop--header .menu ul li:hover {
    background-color:#4e266f;
    color: #FFF;
}
.app--desktop--header .nav_notes{
    width: 300px;
    background: #fff;
    position: absolute;
    top: 60px;
    right: 130px;
    display: none;
    z-index: 400;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.16);
    border-radius: 4px;
}

.app--desktop--header .nav_notes .saw-notif {
    background: #774d99;
    border: 0;
    border-radius: 3px;
    color: white;
    padding: 0.5rem 2rem;
    cursor: pointer;
}

.app--desktop--header .nav_notes:before{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    top: -10px;
    content: '';
    left: 71%;
    margin-left: -15px;
    position: absolute;
    z-index: 999;
}
.app--desktop--header .nav_notes ul{
    background: #fff;
    border-top: 1px solid #e5e5e5;
    list-style:none;
}
.app--desktop--header .nav_notes ul li{
    background:#fff;
    height:60px;
    border:none;
    width:100%;
    float:left;
    margin:0px;
    text-align:left;
    padding: 11px 0px 0px 13px;
    line-height: 19px;
    cursor:pointer;
    color:#989898;
    border-bottom: solid 1px #e5e5e5;
}
.app--desktop--header .nav_notes ul li:hover{
    color:#fff;
}
.app--desktop--header .spancust{
    font-size:13px;
    padding:0;
}
.app--desktop--header .pcust{
    font-size:10px;
    padding:0;
}
.app--desktop--header .sino:hover > .nav_notes{
    display: block;
}
.app--desktop--header .sino:hover > .nav_notes:before{
    display: block;
}
.app--desktop--header .form-header-desktop{
    width: 27%;
    height: 35px;
    position:relative;
    top: -48px;
    left: 125px;
}
@media (max-width: 1100px){
    .app--desktop--header .form-header-desktop{
        width: 15%;
    }
}
.app--desktop--header .txtBusca  {
    width: 100%;
    height: 35px;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 12px;
    color: #afafaf;
    font-family: sans-serif;
    border:none;
    padding: 0 0 0 5px;
}
.app--desktop--header .btBusca{
    border:none;
    background:#fff;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    position: absolute;
    top: 2px;
    border-radius: 4px;
    right: 2px;
    width:32px;
    height:32px;
    color:#774d99;
    font-size:24px;
}
.app--desktop--header .btBusca:hover{
    background:#774d99;
    color:#fff;
    cursor:pointer;
}
.app--desktop--header .logoonstore{
    text-align:center;
    width: 160px;
    height: 81px;
    border-radius: 10px;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.16);
    background-color: #ffffff;
    margin: -45px 0 -36px 50px;
}
.app--desktop--header .logoonstore img{
    width:90%;
    margin:5%;
}
.app--desktop--header .menu {
    width: 100%;
}
.app--desktop--header *{
    outline: none;
}

.app--desktop--header .container {
    height: 60px;
    background-color: #774d99;
    overflow: hidden;
}
.app--desktop--header .sino .sino-circle{
	width: 12px;
	height: 12px;
	background: #f00;
	position: absolute;
	top: 20px;
	right: 207px;
	border-radius: 50%;
}
.app--desktop--header .sino .sino-circle span{
	position: absolute;
	top: -24px;
	right: 3px;
	font-size: 8pt;
}
.x-relatorio-pre-hover{
  color: white;
   text-transform: uppercase;
   cursor: pointer;
}
.x-relatorio-submenu{
  position: absolute;
  z-index: 9999999;
  background-color: #774d99;
  color: white;
  width: inherit;
  height: inherit;
  margin-top: 3rem;
  cursor: pointer;
  display: none;
}
.x-relatorio-pre-hover:hover .x-relatorio-submenu {
  display: block;
}
.x-relatorio-submenu:hover {
  background-color: #4e266f;
}
.x-relatorio-submenu a{
  color: white;
}
.x-relatorio-submenu:first-of-type{
  margin-top: 0;
}
.x-relatorio-submenu:nth-child(2){
  margin-top: 3rem;
}
.x-relatorio-submenu:nth-child(3){
  margin-top: 6rem;
}

@media (orientation:portrait) {
	.app--desktop--header {
	}
}

@media (max-width: 1024px) {
	.app--desktop--header {
	}
}

/* SCROLLBAR STYLE */
/* width */
.app--desktop--header ::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.app--desktop--header ::-webkit-scrollbar-track {
  background: #cccccc; 
}
 
/* Handle */
.app--desktop--header ::-webkit-scrollbar-thumb {
  background: #774d99; 
}

/* Handle on hover */
.app--desktop--header ::-webkit-scrollbar-thumb:hover {
  background: #642498; 
}