<div class="app--pages-desktop--cadastro">
	<app--modal--termos-de-uso
		v-show="modalTermos"
		v-on:fechar="modalTermos = false"
		v-on:aceitar="termosAceitar"
	></app--modal--termos-de-uso>
	<div class="cadastroloja">
		CADASTRO LOJA
	</div><!--cadastroloja-->
	<template v-if="efetuado">
		<app--pages--cadastro--efetuado></app--pages--cadastro--efetuado>
	</template>
	<template v-else>
		<app--pages--cadastro--form
			v-on:cadastrar="efetuado = true"
			v-on:termos="modalTermos = true"
			ref="form"
		></app--pages--cadastro--form>
	</template>
</div>