.app--pages-desktop--cadastro {
}

.app--pages-desktop--cadastro .container {
    height: 60px;
    background-color: #774d99;
    margin: auto;
}

.app--pages-desktop--cadastro .logoonstore {
    width: 160px;
    height: 81px;
    border-radius: 10px;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.16);
    background-color: #ffffff;
    margin-top: -30px;
    margin-left: 20px;
    overflow: hidden;
}

.app--pages-desktop--cadastro .cadastroloja {
    margin-top: 30px;
    font-size: 22px;
    color: #774d99;
    font-weight: bold;  
    text-align: center;
}

@media (orientation:portrait) {
	.app--pages-desktop--cadastro {
	}
}

@media (max-width: 1024px) {
	.app--pages-desktop--cadastro {
	}
}