.enext--calendario {
	text-align: center;
}
.enext--calendario *,
.enext--calendario ::before,
.enext--calendario ::after {
	box-sizing: border-box;
}
.enext--calendario .cal-header {
	margin: 0 0 0.5em;
	border: 0.1em solid #e3e3e3;
	border-width: 0.1em 0;
}
.enext--calendario .cal-header .cal-week {
	/* color: #b5b5b5; */
	font-weight: bold;
}
.enext--calendario .cal-month {
	position: relative;
	height: 2.25em;
	line-height: 2.25em;
	/* color: #555; */
}
.enext--calendario .cal-month-change {
	position: absolute;
	top: 0;
	width: 2.25em;
	height: 2.25em;
	background: url(../img/arrow.svg) no-repeat 50% 50%;
	cursor: pointer;
}
.enext--calendario .cal-month-change.prev {
	left: 0;
	transform: rotate(90deg);
	/* content: '\002190'; */
}
.enext--calendario .cal-month-change.next {
	right: 0;
	transform: rotate(-90deg);
	/* content: '\002192'; */
}
.enext--calendario .cal-week {
	padding: 0.1em 0;
}
.enext--calendario .cal-week::after {
	content: '';
	display: block;
	clear: both;
}
.enext--calendario .cal-day {
	position: relative;
	float: left;
	width: 14.28%;
	height: 2em;
	line-height: 2em;
}
.enext--calendario .cal-day-text-before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 8%;
	width: 84%;
	height: 100%;
}
.enext--calendario .cal-day-text-after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 8%;
	width: 84%;
	height: 100%;
}
.enext--calendario .cal-day-text {
	position: relative;
	height: 100%;
	z-index: 1;
}
.enext--calendario .cal-day-enabled {
	cursor: pointer;
}
.enext--calendario .cal-day-during {
	background-color: #e4dbeb;
}
.enext--calendario .cal-day-start,
.enext--calendario .cal-day-end,
.enext--calendario .cal-day-alone {
	color: #fff;
	background: none;
}
.enext--calendario .cal-day-start::before,
.enext--calendario .cal-day-end::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 8%;
    height: 100%;
    background: #e4dbeb;
}
.enext--calendario .cal-day-start::before {
    right: 0;
}
.enext--calendario .cal-day-end::before {
	left: 0;
}
.enext--calendario .cal-day-alone::before {
    display: none;
}
.enext--calendario .cal-day-today .cal-day-text-before {
	border: 0.1em solid #e0a040;
	border-radius: 0.4em;
}
.enext--calendario .cal-day-enabled:hover .cal-day-text-before {
	border: 0.1em solid #774d99;
	border-radius: 0.4em;
}
.enext--calendario .cal-day-start .cal-day-text-before,
.enext--calendario .cal-day-end .cal-day-text-before,
.enext--calendario .cal-day-alone .cal-day-text-before {
    background: #774d99;
}
.enext--calendario .cal-day-start .cal-day-text-before {
	border-radius: 0.4em 0 0 0.4em;
}
.enext--calendario .cal-day-end .cal-day-text-before {
	border-radius: 0 0.4em 0.4em 0;
}
.enext--calendario .cal-day-alone .cal-day-text-before {
	border-radius: 0.4em;
}
/*.enext--calendario .cal-day-enabled:hover .cal-day-text-before {
	border: 0.1em solid #774d99;
	border-radius: 0.4em;
}
.enext--calendario .cal-day-start:hover .cal-day-text-before,
.enext--calendario .cal-day-end:hover .cal-day-text-before {
	border: none;
}*/
.enext--calendario .cal-day-start:hover .cal-day-text-after,
.enext--calendario .cal-day-end:hover .cal-day-text-after {
	left: 8%;
	width: 84%;
	font-weight: bold;
	color: #d32f2f;
	background: #fff;
	border: 0.1em solid #774d99;
	border-radius: 0.4em;
	z-index: 2;
}
.enext--calendario .cal-day-start:hover .cal-day-text-after::before,
.enext--calendario .cal-day-end:hover .cal-day-text-after::before {
	content: '\d7';
	display: inline-block;
	position: relative;
	bottom: 0.17em;
	line-height: 1em;
	font-size: 2em;
	vertical-align: middle;
}

@media (orientation:portrait) {
	.enext--calendario {
	}
}

@media (max-width: 1024px) {
	.enext--calendario {
	}
}