<div class="app--pages--cadastro--form">
	<div class="boxform">
		<form roleType="form" action="javascript:;">
			<!--fieldset-->

			<div class="formcad">

				<div class="row">
					<div class="formcad-item formcad-itemmedium">
						<vcomp--form-campo2--texto v-bind:campo="campoCNPJ" v-on:valor="onCampoValor" v-on:blur="onCampoBlur">
						</vcomp--form-campo2--texto>
						<!-- <label for="CNPJ">CNPJ: *</label>
									<input type="text" id="div1" value="123" name="CNPJ"> -->
					</div>

					<div class="formcad-item formcad-itemlarge">
						<vcomp--form-campo2--texto v-bind:campo="campoRazaoSocial" v-on:valor="onCampoValor"
							v-on:blur="onCampoBlur"></vcomp--form-campo2--texto>
						<!-- <label for="razaosocial">Razão Social: *</label>
									<input type="text" id="div2" name="Razão Social"> -->
					</div>

					<div class="formcad-item formcad-itemlarge">
						<vcomp--form-campo2--texto v-bind:campo="campoNomeFantasia" v-on:valor="onCampoValor"
							v-on:blur="onCampoBlur"></vcomp--form-campo2--texto>
						<!-- <label for="nomefantasia">Nome Fantasia: *</label>
									<input type="text" id="div3" name="Nome Fantasia"> -->
					</div>
				</div>

				<div class="row row--matriz">
					<div class="formcad-item formcad-itemmedium">
						<vcomp--form-campo2--texto v-bind:campo="campoCNPJMatriz" v-on:valor="onCampoValor" v-on:blur="onCampoBlur">
						</vcomp--form-campo2--texto>
					</div>

					<div class="formcad-item formcad-itemlarge">
						<vcomp--form-campo2--texto v-bind:campo="campoRazaoSocialMatriz" v-on:valor="onCampoValor"
							v-on:blur="onCampoBlur"></vcomp--form-campo2--texto>
						<!-- <label for="razaosocial">Razão Social: *</label>
									<input type="text" id="div2" name="Razão Social"> -->
					</div>

				</div>

				<div class="row">
					<div class="formcad-item formcad-itemmedium">
						<vcomp--form-campo2--texto v-bind:campo="campoSUC" v-on:valor="onCampoValor" v-on:blur="onCampoBlur">
						</vcomp--form-campo2--texto>
						<!-- <label for="suc">SUC: *</label>
							<input type="text" id="div4" name="SUC"> -->
					</div>

					<div class="formcad-item formcad-itemcc">
						<vcomp--form-campo2--select v-bind:campo="campoAndar" v-on:selecionado="onCampoSelecionado"
							v-on:blur="onCampoBlur"></vcomp--form-campo2--select>
						<!-- <label for="andar">Andar: *</label>
								<select id="div5" name="Andar">
									<option value=""></option>
									<option value="1">1</option>
								</select> -->
					</div>

					<div class="formcad-item formcad-iteminter">
						<vcomp--form-campo2--select v-bind:campo="campoCategoria" v-on:selecionado="onCampoSelecionado"
							v-on:blur="onCampoBlur"></vcomp--form-campo2--select>
						<!-- <label for="categoria">Categoria: *</label>
								<select id="div6" name="Categoria">
									<option value=""></option>
									<option value="1">1</option>
								</select> -->
					</div>

					<div class="formcad-item formcad-itemlarge">
						<vcomp--form-campo2--texto v-bind:campo="campoResponsavel" v-on:valor="onCampoValor"
							v-on:blur="onCampoBlur"></vcomp--form-campo2--texto>
						<!-- <label for="nomeresp">Nome do Responsável: *</label>
									<input type="text" id="div7" name="Nome do Responsável"> -->
					</div>
				</div>

				<div class="row1">
					<div class="formcad-item formcad-itemmedium">
						<vcomp--form-campo2--texto v-bind:campo="campoTelefone" v-on:valor="onCampoValor" v-on:blur="onCampoBlur">
						</vcomp--form-campo2--texto>
						<!-- <label for="telresp">Telefone Responsável: *</label>
								<input type="text" id="div8" name="Telefone Responsável"> -->
					</div>

					<div class="formcad-item formcad-itemmedium">
						<vcomp--form-campo2--texto v-bind:campo="campoEmail" v-on:valor="onCampoValor" v-on:blur="onCampoBlur">
						</vcomp--form-campo2--texto>
						<!-- <label for="emailresp">Email Responsável: *</label>
								<input type="text" id="div9" name="Email Responsável"/> -->
					</div>
					<div class="formcad-item formcad-iteminter">
						<vcomp--form-campo2--select v-bind:campo="campoShopping" v-on:selecionado="onCampoSelecionado"
							v-on:blur="onCampoBlur"></vcomp--form-campo2--select>
					</div>
				</div>
				<div class="row10" v-if="isLogged">
					<!-- Campos disable -->
					<div class="formcad-item formcad-itemmedium campo-disable">
						<vcomp--form-campo2--texto v-bind:campo="campoDtRecebimento" v-on:valor="onCampoValor"
							v-on:blur="onCampoBlur"></vcomp--form-campo2--texto>
					</div>
					<div class="formcad-item formcad-itemmedium campo-disable">
						<vcomp--form-campo2--texto v-bind:campo="campoAntecipacao" v-on:valor="onCampoValor"
							v-on:blur="onCampoBlur"></vcomp--form-campo2--texto>
					</div>
					<div class="formcad-item formcad-itemmedium campo-disable">
						<vcomp--form-campo2--texto v-bind:campo="campoTaxa" v-on:valor="onCampoValor" v-on:blur="onCampoBlur">
						</vcomp--form-campo2--texto>
					</div>
					<!-- Fim dos campos disable -->
				</div>
			</div>
			<!--/fieldset-->

			<template v-if="isLogged">
				<br><br><hr>
				
				<div class="newpass">
					<p>Esqueci minha senha</p>
					<button type="button" class="botaocdr" @click="modalSenha = true">Alterar senha</button>
					
					<app--modal--alterar-senha
						v-show="modalSenha"
						v-on:fechar="modalSenha = false"
					></app--modal--alterar-senha>
					
				</div>
			</template>

			<br>
			<hr>

			<div class="dadosbanc">
				Dados Bancários
			</div>
			<!--dadosbanc-->
			<div class="row2">
				<div class="formcad-item formcad-itemmedium">
					<vcomp--form-campo2--select v-bind:campo="campoContaBanco" v-on:selecionado="onCampoSelecionado"
						v-on:blur="onCampoBlur"></vcomp--form-campo2--select>
				</div>
				<div class="formcad-item formcad-itemag">
					<vcomp--form-campo2--texto v-bind:campo="campoContaAgencia" v-on:valor="onCampoValor" v-on:blur="onCampoBlur">
					</vcomp--form-campo2--texto>
				</div>
				<div class="formcad-item formcad-itemdv">
					<vcomp--form-campo2--texto v-bind:campo="campoAgenciaDV" v-on:valor="onCampoValor" v-on:blur="onCampoBlur">
					</vcomp--form-campo2--texto>
				</div>
				<div class="formcad-item formcad-itemcc">
					<vcomp--form-campo2--texto v-bind:campo="campoContaNumero" v-on:valor="onCampoValor" v-on:blur="onCampoBlur">
					</vcomp--form-campo2--texto>
				</div>
				<div class="formcad-item formcad-itemdv">
					<vcomp--form-campo2--texto v-bind:campo="campoDV" v-on:valor="onCampoValor" v-on:blur="onCampoBlur">
					</vcomp--form-campo2--texto>
				</div>
				<div class="formcad-item formcad-itemcb"
					v-bind:class="{'formcad-missing': campoUpload.falta, 'formcad-error': campoUpload.erro}">
					<label>Comprovante Bancário: *</label>
					<input type="file" id="div14" ref="fileUpload" name="Comprovante-Bancario" v-on:change="onChangeFileUpload">
					<label for="div14" id="labeldiv4" style="margin-top:10px;">
						<template v-if="campoUpload.file">{{campoUpload.file.name}}</template>
						<template v-else>Anexar comprovante bancário</template>
					</label>
					<label v-if="campoUpload.erro" v-text="campoUpload.erro" class="formcad-item-errormessage"></label>
				</div>
			</div>

			<div class="checktermo">
				<!-- <input type="checkbox" name="opcoes" value="aceito" id="div15" v-model="checkboxAceito"/>
			<label for="div15" id="labeldiv15">&nbsp;&nbsp;&nbsp;&nbsp;</label> -->
				<vcomp--form-campo2--checkbox v-bind:campo="campoAceito" v-bind:filterClick="filterClickAceito"
					v-on:check="onCampoCheck" v-on:blur="onCampoBlur">
					Eu declaro que li e aceito os
					<button class="clicktermo" ref="btAbrirTermos" v-on:click="clickTermos">
						<span class="termos">Termos e Condições de Uso</span>
					</button>
					da OnStores*
				</vcomp--form-campo2--checkbox>
			</div>
			<div class="row3">
				<div class="mensagemErro" v-if="erroMensagem" v-text="erroMensagem"></div>
				<span class="botaocdr botaocdr-sending" v-show="enviandoCadastro">Cadastrando Loja...</span>
				<button type="button" class="botaocdr" v-show="!enviandoCadastro" v-on:click="clickCadastrar"
					v-if="$router.history.current['path'] == '/loja/configuracoes'">Atualizar Dados</button>
				<button type="button" class="botaocdr" v-show="!enviandoCadastro" v-on:click="clickCadastrar"
					v-else="$router.history.current['path'] !== '/loja/configuracoes'">Cadastrar Loja</button>
			</div>
		</form>
	</div>
	<!--boxform-->
</div>