.app--pages-mobile--detalhes-mobile {
  font-size: 18px;
}
.app--pages-mobile--detalhes-mobile * {
    margin: 0;
    padding: 0;
    outline:none;
    font-family: 'Lato', sans-serif;
  }
  .app--pages-mobile--detalhes-mobile ul{
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .app--pages-mobile--detalhes-mobile body {
    background: #f8f8f8;
    font-family: Lato;
    margin: auto;
  }
  .app--pages-mobile--detalhes-mobile h4 {
    font-size: 18px;
    color: #774d99;
    margin-left: 150px; 
  }
  .app--pages-mobile--detalhes-mobile .destaque{
    width: 90%;
    margin: 0 auto;
    text-align: left;
    padding-top: 50px;
  }
  .app--pages-mobile--detalhes-mobile .pedido {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #e5e5e5; 
    background-color: #FFFFFF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom:40px;
  }
  .app--pages-mobile--detalhes-mobile .pedido h1 {
    color: #774d99;
    font-size: 1.25em;
    font-weight: bold;
    padding: 1.5em 0 1em;
  }
  .app--pages-mobile--detalhes-mobile .pedido caption {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #ededed;
    border: 1px solid #e5e5e5;
    text-align:left;
    padding: 0.25em 0 0.25em 20px;
    line-height: 50px;
  }
  .app--pages-mobile--detalhes-mobile .pedido caption h1 {
    padding: 0;
    font-size: 1.5em;
  }
  .app--pages-mobile--detalhes-mobile .pedido caption span {
    font-size: 0.75em;
  }
  .app--pages-mobile--detalhes-mobile .pedido td {
    padding: 0px 10px 10px 20px;
  }
  .app--pages-mobile--detalhes-mobile .pedido tr {
    border: 1px solid #e5e5e5;  
  }
  .app--pages-mobile--detalhes-mobile .tr1 td {
    font-size: 1em;
    color: #717171;
    font-weight: bold;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    padding-top: 20px;
  }
  .app--pages-mobile--detalhes-mobile .tr2 td {
    font-size: 1em;
    color: #989898;
    border-left: 1px solid #e5e5e5;  
    border-right: 1px solid #e5e5e5;
    padding-bottom: 30px;
  }
  .app--pages-mobile--detalhes-mobile .tr3 h1 {
    padding:10px 10px 10px 10px;
  }
  .app--pages-mobile--detalhes-mobile .tr3 td {
    border: 1px solid #e5e5e5;
    border-bottom: none;
    padding-top: 10px;
    line-height: 25px;
    font-size: 1em;
    color: #717171;
    font-weight: bold;
    padding-top: 20px;
  }
  .app--pages-mobile--detalhes-mobile .tr4 td {
    border: 1px solid #e5e5e5;
    border-top: none;
    padding-top: 10px;
    line-height: 25px;
    font-size: 1em;
    color: #717171;
    padding-bottom: 30px;
  }  
  .app--pages-mobile--detalhes-mobile .tr5 td {
    border-bottom: none;
    padding-top: 0;
    line-height: 25px;
    font-size: 1em;
    color: #717171;
    font-weight: bold;
    vertical-align: top;
  }
  .app--pages-mobile--detalhes-mobile .tr5 td span{
    color: #717171;
    font-weight: normal;
  }
  .app--pages-mobile--detalhes-mobile .tr5 li {
    padding: 0.4em 0;
  }
  .app--pages-mobile--detalhes-mobile .tr6 td {
    border: 1px solid #e5e5e5;
    border-bottom: none;
    padding: 10px;
    line-height: 25px;
    font-size: 1em;
    color: #717171;
    font-weight: bold;
  }
  .app--pages-mobile--detalhes-mobile form p {
    font-size: 1em;
    color: #989898;
    float: left;
    margin-top: -3px;
  }
  .app--pages-mobile--detalhes-mobile .validacao1 {
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    padding: 7px 0px 0px 0px;
    width: 42%;
    height: 35px;
    float: left;
    text-align: center;
    margin: 3%;
    margin-bottom: -25px;
  }
  .app--pages-mobile--detalhes-mobile .entregarpedido{
    display:none;
  }
  .app--pages-mobile--detalhes-mobile .estornarpedido{
    display:none;
  }
  .app--pages-mobile--detalhes-mobile .radioBT1{
    background:#fff;
    font-size:9px;
    float:left;
    margin-right:5px;
    margin-top: 15px;
    height:10px;
    border-radius:4px;
    border:#e5e5e5 2px solid;
    padding: 3px;
    margin-top:2px;
  }
  .app--pages-mobile--detalhes-mobile .entregarpedido:checked ~ .radioBT1{
    background:#4e266f;
  }
  .app--pages-mobile--detalhes-mobile .entregarpedido:checked ~ .p1{
    color:#4e266f;
  }
  .app--pages-mobile--detalhes-mobile .estornarpedido:checked ~ .radioBT2{
    background:#4e266f;
  }
  .app--pages-mobile--detalhes-mobile .estornarpedido:checked ~ .p2{
    color:#4e266f;
  }
  .app--pages-mobile--detalhes-mobile .radioBT2{
    background:#fff;
    font-size:9px;
    float:left;
    margin-right:5px;
    height:10px;
    border-radius:4px;
    border:#e5e5e5 2px solid;
    margin-top:2px;
    padding: 3px;
  }
  .app--pages-mobile--detalhes-mobile  form input[type=radio] {
    float: left;
  }
  .app--pages-mobile--detalhes-mobile form p {
    font-size: 14px;
    color: #989898;
    float: left;
    margin-top: -3px;
    margin-left: 15px;
  }
  
  .app--pages-mobile--detalhes-mobile  .token{
    width: 95%;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    margin-left:10px;
    border-radius:4px;
    padding:0 0 0 10px;
    margin-top: 10px;
  }
  .app--pages-mobile--detalhes-mobile select{
    width: 95%;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    margin-left:10px;
    border-radius:4px;
    padding: 0;
    color:#717171;
    margin-top: 10px;
  }
  .app--pages-mobile--detalhes-mobile select option{
    color:#858282;
  }
  .app--pages-mobile--detalhes-mobile .labelcustom{
    font-size:14px;
    color:#717171;
    font-weight:bold;
  }
  .app--pages-mobile--detalhes-mobile .tokenPe{
    padding: 10px;
  }
  .app--pages-mobile--detalhes-mobile .obser{
    padding: 10px;
  }
  .app--pages-mobile--detalhes-mobile .opcoes {
    margin-top: 50px;
  }
  .app--pages-mobile--detalhes-mobile .estcartao{
    display: none;
  }
  .app--pages-mobile--detalhes-mobile .estboleto{
    display: none;
  }
  .app--pages-mobile--detalhes-mobile .BTValidar {
    background: #4e266f;
    color:#fff;
    font-family: sans-serif;
    font-size: 1.1em;
    border:none;
    padding:10px 25px 10px 25px;
    border-radius:5px;
    cursor:pointer;
  }
  .app--pages-mobile--detalhes-mobile  .tdborder{
    border-top: #e5e5e5 1px solid;
  }
  .app--pages-mobile--detalhes-mobile .BTEstornar{
    display: none;
  }
  .app--pages-mobile--detalhes-mobile  .BTEstornar:checked ~ .estornoL1{
    color: #4e266f;
  }
  .app--pages-mobile--detalhes-mobile .BTEstornar2:checked ~ .estornoL2{
    color: #4e266f;
  }

  .app--pages-mobile--detalhes-mobile  .BTEstornar2:checked ~ .estornoL2{
    color: #4e266f;
  }
  .app--pages-mobile--detalhes-mobile  .radioLabel{
    width: 50%;
    border-bottom: solid 2px #e5e5e5;
    float: left;
  }
  .app--pages-mobile--detalhes-mobile .radioLabel.active {
    border-color: #4e266f;
    color: #4e266f;
  }
  .app--pages-mobile--detalhes-mobile .lightbox{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 400;
    display: none;
  }
  .app--pages-mobile--detalhes-mobile  .lightbox-container{
    margin: 0 auto;
    background: #fff;
    width: 350px;
    height: 400px;
    margin-top: 15%;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
  }
  .app--pages-mobile--detalhes-mobile .close{
    color: #774d99;
    border: none;
    background: none;
    font-weight: bold;
    font-size: 18px;
    float: right;
  }
  .app--pages-mobile--detalhes-mobile .lightbox-container h1{
    color: #774d99;
    font-size: 18px;
  }
  .app--pages-mobile--detalhes-mobile .lightbox-container p{
    color: #989898;
    font-size: 14px;
    margin-top: 10px;
    padding: 0 30px 0 30px;
  }
  .app--pages-mobile--detalhes-mobile .lightbox label{
    color: #717171;
    font-weight: bold;
    float: left;
    margin-bottom: 5px;
  }
  .app--pages-mobile--detalhes-mobile .lightbox input{
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 5px;
    color: #989898;
    margin-bottom: 10px;
  }
  .app--pages-mobile--detalhes-mobile .coni{
    color: #fff;
    background: #774d99;
    border: none;
    border-radius: 4px;
    padding: 10px 30px 10px 30px;
    margin-top: 10px;
  }
  .app--pages-mobile--detalhes-mobile .content_container-title1{
    color: #4e266f;
    font-size: 32px;
    line-height: 1.4em;
    text-align: center;
    padding-bottom: 1em;
  }
  .app--pages-mobile--detalhes-mobile .opcoes .enext-fc-base .campo-controle {
      background: #fff;
  }
  .app--pages-mobile--detalhes-mobile .opcoes .enext-fc-select .campo-arrow {
    line-height: 0.6em;
}
.enext-fc-base .campo-name {
  color: #717171;
}
.app--pages-mobile--detalhes-mobile .BTValidar {
  padding: 14px 50px;
}

@media (orientation:portrait) {
	.app--pages-mobile--detalhes-mobile {
	}
}

@media (max-width: 1024px) {
	.app--pages-mobile--detalhes-mobile {
	}
}