<div class="app--pages-mobile--detalhes-mobile">
    <div class="destaque">
        <div class="content_container-title1">MINHAS VENDAS
            <h6>Detalhes do Pedido</h6>
        </div>
        <div class="content_form">
            <table cellspacing=0 class="pedido">
                <caption>
                    <h1>
                        Pedido {{pedidoId}}
                        <span v-if="!loading && !error && data">- {{data.date_created}}</span>
                    </h1>
                </caption>
                <tr v-if="loading">
                    <td>
                        <div class="service-loading">
                            <p>Carregando...</p>
                        </div>
                    </td>
                </tr>
                <tr v-if="!loading && error">
                    <td>
                        <div class="service-error">
                            <p><strong>Erro ao carregar os dados</strong></p>
                            <p>Detalhes: {{errorText}}</p>
                            <p><a href="javascript:;" v-on:click="clickReload">Tentar novamente</a></p>
                        </div>
                    </td>
                </tr>
                <tr v-if="!loading && !error && !data">
                    <td>
                        <div class="service-empty">
                            <p>Nenhum dado encontrado</p>
                        </div>
                    </td>
                </tr>
                <template v-if="!loading && !error && data">
                <template class="tr2" v-for="item in data.items">
                <tr class="tr1">
                    <td style="border-left: none;">Qtd.</td>
                    <td colspan="2" style="border-left: none;">Produto</td>
                    <td style="border: none;">Status</td>             
                </tr>
                <tr class="tr2">
                    <td style="border-left: none;">{{item.quantity}}</td>
                    <td style="border-right: none; border-left: none;">{{item.description}}</td>
                    <td style="border-left: none;"></td>
                    <td style="border-right: none; border-left: none;">{{item.status}}</td>  
                </tr>
                <tr class="tr3">
                    <td style="border-left: none;">Variação</td>
                    <td style="border-left: none;">Unidade</td>
                    <td style="border-left: none;">Total</td>
                    <td style="border-right: none; border-left: none; border-bottom: none;">Vendedor</td>
                </tr>
                <tr class="tr4">
                    <td style="border-left: none;">{{item.variation}}</td>
                    <td style="border-left: none;">
                        <app--utils--display-price
                            before="R$ "
                            v-bind:value="1000.00"
                        ></app--utils--display-price>
                    </td>
                    <td style="border-left: none;">
                        <app--utils--display-price
                            before="R$ "
                            v-bind:value="1000.00"
                        ></app--utils--display-price>
                    </td>
                    <td>{{item.salesperson}}</td> 
                </tr>
                </template>
                <tr class="tr5">
                    <td colspan="2" class="tdborder">
                        <h1>Cliente</h1>
                        <ul>
                            <li><b>Nome:</b><br><span>{{client.name}}</span></li>
                            <li><b>Email:</b><br> <span>{{client.email}}</span> </li>
                            <li><b>Nascimento:</b><br> <span>{{client.birth_date}}</span> </li>
                        </ul>
                    </td>
                    <td colspan="2" class="tdborder">
                        <h1>&nbsp;</h1>
                        <ul> 
                            <li><b>CPF:</b><br> <span>{{client.cpf}}</span> </li>
                            <li><b>Telefone:</b><br> <span>{{client.phone}}</span> </li>
                            <li><b>Sexo:</b><br> <span>
                                <template v-if="client.gender === 'female'">Feminino</template>
                                <template v-else-if="client.gender === 'male'">Masculino</template>
                                <template v-else>{{client.gender}}</template>
                            </span> </li>
                        </ul>  
                    </td>
                </tr>
                <tr class="tr5">
                    <td colspan="4">
                        Endereço:</b><br> <span>{{client.address}}</span>
                    </td>
                </tr> <!--Arrumada  -->
                <tr class="tr5">
                    <td colspan="2" class="tdborder">
                        <h1>Pagamento</h1>
                        <ul>
                            <li><b>Forma:</b><br> <span>
                                <template v-if="payment.payment_method === 'credit_card'">Cartão de crédito</template>
                                <template v-else-if="payment.payment_method === 'boleto'">Boleto</template>
                                <template v-else>{{payment.payment_method}}</template>
                            </span> </li>
                            <li><b>Parcelas:</b><br><span>{{payment.installments}}</span> </li>
                        </ul>
                    </td>
                    <td colspan="2" class="tdborder">
                        <h1>&nbsp;</h1>
                        <ul>    
                            <li v-if="payment.payment_method === 'credit_card'"><b>Bandeira:</b> <br><span>{{payment.card_brand}}</span></li>
                            <li><b>Nota Fiscal:</b><br><span> <a href="">acessar</a> </span> </li>
                        </ul>
                    </td><!--Arrumando  -->
                </tr>
                <tr class="tr5" style="padding: 0;">
                    <td colspan="4">
                        <h1>Validação</h1><br>
                        <div class="validacao1" v-for="opcao in validacaoOpcoes" v-bind:class="{active:validacaoSelecionada === opcao.valor}">
                            <enext--form-campo--checkbox
                                v-bind:campo="opcao"
                                v-on:check="onCampoCheck"
                                v-on:blur="onCampoBlur"
                            ></enext--form-campo--checkbox>
                        </div>
                    </td><!--Arrumando  -->
                </tr>
                <tr class="tr5" style="text-align:center;padding: 0;" v-show="validacaoSelecionada === 'estornar'">
                    <td colspan="4" style="padding: 0 10px;">
                        <br><br><br>
                        <div class="radioLabel" v-bind:class="{active:estornoSelecionado === opcao.valor}" v-for="opcao in estornoOpcoes" v-on:click="onClickEstorno(opcao)">
                            <input type="radio" name="estornar" class="BTEstornar" />
                            <label>{{opcao.texto}}</label>
                        </div>
                        <!-- <div class="radioLabel radioL1">

                            <input type="radio" name="estornar" class="BTEstornar estorno1">
                            
                            <label for="estorno1" class="estornoL1">Estorno Cartão</label>
                        </div>
                    </td>
                    <td colspan="2" style="padding:0 10px 0 0;">
                        <br><br><br>
                        <div class="radioLabel radioL2">
                            <input type="radio" name="estornar" class="BTEstornar estorno2">
                            <label for="estorno2" class="estornoL2">Estorno Boleto</label>  
                        </div>                           -->
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div class="opcoes">
                            <enext--form-campo--texto
                                v-bind:campo="campoToken"
                                v-on:valor="onCampoValor"
                                v-on:blur="onCampoBlur"
                            ></enext--form-campo--texto>
                            <br><br>
                            <enext--form-campo--select
                                v-show="validacaoSelecionada === 'estornar'"
                                v-bind:campo="campoStatus"
                                v-on:selecionado="onCampoSelecionado"
                                v-on:blur="onCampoBlur"
                            ></enext--form-campo--select><br>
                        </div>
                        <div style="text-align: center;">
                            <button class="BTValidar" v-if="validacaoSelecionada === 'entregar'">Finalizar Pedido</button> 
                            <template v-if="validacaoSelecionada === 'estornar'">
                                <button class="BTValidar" v-if="estornoSelecionado === 'cartao'">Estornar Cartão</button> 
                                <button class="BTValidar" v-if="estornoSelecionado === 'boleto'" v-on:click="onClickEstornoBoleto">Estornar Boleto</button> 
                            </template>
                        </div>
                    </td>
                </tr>
                </template>
            </table>
        </div>
    </div>
</div>