<div class="app--modal--alterar-senha">
	<app--modal--base>
    <h1>Alterar sua senha</h1>
    <span class="x-close-password-button" type="button" v-on:click="clickFechar" value="CANCELAR">X</span>
		<!-- <h4>Insira o e-mail cadastrado</h4> -->
		<form @submit="submitNewPass">
			<enext--form-campo--texto
				v-bind:campo="campoOldPass"
				v-on:valor="onCampoValor"
				v-on:blur="onCampoBlur"
			></enext--form-campo--texto>

			<enext--form-campo--texto
				v-bind:campo="campoNewPass"
				v-on:valor="onCampoValor"
				v-on:blur="onCampoBlur"
			></enext--form-campo--texto>

			<input type="button" v-on:click="clickFechar" value="CANCELAR" />
			<input type="submit" value="ENVIAR" />
		</form>

		<template v-if="returnMessage">
			<p v-text="returnMessage"></p>
		</template>
		
	</app--modal--base>
</div>