.app--modal--alterar-senha {
}
.app--modal--alterar-senha h1{
	color:#4e266f;
	margin: 0.67em 0;
	font-family: "Lato", sans-serif
}
.app--modal--alterar-senha .campo-label {
	font-weight: bold;
	color:#989898;
	text-align:left;
}
/* .app--modal--alterar-senha input[type=text]{
	border:solid 1px #e5e5e5;
	border-radius: 4px;
	padding: 8px;
	width:500px;
} */
.app--modal--alterar-senha input[type=button]{
	border:1px solid #4e266f;
	border-radius: 4px;
	background: none;
	color:#4e266f;
	margin-right: 30px;
	padding:10px 50px 10px 50px;
	margin-top: 30px;
}
.app--modal--alterar-senha input[type=button]:hover{
	background: #4e266f;
	cursor: pointer;
	color:#fff;
}
.app--modal--alterar-senha input[type=submit]{
	border:none;
	border-radius: 4px;
	background: #4e266f;
	color:#fff;
	padding:11px 65px 11px 65px;
	margin-top: 30px;
}
.app--modal--alterar-senha input[type=submit]:hover{
	background: #774d99;
	cursor: pointer;
	color:#fff;
}
.app--modal--alterar-senha p{
	color: #a5a3a3;
	margin-top: 45px;
}
.x-close-password-button{
  font-size: 2rem;
  color: #989898;
  position: absolute;
  left: 69%;
  top: 22%;
  cursor: pointer;
}
.x-password-wrapper{
  position: relative;
}

@media (orientation:portrait) {
	.app--modal--alterar-senha {
	}
}

@media (max-width: 1024px) {
	.app--modal--alterar-senha {
	}
}