.app--recebimentos {
}
.app--recebimentos .conteudo {
	color: #989898; 
	padding: 0; 
	width: 85%;
	left: 6%;
	position: relative;
	height: auto;
	margin-bottom: 0.5%;
   }
    .app--recebimentos .txtPurpleSmall { 
		width:30%;
		color: #774d99;
		font-size: 14px;
		padding-top: 5px;
		padding-left: 10px;
	  }
	.app--recebimentos .txtPurpleMed { 
		width:30%;
		color: #774d99;
		font-size: 18px;
		padding-top: 5px;
		padding-right:15px;
		text-align: right;
	  }
	.app--recebimentos .txtPurpleBig{ 
		width:30%;
		color: #774d99;
		font-size: 22px;
		padding-top: 5px;      
		padding-left: 10px;
		
	  }
	.app--recebimentos .containerFilterTop{
		width:100%;
		display: -webkit-box;
		  display: -webkit-flex;
		  display: -moz-box;
		  display: -ms-flexbox;
		  display: flex;
		  white-space: nowrap;
		}
	.app--recebimentos .txtGrayFields { 
	  width:70%;
	  color: #717171;
	  font-size: 16px;
	}   
		  .app--recebimentos .txtGrayFields select{
			border-radius: 4px;
			border: 1px solid #e5e5e5;
			color: #e5e5e5;
			width:200px;
			height:35px;
			margin-right: 20px;
		  }
		  .app--recebimentos .containerFilterTable{
		width:100%;
		display: -webkit-box;
		  display: -webkit-flex;
		  display: -moz-box;
		  display: -ms-flexbox;
		  display: flex;
		  white-space: nowrap;
		}
		.app--recebimentos .grayFieldsSmall{
		  position: absolute;
		  color: #717171;
		  font-size:14px;
		  font-weight:bold;
		  right: 5px;
		}
		.app--recebimentos .grayFieldsSmall select{
			  border-radius: 4px;
			  border: 1px solid #e5e5e5;
			  
			  color: #e5e5e5;
			  width:112px;
			  height:35px;
			  margin: 0px 10px 0px 10px;
			}
			.app--recebimentos .grayFieldsSmall input{
			  border-radius: 4px;
			  border: 1px solid #e5e5e5;
			  
			  color: #e5e5e5;
			  width:112px;
			  height:35px;
			  margin: 0px 10px 0px 10px;
			}
			.app--recebimentos .container-table{
	width:85%;
	margin-left:10%;
  }
  .app--recebimentos .btnConsultar{
	  padding:5px;
	  color: white;
	  background-color:#774d99;
	  border:0;
	  border-radius: 6px;
	  font-size: 11px;
	  float:right;
	  margin-right: 5%;
	}
  
  
	.app--recebimentos .topPedidoDetalhe2 {
	position: relative;
	width: 85%;
	color: #774d99;
	background: #EDEDED;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: row;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-flow: row;
	flex-flow: row;
	padding-left: 2%;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: 45px; }
  
	.app--recebimentos .pedidoDetalheCorpo {
	position: relative;
	width: 85%;
	color: #717171;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: row;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-flow: row;
	flex-flow: row;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: white;
	border-left: 1px solid;
	border-top: 1px solid;
	border-bottom: 1px solid;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border-color: #E5E5E5; }
  
	.app--recebimentos .pedidoDetalheCorpo-item {
	padding: 1%;
	width: 100%;
	height: 100%;
	border-right: 1px solid;
	border-color: #E5E5E5;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex; }
	.app--recebimentos .pedidoDetalheCorpo-item:nth-child(1) {
	  width: 5%; }
	  .app--recebimentos .pedidoDetalheCorpo-item:nth-child(2) {
	  width: 22%; }
	  .app--recebimentos .pedidoDetalheCorpo-item:nth-child(3) {
	  width: 13%; }
	  .app--recebimentos .pedidoDetalheCorpo-item:nth-child(4) {
	  width: 14%; }
	  .app--recebimentos .pedidoDetalheCorpo-item:nth-child(5) {
	  width: 14%; }
	  .app--recebimentos .pedidoDetalheCorpo-item:nth-child(6) {
	  width: 14%; }
	  .app--recebimentos .pedidoDetalheCorpo-item:nth-child(7) {
	  width: 18%; }
  
	  .app--recebimentos .cliente {
	position: relative;
	float: left;
	width: 23%;
	height: auto;
	color: #717171;
	padding: 1%;
	background: white;
	border-left: 1px solid;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-right: 1px solid;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border-color: #E5E5E5; }
	.app--recebimentos .cliente p {
	  height: auto; 
	  font-weight: bold;
	}
	.app--recebimentos .cliente span {
	  font-size: 85%; }
  
	  .app--recebimentos .pagamento {
	position: relative;
	float: left;
	width: 23%;
	height: auto;
	color: #717171;
	padding: 1%;
	background: white;
	border-left: 1px solid;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-right: 1px solid;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border-color: #E5E5E5; }
	.app--recebimentos .pagamento p {
	  color: #774D99;
	  height: auto; }
	  .app--recebimentos .pagamento span {
	  font-size: 85%; }
  
	  .app--recebimentos .field-search {
	margin-top: 11px;
	height: 42px;
	width: 90%;
	border: 1px solid transparent;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius: 8px;
	padding: 12px 20px; }
  
	.app--recebimentos .button-search {
	line-height: 0.5;
	height: 42px;
	width: 9%;
	margin-left: -1%;
	background-color: white;
	-webkit-border-radius: 4px;
	border-radius: 4px; }
  
	.app--recebimentos .table-recebiveis{
	border: 1px solid #E2E2E2;
	border-radius: 4px;
	border-collapse: collapse;
  }
  .app--recebimentos .table-recebiveis td{
	border-bottom: 1px solid #E2E2E2;
	}
	.app--recebimentos .table-recebiveis td a{
		text-decoration: none;
		color: #774D99
		}
	.app--recebimentos .table-recebiveis tr:nth-child(odd) td {
    background: #e5e5e5;
}
  
  .app--recebimentos .tabelas-conteudo{
	background-color:white;
	width:100%;
	margin:0;
	}
	.app--recebimentos .filtroadm {
		text-align: center;
		margin-top: 80px;
	}
	
	.app--recebimentos .filtroadm h4 {
		font-size: 18px;
		color: #774d99;
		font-weight: normal;
		display: inline;
	}
	
	.app--recebimentos .filtroadm label {
		font-size: 14px;
		color: #989898;
		font-weight: bold;
		margin-left: 25px;
	}
	
	.app--recebimentos .filtroadm select {
		width: 200px;
		height: 35px;
		border-radius: 4px;
		background-color: #ffffff;
		border: 1px solid #e5e5e5;
		margin-left: 25px;
	}
	.app--recebimentos .container-top-timeline{
		padding;0px;  
		font-size: 14px;
	}
	.app--recebimentos .container-content-timeline{
		white-space: nowrap;
		position:relative;
		width: 100%;
	}
	.app--recebimentos .desc-timeline{ 
		width:100%; 
		padding-left: 10px;
		font-style: normal;
		font-weight: bold;
		align-content: space-around;
		white-space:nowrap;
	}
	.app--recebimentos .mes-atual{
			position: relative;
			font: 24px lato, sans-serif;    
			color: #000000;
			font-weight: bold;
		}
		.app--recebimentos .total-mes-atual{
			position:relative;
			float:left;
			font: 24px lato, sans-serif; 
			color: #000000;
			font-weight: bold;
		}
		.app--recebimentos .receber-mes-atual{
			position:relative;
			float:left;
			font: 14pxlato, sans-serif;
			color: green;
		}
		.app--recebimentos .recebido-mes-atual{
			position:relative;
			float:left;
			font: 14px lato, sans-serif;
			color: orange;
			font-weight: bold;
		}

@media (orientation:portrait) {
	.app--recebimentos {
	}
}

@media (max-width: 1024px) {
	.app--recebimentos {
	}
}