<div class="app--recebimentos">
    <div class="conteudo" style="padding:40px;">
        <div class="containerFilterTable">
            <div class="txtPurpleBig" style="font-weight:bold; margin-left: 20px;">RECEBIMENTOS</div>
        </div>
        <br />
        <table class="tabelas-conteudo" width="100%" border="0" cellspacing="0" cellpadding="0" name="linhaDoTempo">
            <tr class="tableHeader">
                <th colspan="7">
                    <div class="txtPurpleSmall" style="font-size: 18px; margin-left: 20px;"> Linha do Tempo - <span style="font-size: 13px;"> Pagamentos recebidos e a receber </span></div>
                </th>
            </tr>
            <tr v-if="loading">
                <td colspan="7">
                    <div class="service-loading">
                        <p>Carregando...</p>
                    </div>
                </td>
            </tr>
            <tr v-if="!loading && error">
                <td colspan="7">
                    <div class="service-error">
                        <p>Erro ao carregar os dados</p>
                        <p>Detalhes: {{errorText}}</p>
                        <p><a href="javascript:;" v-on:click="clickReload">Tentar novamente</a></p>
                    </div>
                </td>
            </tr>
            <tr v-if="!loading && !error && !data">
                <td colspan="7">
                    <div class="service-empty">
                        <p>Nenhum dado encontrado</p>
                    </div>
                </td>
            </tr>
            <tr v-if="!loading && !error && data">
                <td colspan="7">
                    <div class="container-top-timeline">
                        <div class="desc-timeline">
                            <table border="0" width="100%">
                                <tr>
                                    <td width="70%">
                                        <div class="mes-atual">
                                            SETEMBRO/2018
                                        </div>
                                    </td>
                                    <td>   
                                        <div class="total-mes-atual">
                                            TOTAL:
                                            <app--utils--display-price
                                                before="R$ "
                                                v-bind:value="426.00"
                                            ></app--utils--display-price>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="recebido-mes-atual">
                                            <app--utils--display-price
                                                before="R$ "
                                                v-bind:value="0.00"
                                            ></app--utils--display-price>
                                        </div>
                                        <br>
                                        <p>A RECEBER</p>
                                    </td>
                                    <td>
                                        <div class="receber-mes-atual">
                                            <app--utils--display-price
                                                before="R$ "
                                                v-bind:value="426.00"
                                            ></app--utils--display-price>
                                        </div>
                                        <br>
                                        <p>RECEBIDOS</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--<div class="container-content-timeline">
                            <div class="timeline">
                                    <div class="container-arrow-left">
                                        <div class="arrows">
                                            <span class="left"></span>
                                        </div>
                                    </div>
                                    <span class="loaded"></span>
                                    <div class="event done">
                                        <div class="detail">jun/2018</div>
                                    </div>
                                    <div class="event done">
                                        <div class="detail">jul/2018</div>
                                    </div>
                                <div class="event done">
                                    <div class="detail">ago/2018</div>
                                </div>
                                <div class="event active">
                                    <div class="detail">set/2018</div>
                                </div>
                                <div class="event">
                                    <div class="detail">out/2018</div>
                                </div>
                                <div class="event">
                                    <div class="detail">nov/2018</div>
                                </div>
                                <div class="event">
                                    <div class="detail">dez/2018</div>
                                </div>
                                <div class="container-arrow-right">    
                                    <div class="arrows">
                                        <a href="#">
                                            <span class="right"></span>
                                        </a>
                                    </div>      
                                </div>      
                            </div>
                        </div>-->
                        <hr>
                    </div>
                </td>
            </tr>
            <tr v-if="!loading && !error && data">
                <td>
                    <table border="0" width="100%">
                        <tr>
                        <td colspan="3">
                            <span class="txtPurpleSmall" style="font-size:20px; margin-left:-20px; font-family: sans-serif;">Recebíveis do Mês </span>
                            <br>
                            <span style="font-size:16px; margin-left:-10px;">Contabilizados do dia 26 de agosto a 27 de setembro.</span>
                        </td>
                        <td colspan="4" style="text-align: right;">
                                <span class="txtPurpleBig" style="margin-right:-15px;">Lóccitanne Au Brèsil</span>
                                <br>
                                <span style="font-size:16px; margin-right:-10px;">27/09/2018</span>
                        </td>
                        </tr>
                    </table>
                    <table width="100%" class="table-recebiveis">
                        <tr class="tableBoldHeader trDynGray" style="font-weight: bold;">
                            <td>Data</td>
                            <td>Transação</td>
                            <td>Forma de Pgto.</td>
                            <td>Bandeira</td>
                            <td>Status</td>
                            <td>Parcela</td>
                            <td>Valor</td>
                        </tr>
                        <tr v-for="rec in data.receivables">
                            <td>{{rec.creation_date}}</td>
                            <td><a href="#" onclick="abrirLightBox('lightbox')">{{rec.transaction_id}}</a></td>
                            <td>
                                <template v-if="rec.payment_method === 'credit_card'">
                                    Cartão de crédito
                                </template>
                                <template v-else-if="rec.payment_method === 'boleto'">
                                    Boleto
                                </template>
                                <template v-else>
                                    {{rec.payment_method}}
                                </template>
                            </td>
                            <td>{{rec.card_brand}}</td>
                            <td v-if="rec.status === 'paid'" style="color: green;">Recebido</td>
                            <td v-else-if="rec.status === 'waiting_founds'" style="color: orange;">A receber</td>
                            <td v-else>{{rec.status}}</td>
                            <td>{{rec.installment}}</td>
                            <td>
                                <app--utils--display-price
                                    before="R$ "
                                    v-bind:value="rec.amount"
                                ></app--utils--display-price>
                            </td>
                        </tr>
                        <!-- <tr>
                            <td>31/07/2018</td>
                            <td><a href="#" onclick="abrirLightBox('lightbox')">#010001840</a></td>
                            <td>Cartão de Crédito</td>
                            <td>Mastercard</td>
                            <td style="color: green;">Recebido</td>
                            <td>1/2</td>
                            <td>R$ 1000,00</td>
                        </tr>
                        <tr class="trDynGray">
                            <td>31/07/2018</td>
                            <td><a href="#" onclick="abrirLightBox('lightbox')">#057277920</a></td>
                            <td>Cartão de Crédito</td>
                            <td>Mastercard</td>
                            <td style="color: green;">Recebido</td>
                            <td>1/2</td>
                            <td>R$ 1000,00</td>
                        </tr>
                        <tr>
                            <td>31/07/2018</td>
                            <td><a href="#" onclick="abrirLightBox('lightbox')">#057277920</a></td>
                            <td>Cartão de Crédito</td>
                            <td>Mastercard</td>
                            <td style="color: green;">Recebido</td>
                            <td>1/2</td>
                            <td>R$ 1000,00</td>
                        </tr>
                        <tr class="trDynGray">
                            <td>31/07/2018</td>
                            <td><a href="#" onclick="abrirLightBox('lightbox')">#057277920</a></td>
                            <td>Cartão de Crédito</td>
                            <td>Mastercard</td>
                            <td style="color: orange;">A receber</td>
                            <td>1/2</td>
                            <td>R$ 1000,00</td>
                        </tr>
                        <tr>
                            <td>31/07/2018</td>
                            <td><a href="#" onclick="abrirLightBox('lightbox')">#057277920</a></td>
                            <td>Cartão de Crédito</td>
                            <td>Mastercard</td>
                            <td style="color: orange;">A receber</td>
                            <td>1/2</td>
                            <td>R$ 1000,00</td>
                        </tr>
                        <tr class="trDynGray">
                            <td>31/07/2018</td>
                            <td><a href="#" onclick="abrirLightBox('lightbox')">#057277920</a></td>
                            <td>Cartão de Crédito</td>
                            <td>Mastercard</td>
                            <td style="color: orange;">A receber</td>
                            <td>1/2</td>
                            <td>R$ 1000,00</td>
                        </tr>
                        <tr>
                            <td>31/07/2018</td>
                            <td><a href="#" onclick="abrirLightBox('lightbox')">#057277920</a></td>
                            <td>Cartão de Crédito</td>
                            <td>Mastercard</td>
                            <td style="color: orange;">A receber</td>
                            <td>1/2</td>
                            <td>R$ 1000,00</td>
                        </tr> -->
                    </table>
                    <a class="txtPurpleSmall" style="text-align:right; position:relative; white-space:nowrap; margin:20px 0 20px 0; float:right;" href="#">Exportar lista de vendas</a>
                </td>
            </tr>
        </table>
        
    </div>
</div>