<div class="app--pages-desktop--recebimentos">
	<app--modal--detalhes-pedido
		v-if="modalDetalhes"
		v-bind:detalhes="modalDetalhes"
		v-on:fechar="modalDetalhes = null"
	></app--modal--detalhes-pedido>
	<app--pages--admin--filtro
		v-show="true"
		v-if="isShopping || isAdminOnstore"
		v-on:shoppingSelecionado="shoppingSelecionado"
        v-on:lojaSelecionada="lojaSelecionada"
	></app--pages--admin--filtro>
	<app--desktop--recebimentos
		ref="childRecebimentos"
		v-on:detalhes="onDetalhes"
		:shopping="shopping"
		:seller="seller"
	></app--desktop--recebimentos>
</div>