<div class="app--modal--detalhes-pedido">
	<app--modal--base>
		<div class="close" v-on:click="clickFechar">&times;</div>
		<table cellspacing=0 class="pedido">
			<caption>
				<h1>Pedido {{numeroTransacao}} <span>- {{dataTransacao}}</span></h1>
			</caption>
			<tr v-if="loading" class="tr-message">
				<th>Carregando...</th>
			</tr>
			<template v-if="!loading && error">
				<tr class="tr-message">
					<th>Erro ao carregar os detalhes do pedido</th>
				</tr>
				<tr class="tr-message">
					<td>Detalhes: {{errorText}}</td>
				</tr>
			</template>
			<template v-if="!loading && !error && data">
				<tr class="tr1">
					<td>Qtd.</td>
					<td style="width:350px;">Produto</td>
					<td>Total</td>
					<td>Status</td>
				</tr>
				<tr class="tr2" v-for="item in items">
					<td>{{item.quantity}}</td>
					<td>{{item.description}} {{item.variation ? '- '+item.variation : ''}}</td>
					<td>
						<app--utils--display-price
							before="R$ "
							v-bind:value="item.total_price"
						></app--utils--display-price>
					</td>
					<td>{{item.status}}</td>
				</tr>
				<tr class="tr3">
					<td colspan="4"><h1>Cliente</h1>
						<ul>
							<li><b>Nome:</b> <font color="989898">{{client.name}}</font></li>
							<li><b>CPF:</b> <font color="989898">{{client.cpf}}</font></li>
						</ul>
						<ul>
							<li><b>Email:</b> <font color="989898">{{client.email}}</font></li>
							<li><b>Telefone:</b> <font color="989898">{{client.phone}}</font></li>
						</ul>
						<!-- <button id="BTLightBox" onclick="fecharLightBox('lightbox')">Ir para pedido</button> -->
					</td>
				</tr>
			</template>
		</table>
	</app--modal--base>
</div>