.app--modal--detalhes-pedido {
}

.app--modal--detalhes-pedido .app--modal--base .modal-container {
	width: 800px;
	margin: 0 auto;
	padding: 0;
	height: auto;
	margin-top: 10%;
	text-align: left;
	font-family: Lato, sans-serif;
	color: #717171;
}

.app--modal--detalhes-pedido .close{
	color: #774d99;
	float: right;
	padding: 10px 15px 0;
	line-height: 1em;
	font-size: 28px;
	font-family: sans-serif;
	cursor: pointer;
}
.app--modal--detalhes-pedido table h1{
	color:#774d99;
	font-size:18px;
}
.app--modal--detalhes-pedido caption{
	font-size:20px;
	text-align:left;
	padding: 10px 10px 20px 30px;
}

.app--modal--detalhes-pedido table{
	width: 100%;
}
.app--modal--detalhes-pedido .tr-message th,
.app--modal--detalhes-pedido .tr-message td {
	padding: 0 30px 30px;
}
.app--modal--detalhes-pedido .tr1 td{
	border:solid 1px #e5e5e5;
	padding: 20px;
	border-bottom:none;
	font-weight: bold;
}
.app--modal--detalhes-pedido .tr2 td{
	border:solid 1px #e5e5e5;
	border-top:none;
	border-bottom: none;
	padding: 20px;
	font-size:14px;
}
.app--modal--detalhes-pedido .tr3 td{
	border:solid 1px #e5e5e5;
	padding: 20px;
}
.app--modal--detalhes-pedido .tr3 ul{
	float:left;
	margin-right:40px;
	margin-top: 20px;
	line-height: 30px;
	font-size:14px;
}

@media (orientation:portrait) {
	.app--modal--detalhes-pedido {
	}
}

@media (max-width: 1024px) {
	.app--modal--detalhes-pedido {
	}
}