.app--pages-desktop--minhas-vendas {
}

/* body {
    margin: 0;
    padding: 0px;
    background-color: #f8f8f8;
} */

.app--pages-desktop--minhas-vendas .spacer-filtro-admin {
    margin-top: 50px;
    height: 56px;
}

.pedidos-pagination {
    padding: 0 0 50px;
    text-align: center;
}
.pedidos-pagination button {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    font-size: 0;
    color: #222;
    height: 36px;
    padding: 0 15px;
}
.pedidos-pagination button:before {
    content: " ";
    height: 6px;
    width: 6px;
    display: block;
    border-top: 1px solid #222;
    border-left: 1px solid #222;
    transform: rotate(-45deg);
}
.pedidos-pagination button:last-child:before {
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #222;
    border-bottom: 1px solid #222;
}
.pedidos-pagination select {
    border: 1px solid #e5e5e5;
    height: 36px;
    margin: 0 1rem;
    padding: 0 0.5rem;
}

@media (orientation:portrait) {
	.app--pages-desktop--minhas-vendas {
	}
}

@media (max-width: 1024px) {
	.app--pages-desktop--minhas-vendas {
	}
}