<div class="app--pages-desktop--minhas-vendas">
    <!-- <app--pages--admin--filtro v-show='false' v-if="isAdmin"></app--pages--admin--filtro> -->
    <app--pages--admin--filtro
        v-if="isShopping || isAdminOnstore"
        v-on:shoppingSelecionado="shoppingSelecionado"
        v-on:lojaSelecionada="lojaSelecionada"
    ></app--pages--admin--filtro>
    <!-- <div v-else class="spacer-filtro-admin"></div> -->
    <app--desktop--relacao-de-pedidos
        listTitle="MINHAS VENDAS"
        v-bind:pedidos="pedidos"
        v-bind:resultados="pagination.results"
        v-on:pedidosReload="clickReload"
        v-on:setDateFilter="dateFilter"
        v-on:statusSelecionado="onStatusSelecionado"
    ></app--desktop--relacao-de-pedidos>

    <div class="pedidos-pagination" v-if="pagination.active">
        <button v-show="pagination.actual != 1" @click="prevPage">prev</button>
        <select v-model="pagination.actual" @change="carregarPedidos">
            <option v-for="n in pagination.pages" :value="n" v-text="n"></option>
        </select>
        <button v-show="pagination.actual != pagination.pages" @click="nextPage">next</button>
    </div>
</div>