.app--utils--display-price {
}
.app--utils--display-price .audp-before,
.app--utils--display-price .audp-integer,
.app--utils--display-price .audp-cents,
.app--utils--display-price .audp-after {
	display: inline-block;
}

@media (orientation:portrait) {
	.app--utils--display-price {
	}
}

@media (max-width: 1024px) {
	.app--utils--display-price {
	}
}