<div class="app--utils--display-price">
	<slot name="before"><div class="audp-before" v-html="before"></div></slot>
	<div class="audp-integer" v-text="integer"></div><!--
	--><div class="audp-cents" v-text="cents"></div>
	<slot name="after"><div class="audp-after" v-html="after"></div></slot>
</div>