<div class="app--pages--loja--configuracoes">
    <template v-if="mobile">
        <app--pages-mobile--configuracoes></app--pages-mobile--configuracoes>
    </template>
    <template v-else>
        <app--pages-desktop--configuracoes></app--pages-desktop--configuracoes>
    </template>
</div>