.app--pages-mobile--configuracoes {
}

.app--pages-mobile--configuracoes .destaque{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.app--pages-mobile--configuracoes .container_form{
	width: 93%;
	height: auto;
	margin: 0 auto;
	text-align: center;
}

.app--pages-mobile--configuracoes .container_form-title1{
	width: 100%;
	height: 35px;
	font-size: 34px;
	font-weight: bold;
	text-transform: uppercase;
	color: #774D99;
	margin-top: 60px;
	margin-bottom: 40px;
}

@media (orientation:portrait) {
	.app--pages-mobile--configuracoes {
	}
}

@media (max-width: 1024px) {
	.app--pages-mobile--configuracoes {
	}
}