<div class="app--pages-mobile--configuracoes">
	<app--modal--termos-de-uso
		v-show="modalTermos"
		v-on:fechar="modalTermos = false"
		v-on:aceitar="termosAceitar"
	></app--modal--termos-de-uso>
	<div class="destaque"> 
		<div class="container_form">
			<div class="container_form-title1">Configurações</div>
			<template v-if="efetuado">
				<app--pages--configuracoes--efetuado></app--pages--configuracoes--efetuado>
			</template>
			<template v-else>
				<app--pages-mobile--cadastro--form
					v-on:cadastrar="efetuado = true"
					v-on:termos="modalTermos = true"
					ref="form"
				></app--pages-mobile--cadastro--form>
			</template>
		</div>
	</div>
</div>