@import '../base/base.css';

.enext-fc-select-button {}
.enext-fc-select-button::after {
	content: '';
	display: block;
	clear: both;
}
.enext-fc-select-button .campo-group-label {
	float: left;
	position: relative;
	/*overflow: hidden;*/
}
.enext-fc-select-button .campo-group-label .campo-border {
	border-color: transparent;
}
.enext-fc-select-button .campo-group-label .campo-label {
	top: 1.25em;
}
.enext-fc-select-button .campo-group-label .campo-value {
	display: none;
}
.enext-fc-select-button .campo-group-detail-box {
	position: relative;
}
.enext-fc-select-button .campo-group-detail-box::before {
	content: '';
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	margin-left: 0.25em;
	vertical-align: middle;
	background: url(../../img/ico-duvida.svg) no-repeat 50% 50%;
	background-size: contain;
}
.enext-fc-select-button .campo-group-detail {
	display: none;
	position: absolute;
	left: 15%;
	bottom: 2em;
	width: 18.75em;
	padding: 0.625em 1.05em;
	line-height: 1.3em;
	background: #ffffff;
	border: 0.05em solid #d0d0d0;
	box-shadow: 0 0.2em 0.85em 0 rgba(0,0,0,0.25);
	transform: translateX(-15%);
	z-index: 2;
}
.enext-fc-select-button .campo-group-detail-box:hover .campo-group-detail {
	display: block;
}
.enext-fc-select-button .campo-group-detail::before {
	content: '';
	display: block;
	position: absolute;
	left: 15%;
	bottom: -0.5em;
	border-left: 0.5em solid transparent;
	border-right: 0.5em solid transparent;
	border-top: 0.625em solid #d0d0d0;
}
.enext-fc-select-button .campo-group-detail::after {
	content: '';
	display: block;
	position: absolute;
	left: 15%;
	bottom: -0.525em;
	border-left: 0.5em solid transparent;
	border-right: 0.5em solid transparent;
	border-top: 0.625em solid #ffffff;
}
.enext-fc-select-button .campo-group-label,
.enext-fc-select-button .campo-group-item {
	height: 4.2em;
}
.enext-fc-select-button .campo-group-list {
	float: left;
}
.enext-fc-select-button .campo-group-list::after {
	content: '';
	display: block;
	clear: both;
}
.enext-fc-select-button .campo-group-list .campo-group-item {
	float: left;
	position: relative;
}
.enext-fc-select-button .campo-border {
	position: absolute;
	left: 0;
	top: 0;
	right: -0.05em;
}
.enext-fc-select-button .campo-group-item a {
	display: block;
	height: 100%;
}
.enext-fc-select-button .campo-group-item:last-child .campo-border {
	right: 0;
}
.enext-fc-select-button .campo-group-item.opcao-selected {
	z-index: 1;
}
.enext-fc-select-button .campo-group-item.opcao-selected .campo-border {
	border-color: #f8562c;
}
.enext-fc-select-button .campo-group-item.opcao-selected .campo-anchor-content {
	position: relative;
	top: 0.0em;
	font-weight: 500;
}
.enext-fc-select-button .campo-group-item.opcao-filled .campo-label {
	top: 0.8em;
	font-size: 0.8em;
}
.enext-fc-select-button .campo-group-item .campo-label,
.enext-fc-select-button .campo-group-item .campo-value {
	position: static;
	padding: 0;
}
.enext-fc-select-button .campo-group-item .campo-anchor {
	line-height: 3.9em;
	text-align: center;
}
.enext-fc-select-button .campo-group-item .campo-anchor-content {
	display: inline-block;
	vertical-align: middle;
	line-height: 1em;
	text-align: left;
}

