.app--pages-desktop--configuracoes--efetuado {
}

@media (orientation:portrait) {
	.app--pages-desktop--configuracoes--efetuado {
	}
}

@media (max-width: 1024px) {
	.app--pages-desktop--configuracoes--efetuado {
	}
}