<div class="app--modal--selecione-o-periodo">
<app--modal--base>
	<div class="close" v-on:click="clickFechar">&times;</div>
	<div class="Titulo">Selecione o período</div>
	<div class="txttermos">
		<enext--form-campo--texto
			v-bind:campo="campoInicial"
		></enext--form-campo--texto>
		<span class="label-between">à</span>
		<enext--form-campo--texto
			v-bind:campo="campoFinal"
		></enext--form-campo--texto>
		<enext--calendario
			v-bind:date="calDate"
			v-bind:monthNames="calMonthNames"
			v-bind:weekDaysHeader="calWeekHeader"
			v-bind:selectionStart="calStart"
			v-bind:selectionEnd="calEnd"
			v-on:clickDay="onCalClickDay"
			v-on:changeMonth="onCalChangeMonth"
		></enext--calendario>
	</div>
	<button type="button" v-on:click="clickLimpar" class="botaolimpar">Limpar filtro</button>
	<label v-on:click="clickAceitar" class="botaoaplicar">
		Aplicar
	</label>
</app--modal--base>
</div>