.app--modal--selecione-o-periodo {
}

.app--modal--selecione-o-periodo .app--modal--base .modal-container {
	border-radius: 4px;
	box-shadow: 0px 3px 7px rgba(0,0,0,0.16);
	background-color: #ffffff;
	margin: 0 auto;
	text-align: center;
	z-index:20;
	margin-top:10%;
	padding:5px;
	width: 90%;
	height: auto;
	margin-top: 70px;
	padding-bottom: 30px;
}

.app--modal--selecione-o-periodo .close {
	height: 42px;
	width: 42px;
	border-radius: 15px;
	font-family: sans-serif;
	font-size: 52px;
	line-height: 42px;
	vertical-align: middle;
	text-align: center;
	color: #774d99;
	cursor: pointer;
	float: right;
	font-weight: normal;
}

.app--modal--selecione-o-periodo .Titulo {
	font-size: 18px;
	color: #774d99;
	text-align: center;
	margin: 30px 0 30px 42px;
	font-weight: bold;
	font-size: 26px;
	letter-spacing: 0.04em;
}

.app--modal--selecione-o-periodo .txttermos {
	width: 95%;
	margin: 3px auto;
	font-size: 18pt;
	color: #a0a0a0;
	word-wrap: break-word;
	white-space: pre-line;
	box-sizing: border-box;
}

.app--modal--selecione-o-periodo .label-between {
	display: inline-block;
	padding: 0 1.5em;
	vertical-align: middle;
}
.app--modal--selecione-o-periodo .enext-fc-base {
    display: inline-block;
}
.app--modal--selecione-o-periodo .enext-fc-base .campo-label {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #989898;
    font-weight: bold;
}
.app--modal--selecione-o-periodo .enext-fc-base .campo-wrap-border {
    display: inline-block;
    width: 160px;
    margin: 0;
    vertical-align: middle;
}
.app--modal--selecione-o-periodo .enext-fc-base .campo-controle {
	background: #fff;
}

.app--modal--selecione-o-periodo .enext--calendario .cal-header {
	margin: 1.5em 0 0.5em;
	border-width: 0 0 0.1em;
}
.app--modal--selecione-o-periodo .enext--calendario .cal-month {
	font-weight: bold;
	letter-spacing: 0.05em;
}
.app--modal--selecione-o-periodo .enext--calendario .cal-month-change {
	background-size: auto 35%;
}
.app--modal--selecione-o-periodo .enext--calendario .cal-week {
	padding: 0.4em 0;
}
.app--modal--selecione-o-periodo .enext--calendario .cal-day-text-before {
	left: 18%;
	width: 64%;
}
.app--modal--selecione-o-periodo .enext--calendario .cal-day-start::before,
.app--modal--selecione-o-periodo .enext--calendario .cal-day-end::before {
	width: 18%;
}

.app--modal--selecione-o-periodo .botaolimpar {
	display: inline-block;
	vertical-align: bottom;
	width: 160px;
	width: 47%;
	height: 35px;
	height: 2.4em;
	line-height: 2.2em;
	/* padding: 4px 11px; */
	border: 1px solid #774d99;
	border-radius: 4px;
	border-width: 0.1em;
	background-color: #FFFFFF;
	font-size: 14px;
	font-size: 1.4em;
	/* font-weight: bold; */
	color: #774d99;
	text-align: center;
	/* text-shadow: 0 1px 0 #666; */
	cursor: pointer;
	margin-top: 20px;
	box-sizing: border-box;
}

.app--modal--selecione-o-periodo .botaoaplicar {
	display: inline-block;
	vertical-align: bottom;
	width: 160px;
	width: 47%;
	height: 35px;
	height: 2.4em;
	line-height: 2.2em;
	padding: 0;
	border: 1px solid #FFFFFF;
	border-radius: 4px;
	border-width: 0.1em;
	border-color: #774d99;
	background-color: #774d99;
	font-size: 14px;
	font-size: 1.4em;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
	margin-top: 20px;
	margin-left: 2%;
	box-sizing: border-box;
}

@media (orientation:portrait) {
	.app--modal--selecione-o-periodo {
	}
}

@media (max-width: 1024px) {
	.app--modal--selecione-o-periodo {
	}
}