.app--pages-desktop--configuracoes {
}

.app--pages-desktop--configuracoes .cadastroloja {
    margin-top: 30px;
    font-size: 22px;
    color: #774d99;
    font-weight: bold;  
	text-align:left;
	width: 1200px;
	margin: 0 auto;
}

@media (orientation:portrait) {
	.app--pages-desktop--configuracoes {
	}
}

@media (max-width: 1024px) {
	.app--pages-desktop--configuracoes {
	}
}