.app--desktop--recebimentos--timeline {
}
.app--desktop--recebimentos--timeline .desc-timeline{ 
	width:100%; 
	padding-left: 10px;
	font-style: normal;
	font-weight: bold;
	align-content: space-around;
	white-space:nowrap;
}
.app--desktop--recebimentos--timeline .mes-atual{
	position: relative;
	font: 24px lato, sans-serif;    
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
}
.app--desktop--recebimentos--timeline .total-mes-atual{
	position:relative;
	float:left;
	font: 24px lato, sans-serif; 
	color: #000000;
	font-weight: bold;
}
.app--desktop--recebimentos--timeline .receber-mes-atual{
	position:relative;
	float:left;
	font: 14pxlato, sans-serif;
	color: green;
}
.app--desktop--recebimentos--timeline .recebido-mes-atual{
	position:relative;
	float:left;
	font: 14px lato, sans-serif;
	color: orange;
	font-weight: bold;
}


@media (orientation:portrait) {
	.app--desktop--recebimentos--timeline {
	}
}

@media (max-width: 1024px) {
	.app--desktop--recebimentos--timeline {
	}
}