<div class="app--desktop--recebimentos--timeline">
	<div class="container-top-timeline">
		<div class="desc-timeline">
			<table border="0" width="100%">
				<tr>
					<td width="70%">
						<div class="mes-atual">
							{{currentMonthYearText}}
						</div>
					</td>
					<td>
						<div class="total-mes-atual" style="display: none">
							TOTAL:
							<app--utils--display-price
								before="R$ "
								v-bind:value="Number(recebiveis.total)"
								v-bind:style="{display:'inline-block'}"
							></app--utils--display-price>
						</div>
					</td>
					<td>
						<div class="recebido-mes-atual">
							<app--utils--display-price
								before="R$ "
								v-bind:value="Number(recebiveis.total_to_receive)"
							></app--utils--display-price></div>
						<br>
						<p>A RECEBER</p>
					</td>
					<td>
						<div class="receber-mes-atual">
							<app--utils--display-price
								before="R$ "
								v-bind:value="Number(recebiveis.total_received)"
							></app--utils--display-price></div>
						<br>
						<p>RECEBIDOS</p>
					</td>
				</tr>
				<tr>
					<td colspan="4">
						<span class="texto-mes-taxa">*Este valor não contempla taxas administrativas.</span>
					</td>
				</tr>
				<tr>
					<td colspan="4">
						<app--timeline
							v-bind:monthNames="monthNames"
							v-bind:months="months"
							v-bind:numImages="7"
							v-on:clickMonth="onClickMonth"
						></app--timeline>						
					</td>
				</tr>
			</table>
		</div>
		<hr>
	</div>
</div>