<div class="app--mobile--relacao-de-pedidos">
    <app--modal--selecione-o-periodo
        v-show="modalPeriodo"
        v-bind:show="modalPeriodo"
        v-bind:initialDate="periodoInicio"
        v-bind:initialStart="periodoInicio"
        v-bind:initialEnd="periodoFim"
        v-on:periodo="setPeriodo"
        v-on:fechar="modalPeriodo = false"
    ></app--modal--selecione-o-periodo>
    <div class="destaque"> 
        <app--pages--admin--filtro v-if="isAdmin"></app--pages--admin--filtro>
        <div v-else class="spacer-filtro-admin"></div>
        <div class="filtros">
            <h1 v-text="listTitle">MINHAS VENDAS</h1><br>
            <enext--form-campo--select
                v-bind:campo="campoStatus"
                v-on:selecionado="onCampoSelecionado"
                v-on:blur="onCampoBlur"
            ></enext--form-campo--select>
            <button class="periodo" v-on:click="modalPeriodo = true" v-text="periodoText"></button>
        </div>

        <div class="containesup">
            <h5>
                Relação de Pedidos
                <template v-if="!loading && !error && data">
                    -&nbsp;<font size="3">
                        <template v-if="dataState.temFiltro">
                            {{dataState.totalFiltro}} de
                        </template>
                        {{dataState.together.length}}
                        resultado{{1 == dataState.together.length ? '' : 's'}}
                    </font>
                </template>
            </h5>
        </div>
        <table class="pedido" cellspacing="0">
            <tr bgcolor="#e5e5e5">
                <th>Pedido</th>
                <th>Data</th>
                <th colspan="2">Status</th>
            </tr>
            <tr v-if="loading">
                <td>
                    <div class="service-loading">
                        <p>Carregando...</p>
                    </div>
                </td>
            </tr>
            <tr v-if="!loading && error">
                <td>
                    <div class="service-error">
                        <p><strong>Erro ao carregar os dados</strong></p>
                        <p>Detalhes: {{errorText}}</p>
                        <p><a href="javascript:;" v-on:click="clickReload">Tentar novamente</a></p>
                    </div>
                </td>
            </tr>
            <tr v-if="!loading && !error && !data">
                <td>
                    <div class="service-empty">
                        <p>Nenhum dado encontrado</p>
                    </div>
                </td>
            </tr>
            <template v-if="!loading && !error && data">
            <template v-for="item in dataState.together">
            <tr v-show="item.state.matchFilter">
                <!-- <td><a href="#">{{item.pedido.order_id}}</a></td> -->
                <td><router-link v-bind:to="makeLinkPedido(item.pedido)">{{item.pedido.order_id}}</router-link></td>
                <td>{{item.pedido.date_created}}</td>
                <td>
                    <template v-if="item.pedido.status === 'cancelled'">Cancelado</template>
                    <template v-else-if="item.pedido.status === 'delivered'">Entregue</template>
                    <template v-else-if="item.pedido.status === 'refunded'">Estornado</template>
                    <template v-else>{{item.pedido.status}}</template>
                </td>
                <td>
                    <a href="javascript:;" v-on:click="onClickExpand(item, $event)">
                        <img v-bind:src="baseUrl + 'img/arrow-select.png'" alt="arrow-purple" class="arrows" v-bind:class="{rotate1:item.state.expand}"/>
                    </a>
                </td>
            </tr>
            <tr v-show="item.state.matchFilter">
                <td colspan="4" class="rowExpand">
                    <div class="expandido" v-bind:style="{height:item.state.height}">
                    <!-- Expandido -->
                        <table class="grade" cellspacing="0">
                                <tr>
                                        <!-- <td><input type="checkbox" name="" id="check1"></td> -->
                                    <td style="color:#717171;font-weight: bold;border: none;">Pagamento</td>
                                    <td style="color:#717171;font-weight: bold;border: none;">Valor</td>
                                    <td rowspan="4" colspan="2" style="text-align:center;border: none;">
                                        <!-- <button class="BTNconsultar">consultar</button> -->
                                        <router-link v-bind:to="makeLinkPedido(item.pedido)" class="BTNconsultar">consultar</router-link>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border:none;">
                                        <template v-if="item.pedido.payment_method === 'credit_card'">Cartão de Crédito</template>
                                        <template v-else-if="item.pedido.payment_method === 'boleto'">Boleto</template>
                                        <template v-else>{{item.pedido.payment_method}}</template>
                                    </td>
                                    <td style="border:none;">
                                        <app--utils--display-price
                                            before="R$ "
                                            v-bind:value="1000.00"
                                        ></app--utils--display-price>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color:#717171;font-weight: bold;border: none;">Parcelas</td>
                                    <td style="color:#717171;font-weight: bold;border: none;">Bandeira</td>
                                </tr>
                                <tr>
                                    <td style="border:none;">{{item.pedido.installments}}</td>
                                    <td style="border:none;">{{item.pedido.card_brand}}</td>
                                </tr>
                        </table>
                    <!-- Fim do expandido -->
                    </div>
                </td>
            </tr>
            </template>
            </template>

        </table>
        <br />
        <div class="link">
            <a href="#" style="font-size:11pt;">Exportar lista de recebimentos</a>
        </div>
    </div>
</div>