.app--mobile--relacao-de-pedidos {
}

/*@import url('https://fonts.googleapis.com/css?family=Lato');
/* * {
  margin: 0;
  padding: 0;
  outline:none;
  font-family: 'Lato', sans-serif;
} */
.app--mobile--relacao-de-pedidos ul{
	padding: 0;
	margin: 0;
}
/*.app--mobile--relacao-de-pedidos body {
	background: #f8f8f8;
	font-family: Lato;
	margin: auto;
}*/
.app--mobile--relacao-de-pedidos select{
	  -webkit-appearance: none;
	  -moz-appearance:    none;
	  appearance:         none;
	  background: url(arrow-select.png) no-repeat #fff;  /* Imagem de fundo (Seta) */
	  background-position: 100px center;  /*Posição da imagem do background*/
}
.app--mobile--relacao-de-pedidos h1 {
	font-size: 22px;
	color: #774d99;
	font-weight: bold;
	text-align: center;
}
.app--mobile--relacao-de-pedidos .destaque {
	width: 98%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 70px;
}
.app--mobile--relacao-de-pedidos .destaque h4 {
	font-size: 18px;
	color: #774d99;
	font-weight: bold;
}
.app--mobile--relacao-de-pedidos .destaque label {
	font-size: 14px;
	color: #989898;
	font-weight: bold;
	text-align: center;
	margin-left: 10px;
	margin-top: 90px;
}
.app--mobile--relacao-de-pedidos .filtrarloja select {
	width: 130px;
	height: 35px;
	margin-top: 30px;
	border-radius: 4px;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
}
.app--mobile--relacao-de-pedidos h3 {
	font-size: 22px;
	color: #774d99;
	font-weight: bold;
	text-align: center; 
}
.app--mobile--relacao-de-pedidos .containesup {
	font-size: 14px;
	background: #e5e5e5; 
	width: 90%;
	height: 50px;
	font-weight:bold;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom: solid 1px #d1d1d1;
	margin: 0 auto;
	margin-top: 15px;
	/* padding: 20px 0px 40px 20px; */
}
.app--mobile--relacao-de-pedidos .containesup h5{
	font-size: 20px;
	color: #774d99;
	font-weight: normal;
	padding: 10px 0px 0px 10px;
	word-wrap: break-word;
	margin-top: 0px;
}
.app--mobile--relacao-de-pedidos .pedido {
	margin: 0 auto;
	font-size: 14px;
	width: 90%;
	border: 1px solid #e5e5e5;
}
.app--mobile--relacao-de-pedidos .pedido tr th {
	text-align: left;
	color: #717171;
	font-weight: bold;
	height: 20px; 
	padding: 20px 0px 20px 10px;
}
.app--mobile--relacao-de-pedidos .pedido tr td {
	text-align: left;
	color: #989898;
	padding: 5px 0px 5px 10px;
	background-color: #f8f8f8;
	border: 1px solid #e5e5e5;
	height: 30px; 
	border-left: none;
	border-right: none;
}
.app--mobile--relacao-de-pedidos .pedido tr .rowExpand {
	padding: 0;
	height: auto;
	border: none;
}
.app--mobile--relacao-de-pedidos .pedido tr td a {
	color: #774d99;
	text-decoration: none;
}
.app--mobile--relacao-de-pedidos .h1cust{
	font-size: 16px;
	text-align: center;
	margin-top: 0px;
}
.app--mobile--relacao-de-pedidos .arrow{
	border-radius: 50%;
	width: 25px;
	height: 25px;
	background: #fff;
	border:solid 2px #774d99;
	color: #774d99;
	box-shadow:2px 2px 3px rgba(0, 0, 0, 0.3);
	font-size: 35px;
	line-height: 20px;
	bottom: 50%;
	float: left;
	margin-top: 2px;
}
.app--mobile--relacao-de-pedidos .link {
	text-align: center;
}
.app--mobile--relacao-de-pedidos .link a {
	font-size: 14px;
	color: #774d99;
}
.app--mobile--relacao-de-pedidos .pedido tr td .BTNconsultar {
	display: inline-block;
	width: 71px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	border: none;
	border-radius: 4px;
	background-color: #774d99;
	font-size: 11px;
	color: #ffffff;
	margin-left: -35%;
}
.app--mobile--relacao-de-pedidos .expandido{
	height: auto;
	width: 100%;
	overflow: hidden;
	border: none;
}
.app--mobile--relacao-de-pedidos .expandido table{
	width: 100%;
}
.app--mobile--relacao-de-pedidos .arrows{
	cursor: pointer;
}
.app--mobile--relacao-de-pedidos .rotate1{
	transition-duration: 0.3s;
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform: rotate(180deg);
}
.app--mobile--relacao-de-pedidos .filtros{
	width: 413px;
	height: 140px;
	margin: 0 auto;
	text-align: center;
	margin-top: -10px;
}
.app--mobile--relacao-de-pedidos .filtros button{
	  
}
.app--mobile--relacao-de-pedidos .grade{
	  width: 100%;
}
.app--mobile--relacao-de-pedidos .periodo{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background: #fff;
	color: #989898;
	border: solid 2px #e5e5e5;
	/* padding: 9px 30px 9px 30px; */
	font-size: 1em;
	height: 39px;
	width: 206px;
	/* position: relative; */
	vertical-align: bottom;
	margin-left: -5px;
	margin-bottom: 9px;
}
.app--mobile--relacao-de-pedidos .enext-fc-select .campo-lista {
	  list-style: none;
	  margin: 0;
	  padding: 0 0 0.7em;
	  max-height: 15em;
	  background: #fafafa;
	  overflow-y: auto;
	  font-size: 12pt;
}

.app--mobile--relacao-de-pedidos .filtros .enext-fc-base {
	display: inline-block;
	width: 206px;
	height: 80px;
	font-size: 22px;
	margin: 0 0%;
	vertical-align: bottom;
	text-align: center;
}

.app--mobile--relacao-de-pedidos .filtros .enext-fc-base .campo-controle {
	color: #989898;
}

.app--mobile--relacao-de-pedidos .enext-fc-select .campo-lista a {
	color: #989898;
}

.app--mobile--relacao-de-pedidos .filtros .enext-fc-base .campo-controle {
	background: #fff;
	color: #989898;
	font-size: 19px;
	height: 35px;
	line-height: 14px;
}
.app--mobile--relacao-de-pedidos .filtros .enext-fc-select .campo-arrow {
	top: 0.5em;
	right: 1.4em;
	font-size: 17px;
}

@media (orientation:portrait) {
	.app--mobile--relacao-de-pedidos {
	}
}

@media (max-width: 1024px) {
	.app--mobile--relacao-de-pedidos {
	}
}