<div class="app--header">
    <div class="container">
        <header>
            <nav class="menu">
                <ul>
                    <li style="width:222px;"><a href="login.html">LOGOUT</a></li>
                    <li style="width:85px;" id="sino">
                        <a href="#">
                            <img style="width:30px;height:30px;margin-top:15px;" src="sino.png"/>
                        </a>
                        <div id="nav_notes">
                            <ul>
                                <li>
                                    <span class="spancust">Nova Venda ID <font color="774d99">#010001840</font></span>
                                    <br>
                                    <p class="pcust">15/09/2018 - 18:05</p>
                                </li>
                                <li>
                                    <span class="spancust">Nova Venda ID <font color="774d99">#010001840</font></span>
                                    <br>
                                    <p class="pcust">15/09/2018 - 18:05</p>
                                </li>
                                <li>
                                    <span class="spancust">Nova Venda ID <font color="774d99">#010001840</font></span>
                                    <br>
                                    <p class="pcust">15/09/2018 - 18:05</p>
                                </li>
                                <li>
                                    <span class="spancust">Nova Venda ID <font color="774d99">#010001840</font></span>
                                    <p class="pcust">15/09/2018 - 18:05</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li v-if="isLoja"><router-link v-bind:to="linkScope('configuracoes')">CONFIGURAÇÕES</router-link></li>
                    <li><router-link v-bind:to="linkScope('recebimentos')">RECEBIMENTOS</router-link></li>
                    <li><router-link v-bind:to="linkScope('minhas-vendas')">MINHAS VENDAS</router-link></li>
                </ul>
            </nav>
        </header>
    </div><!--container-->
    <div class="logoonstore">
        <router-link v-bind:to="linkScope('')"><img src="logo.png" alt="logo"></router-link>
    </div><!--logoonstore-->
    <form>
        <input type="text" id="txtBusca" placeholder="  Pesquise por número do pedido, CPF, produto, etc."/>
        <input id="btBusca"type="submit" value="☌"/>
    </form>
</div>