.app--header {
}
.app--header .container {
    height: 60px;
    background-color: #774d99;
    overflow: hidden;
}
.app--header #txtBusca  {
    width: 340px;
    height: 35px;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 12px;
    color: #afafaf;
    position:absolute;
    top: 12px;
    left: 125px;
    border:none;
}

.app--header .menu {
    width: 100%;
}

.app--header .menu ul {
    padding:0px;
    line-height: 65px;
    background-color:#774d99;
    font-size: 14px;
    float: right;
    list-style:none;
}

.app--header .menu ul li { 
    float:right;
    border-left:solid 2px #4e266f;
    height:60px;
    width:157px;
    margin-top:-15px;
    overflow: hidden;
    text-align:center;
    display:block;
}

.app--header .menu ul li a {
    height: 60px;
    /* visual do link */
    color: #FFFFFF;
    text-decoration: none;
    display:block;
}

.app--header .menu ul li:hover {
    background-color:#4e266f;
    color: #FFF;
}

.app--header .nav_notes{
	width:170px;
	background:#fff;
	position:absolute;
	top:60px;
	display: none;
    /* box-shadow: 1px 3px 14px 5px rgba(0,0,0,0.1); */
	box-shadow: -1px 5px 8px 4px rgba(0,0,0,0.1);
}
.app--header .nav_notes ul{
	list-style:none;
}
.app--header .nav_notes ul li{
	background:#fff;
	height:30px;
	border:none;
	overflow:visible;
	width:100%;
	float:none;
	margin:0px;
	text-align:left;
	padding: 20px 0px 20px 20px;
	line-height: 10px;
	cursor:pointer;
	color:#989898;
}
.app--header .nav_notes ul li:hover{
	color:#fff;
}
.app--header .spancust{
	font-size:12px;
	padding:0;
}
.app--header .pcust{
  font-size:10px;
  padding:0;
}
.app--header #sino:hover > #nav_notes{
	display: block;
}
.app--header #btBusca{
	float:left;
	border:none;
	background:#fff;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform: rotate(90deg);
	position:absolute;
	top: 14px;
	border-radius:4px;
	left: 450px;
	width:32px;
	height:32px;
	color:#774d99;
	font-size:24px;
}
.app--header #btBusca:hover{
	background:#774d99;
	color:#fff;
	cursor:pointer;
}
.app--header .logoonstore{
	width: 160px;
    height: 81px;
    border-radius: 10px;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.16);
    background-color: #ffffff;
    margin-top: -35px;
    margin-left: 20px;
}
.app--header .logoonstore img{
	width:90%;
	margin:5%;
}

@media (orientation:portrait) {
	.app--header {
	}
}

@media (max-width: 1024px) {
	.app--header {
	}
}