<div class="enext--form-campo--texto enext-fc-texto enext-fc-base"
	v-bind:class="cssClass"
	v-on:click="campoClick"
>
	<div class="campo-label">
		<span class="campo-name" v-text="campo.rotulo"></span><!-- não remover este comentário
		--><span class="campo-detail" v-text="campo.detalhe"></span><!--
		--><div class="campo-validation" v-text="campo.erro"></div>
	</div>
	<div class="campo-wrap-border">
		<div class="campo-border">
			<div class="campo-value">
				<template v-if="campo.mask">
					<masked-input
						ref="inputMask"
						v-bind:type="campo.tipo || 'text'"
						v-bind:name="campo.nome"
						v-bind:value="campo.valor"
						v-bind:placeholder="campo.placeholder"
						v-bind:disabled="campo.disabled"
						v-bind:readonly="campo.readonly"
						v-bind:ariaRequired="campo.ariaRequired"
						v-bind:class="['campo-controle']"
						v-bind:mask="campo.mask.mask"
						v-bind:guide="campo.mask.guide"
						v-bind:pipe="campo.mask.pipe"
						v-bind:placeholderChar="campo.mask.placeholder"
						v-bind:showMask="campo.mask.showMask"
						v-on:focus="onFocus"
						v-on:blur="onBlur"
						v-on:input="onInput"
						v-on:animationstart="onAnimationStart"
					></masked-input>
				</template>
				<template v-else>
					<input
						ref="input"
						v-bind:type="campo.tipo || 'text'"
						v-bind:name="campo.nome"
						v-bind:value="campo.valor"
						v-bind:placeholder="campo.placeholder"
						v-bind:disabled="campo.disabled"
						v-bind:readonly="campo.readonly"
						v-bind:required="campo.ariaRequired"
						v-bind:aria-required="campo.ariaRequired ? 'true' : ''"
						v-bind:class="['campo-controle']"
						v-on:focus="onFocus"
						v-on:blur="onBlur"
						v-on:input="onInput"
						v-on:animationstart="onAnimationStart"
					/>
				</template>
			</div>
		</div>
	</div>
</div>
