
body {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    background: #f8f8f8;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0; }
  
  hr {
      background-color: #E2E2E2;
      border: medium none;
      height: 1px;
      margin: 5px 0 20px; }
  
  main {
    clear: both;
    margin-top: 80px; }
    main::before, main::after {
      content: '';
      display: block;
      clear: both; }
  
  ul {
    list-style: none; }
  
  .is--hide {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    height: 0 !important;
    overflow: hidden; }
  
  /**
   * Typography
   */
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
