
body {
    margin: 0;
    padding: 0px;
    font-family: Lato;
    background-color: #f8f8f8;

}
*{
    outline: none;
}

#container {
    height: 60px;
    background-color: #774d99;
    overflow: hidden;
}

#logoonstore {
    width: 84px;
    height: 81px;
    border-radius: 4px;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.16);
    background-color: #ffffff;
    margin-top: -35px;
    margin-left: 20px;
}

#txtBusca  {
    width: 340px;
    height: 35px;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 12px;
    color: #afafaf;
    position:absolute;
    top: 12px;
    left: 125px;
    border:none;
}

#menu {
    width: 100%;
}

#menu ul {
    padding:0px;
    line-height: 65px;
    background-color:#774d99;
    font-size: 14px;
    float: right;
    list-style:none;
}

#menu ul li { 
    float:right;
    border-left:solid 2px #4e266f;
    height:60px;
    width:157px;
    margin-top:-15px;
    overflow: hidden;
    text-align:center;
    display:block;
}

#menu ul li a {
    height: 60px;
    /* visual do link */
    color: #FFFFFF;
    text-decoration: none;
    display:block;
}

#menu ul li:hover {
    background-color:#4e266f;
    color: #FFF;
}

#destaque {
    margin: 0 auto;
    width: 90%;
    margin-top: 70px;
}

#filtros {
    float: right;
    font-size: 14px;
    color: #989898; 
    font-weight: bold;
    margin-top: 10px;
    margin-left: 20px;
}

#filtros select {
    width: 122px;
    height: 35px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    margin-left: 20px;
}

#filtros input {
    width: 122px;
    height: 35px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    margin-left: 20px;
}

.containesup {
    font-size: 14px;
    background: #e5e5e5; 
    padding: 0px 0px 40px 0px;
    width:100%;
    font-weight:bold;
    height:30px;
    float:right;
}

.containesup h4{
    font-size: 20px;
    color: #774d99;
    font-weight: normal;
    float:left;
    margin-left:20px;
    margin-bottom:30px;
}

.containesup a{
    font-size: 14px;
    color: #774d99;
    font-weight: normal;
    float:right;
    margin-right:20px;
    margin-top:30px;
}

table {
    margin: 0 auto;
    font-size: 14px;
    width: 100%;
    border: 1px solid #e5e5e5;
    margin-bottom:40px;
}

table tr th {
    text-align: left;
    color: #717171;
    font-weight: bold;
    height: 20px; 
    padding: 20px 20px 20px 20px;
}

table tr td {
    text-align: left;
    color: #989898;
    padding: 5px 20px 5px 20px;
    background-color: #f8f8f8;
    border: 1px solid #e5e5e5;
    height: 30px; 
    border-left: none;
    border-right: none;
}

table tr td button {
    width: 60px;
    height: 20px;
    border: none;
    border-radius: 4px;
    background-color: #774d99;
    font-size: 11px;
    color: #ffffff;
    cursor:pointer;
}
table tr td button:hover {
    background: #4e266f
}
select {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    background: url(arrow-select.png) no-repeat #fff;  /* Imagem de fundo (Seta) */
    background-position: 95px center;  /*Posição da imagem do background*/
    padding:5px;
  }
  input[type=date]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
input[type=date]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
}
input[type=date]{
    background: url(arrow-select.png) no-repeat #fff;  /* Imagem de fundo (Seta) */
    background-position: 100px center;  /*Posição da imagem do background*/
}

