body {
  margin: 0;
  padding: 0px;
  font-family: Lato;
  font-size: 16px;
  background-color: #f8f8f8;
}
* { /* https://stackoverflow.com/a/28839369 */
  max-height: 100000px;
  -webkit-text-size-adjust: none; /* Safari on iOS/iPhone */
}
/*{
    outline: none;
}

/* #container {
    height: 60px;
    background-color: #774d99;
    overflow: hidden;
} */

/*.menu{
    width:100%;
    background: #774d99;
    height:60px;
    padding: 0px;
    white-space: nowrap;
    position: fixed;
    z-index: 10;
  }
 .logoonstore{
    background: #fff;
    width: 60px;
    height: 60px;
    padding: 7px 5px 0 5px;
    border-radius: 4px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 50;
  }
  .menu .sinoBT2{
  position: relative;
  float: right;
  text-decoration: none;
  bottom: 80px;
  width: 30px;
  padding: 20px 10px 2px 10px;
  cursor: pointer;
  font-size:30px;
  color:#fff;
  line-height: 50px;
}
.menu .sinoBT2:hover{
  background: #4e266f;
  cursor: pointer;
}
  .container-submenu3{
    width: 180px;
    height: 200px;
    position: absolute;
    top:75px;
    left: -135px;
    background: #ffffff;
    border: none;
    color: #989898;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
    display: none;
    padding: 0px;
    margin: 0;
  }
  .container-submenu3:before{
    border: 10px solid transparent;
    border-bottom-color: #ffffff;
    content: "";
    right: 7%;
    top: -20px;
    position: absolute;
    }
  .container-submenu3 li{
    list-style: none;
    width: 100%;
    padding: 1px 0 4px 0;
    text-align: center;
    border-bottom: solid 1px #e5e5e5;
    font-size:14px;
    height: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    line-height: 20px;
  }
  
  .BTBusca2{
    border-right: 2px solid #4e266f;
    border-left: 2px solid #4e266f;
    float: right;
    text-decoration: none;
    position: relative;
    bottom: 80px;
    width: 30px;
    padding: 15px 10px 8px 10px;
    height: 50px;
  }
  .BTBusca2:hover > .container-busca{
    display: block;
  }
  .container-busca{
    position:relative;
    width:100%;
    height: 40px;
    background: #fff;
    position: fixed;
    top:50px;
    left:0;
    padding: 10px;
    display: none;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
  }
  .container-busca input{
    width: 100%;
    padding: 10px 5px 10px 10px;
    color: #989898;
    text-align: center;
    border:none;
  }
  .container-busca label{
    color: #989898;
  }
  .menu .sinoBT{ /*botao do sino
    position: relative;
    float: right;
    text-decoration: none;
    bottom: 80px;
    width: 30px;
    padding: 17px 10px 0px 10px;
    height: 56px;
    border-right: 2px solid #4e266f;
  }
  .menu .sinoAlert{ /*contador de avisos
    position: absolute;
    top:35%;
    right:10%;
    padding: 2px 5px 2px 5px;
    font-weight:bold;
    border-radius:50%;
    font-size: 10px;
    color: #ffffff;
    line-height:auto;
    background-color:red;
  }
  .menu .sinoBT:hover{
    background: #4e266f;
    cursor: pointer;
  }
  .menu a img{ /*sino image
    position: absolute;
    top: 25%;
    left: 22%;
  }
    
.container-submenu2{ /* Container dos alertas
    width: 200px;
    height: 264px;
    position: absolute;
    top: 74px;
    left: -100px;
    background: #fff;
    border: none;
    color: #989898;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
    display: none;
    padding: 0px;
    margin: 0;
  }
  .container-submenu2:before{ /*snippet dos menus
  border: 10px solid transparent;
  border-bottom-color: #ffffff;
  content: "";
  left: 58%;
  z-index: 50;
  top: -20px;
  position: absolute;
  }
    .container-submenu2 li{
      list-style: none;
      padding: 0px 0 10px 25px;
      text-align: left;
      border-bottom: solid 1px #e5e5e5;
      font-size:14px;
      height: 40px;
      margin-bottom: 15px;
      margin-top: 15px;
      line-height: 20px;
    }

  .spancust{
    font-size: 12px;
  }
  .pcust{
    font-size: 12px;
  }
  .sinoBT:hover > .container-submenu2{
    display: block;
  }
  .sinoBT2:hover > .container-submenu3{
    display: block;
  } */

.root-mobile .enext-fc-base .campo-wrap-border {
  height: 2.2em;
}
.root-mobile .enext-fc-base .campo-border {
  border-width: 0.1em;
}
.root-mobile .enext-fc-base .campo-controle {
  height: 2em;
  padding: 0.5em;
}