<div class="app--desktop--recebimentos">
    <div class="conteudo">
        <div class="containerFilterTable">
            <h1 class="txtPurpleBig">
                RECEBIMENTOS
            </h1>
            <div class='x-filter-wrapper'>

                <enext--form-campo--select v-bind:campo="campoStatus" v-on:selecionado="onCampoSelecionado" v-on:blur="onCampoBlur">
                </enext--form-campo--select>

                <enext--form-campo--date-picker v-bind:campo="campoDataInicial" v-bind:monthNames="monthNames" v-bind:weekDaysHeader="weekDaysHeader" v-on:clickDay="onCampoClickDay" v-on:changeMonth="onCampoChangeMonth" v-on:blur="onCampoBlur">
                </enext--form-campo--date-picker>

                <enext--form-campo--date-picker v-bind:campo="campoDataFinal" v-bind:monthNames="monthNames" v-bind:weekDaysHeader="weekDaysHeader" v-on:clickDay="onCampoClickDay" v-on:changeMonth="onCampoChangeMonth" v-on:blur="onCampoBlur" listaAlign="right">
                </enext--form-campo--date-picker>

                <div class="x-buttons-actions">
                    <a class="button-export" target="_blank" v-bind:href="downloadRecebiveis">
						Gerar relatório
					</a>
                </div>

            </div>

        </div>

        <br />

        <table class="tabelas-conteudo" width="100%" border="0" cellspacing="0" cellpadding="0" name="linhaDoTempo">
            <tr class="tableHeader">
                <td colspan="7">
                    <h4 class="txtPurpleSmall">
                        Relação de Pedidos
                        <template v-if="!error && data">
							&nbsp;-&nbsp;<font size="3">
							{{data.count}}
							resultado{{1 == data.count ? '' : 's'}}
						</font>
                        </template>
                        <span>
                            Não está incluso os custos bancários de transferência nos <sup>1</sup>saldos a receber e disponível, o <sup>2</sup>valor líquido da parcela também não contempla este custo. 
                            <br>As taxas administrativas bancárias são calculadas no momento do repasse e apresentadas no relatório em excel.
                        </span>
                    </h4>
                    <div class="valores-mes" v-if="data && !error">
                        <div class="recebido-mes-atual">
                            <app--utils--display-price before="R$ " v-bind:value="Number(data.total_to_receive)"></app--utils--display-price>
                            <p>Saldo<sup>1</sup> a receber</p>
                        </div>
                        <div class="receber-mes-atual">
                            <app--utils--display-price before="R$ " v-bind:value="Number(data.total_received)"></app--utils--display-price>
                            <p>Saldo<sup>1</sup> disponível</p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr v-if="loading">
                <td colspan="7">
                    <div class="service-loading">
                        <p>Carregando...</p>
                    </div>
                </td>
            </tr>
            <tr v-if="!loading && error">
                <td colspan="7">
                    <div class="service-error">
                        <p>Erro ao carregar os dados</p>
                        <p>Detalhes: {{errorText}}</p>
                        <p><a href="javascript:;" v-on:click="clickReload">Tentar novamente</a></p>
                    </div>
                </td>
            </tr>
            <tr v-if="!data && !loading && !error">
                <td colspan="7">
                    <div class="service-empty">
                        <p>Nenhum dado encontrado</p>
                    </div>
                </td>
            </tr>
            <!--<tr v-if="data && !error">
				<td colspan="7">
					<app--desktop--recebimentos--timeline
						v-bind:monthNames="calMonthNames"
						v-bind:months="timelineMonths"
						v-bind:recebiveis="data"
						v-on:clickMonth="onTimelineClickMonth"
					></app--desktop--recebimentos--timeline>
				</td>
			</tr>-->
            <tr v-if="data && !error && !loading">
                <td>
                    <!--<table border="0" width="100%">
						<tr>
							<td colspan="7">
								<span class="txtPurpleSmall" style="font-size:20px; margin-left:-20px; font-family: sans-serif;">Recebíveis do Mês</span>
								<br>
								<span style="font-size:16px; margin-left:-10px;">Contabilizados do dia {{printDayMonthText(monthFirstDay)}} a {{printDayMonthText(monthLastDay)}}.</span>
							</td>
						</tr>
					</table>-->
                    <table width="100%" class="table-recebiveis">
                        <tr class="tableBoldHeader trDynGray">
                            <td>Data</td>
                            <!--<td>Transação</td>-->
                            <td>Id do Pedido</td>
                            <td>Forma de Pgto.</td>
                            <!-- <td>Bandeira</td> -->
                            <td>Status</td>
                            <td>Parcela</td>
                            <td>Valor Br.</td>
                            <td>Antecipação</td>
                            <td>Valor Liq.<sup>2</sup></td>
                        </tr>
                        <tr v-for="rec in data.results">
                            <td>{{rec.date}}</td>
                            <!-- <td><a href="javascript:;" v-on:click="onClickPedido(rec, $event)">#{{rec.id}}</a></td> -->
                            <!--<td>#{{rec.id}}</td>-->
                            <td>{{rec.foreign_id ? `#${ rec.foreign_id }` : '-'}}</td>
                            <td>
                                <template v-if="rec.payment_method === 'credit_card'">
									Cartão de crédito
								</template>
                                <template v-else-if="rec.payment_method === 'boleto'">
									Boleto
								</template>
                                <template v-else>
									{{rec.payment_method || '-'}}
								</template>
                            </td>
                            <!-- <td>{{rec.card_brand}}</td> -->
                            <td v-if="rec.status === 'paid'" style="color: green;">Recebido</td>
                            <td v-else-if="rec.status === 'waiting_founds'" style="color: orange;">A receber</td>
                            <td v-else-if="rec.status === 'transferred'">Transferido</td>
                            <td v-else>{{formatStatus(rec.status)}}</td>
                            <td>{{rec.installment || '-'}}</td>
                            <td>
                                <template v-if="rec.model !== 'transfer' && rec.amount">
									<app--utils--display-price
									before="R$ "
									v-bind:value="Number(rec.amount) + Number(rec.anticipation)"
									></app--utils--display-price>
								</template>
                                <template v-if="rec.model === 'transfer' && rec.amount">
									<app--utils--display-price
									before="R$ "
									v-bind:value="rec.amount"
									></app--utils--display-price>
								</template>
                            </td>
                            <td>
                                <template v-if="rec.anticipation">
									<app--utils--display-price
									before="R$ "
									v-bind:value="rec.anticipation"
									></app--utils--display-price>
								</template>
                            </td>
                            <td v-if="rec.model !== 'transfer' && rec.net">
                                <template>
									<app--utils--display-price
									before="R$ "
									v-bind:value="rec.amount"
									></app--utils--display-price>
								</template>
                            </td>
                            <td v-else-if="rec.model === 'transfer'">
                                <template>
									<app--utils--display-price
									before="R$ "
									v-bind:value="Number(rec.amount) - Number(rec.anticipation)"
									></app--utils--display-price>
								</template>
                            </td>
                            <td v-else>-</td>
                        </tr>
                        <!--<tr>
							<td>31/07/2018</td>
							<td><a href="#" onclick="abrirLightBox('lightbox')">#010001840</a></td>
							<td>Cartão de Crédito</td>
							<td>Mastercard</td>
							<td style="color: green;">Recebido</td>
							<td>1/2</td>
							<td>R$ 1000,00</td>
						</tr>
						<tr class="trDynGray">
							<td>31/07/2018</td>
							<td><a href="#" onclick="abrirLightBox('lightbox')">#057277920</a></td>
							<td>Cartão de Crédito</td>
							<td>Mastercard</td>
							<td style="color: green;">Recebido</td>
							<td>1/2</td>
							<td>R$ 1000,00</td>
						</tr>
						<tr>
							<td>31/07/2018</td>
							<td><a href="#" onclick="abrirLightBox('lightbox')">#057277920</a></td>
							<td>Cartão de Crédito</td>
							<td>Mastercard</td>
							<td style="color: green;">Recebido</td>
							<td>1/2</td>
							<td>R$ 1000,00</td>
						</tr>
						<tr class="trDynGray">
							<td>31/07/2018</td>
							<td><a href="#" onclick="abrirLightBox('lightbox')">#057277920</a></td>
							<td>Cartão de Crédito</td>
							<td>Mastercard</td>
							<td style="color: orange;">A receber</td>
							<td>1/2</td>
							<td>R$ 1000,00</td>
						</tr>
						<tr>
							<td>31/07/2018</td>
							<td><a href="#" onclick="abrirLightBox('lightbox')">#057277920</a></td>
							<td>Cartão de Crédito</td>
							<td>Mastercard</td>
							<td style="color: orange;">A receber</td>
							<td>1/2</td>
							<td>R$ 1000,00</td>
						</tr>
						<tr class="trDynGray">
							<td>31/07/2018</td>
							<td><a href="#" onclick="abrirLightBox('lightbox')">#057277920</a></td>
							<td>Cartão de Crédito</td>
							<td>Mastercard</td>
							<td style="color: orange;">A receber</td>
							<td>1/2</td>
							<td>R$ 1000,00</td>
						</tr>
						<tr>
							<td>31/07/2018</td>
							<td><a href="#" onclick="abrirLightBox('lightbox')">#057277920</a></td>
							<td>Cartão de Crédito</td>
							<td>Mastercard</td>
							<td style="color: orange;">A receber</td>
							<td>1/2</td>
							<td>R$ 1000,00</td>
						</tr>-->
                    </table>
                    <!-- <a class="txtPurpleSmall" href="/api/receivables/received?output=xlsx">Download dos valores recebidos</a> -->
                    <!-- <a class="txtPurpleSmall" href="/api/receivables/to_receive?output=xlsx">Download dos valores a receber</a> -->
                    <!-- <a class="txtPurpleSmall">Exportar lista de vendas</a> -->
                </td>
            </tr>
        </table>

        <div class="recebimentos-pagination" v-if="pagination.active">
            <button v-show="pagination.actual != 1" @click="prevPage">prev</button>
            <select v-model="pagination.actual" @change="carregarRecebiveis">
				<option v-for="n in pagination.pages" :value="n" v-text="n"></option>
			</select>
            <button v-show="pagination.actual != pagination.pages" @click="nextPage">next</button>
        </div>

        <h2 v-show="false">Essa área está em construção, em breve novidades.</h2>
    </div>
</div>