.app--desktop--recebimentos .conteudo {
    color: #989898;
    padding: 0;
    margin: 50px auto 0;
    position: relative;
    height: auto;
    width: 90%;
}

.app--desktop--recebimentos h4 {
    font-size: 20px;
    color: #774d99;
    font-weight: normal;
    float: left;
    margin-left: 20px;
}

.app--desktop--recebimentos sup {
    font-size: 10px;
    margin: 2px;
}

.app--desktop--recebimentos .texto-mes-taxa {
    font-size: 12px;
    font-weight: normal;
    text-align: right;
}

.app--desktop--recebimentos .txtPurpleSmall span {
    display: block;
    font-size: 11px;
    ;
}

.app--desktop--recebimentos .txtPurpleMed {
    width: 30%;
    color: #774d99;
    font-size: 18px;
    padding-top: 5px;
    padding-right: 15px;
    text-align: right;
}

.app--desktop--recebimentos h1 {
    margin: 14px 0;
    font-size: 22px;
    color: #774d99;
    font-weight: bold;
    float: left;
}

.app--desktop--recebimentos .containerFilterTop {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
}

.app--desktop--recebimentos .txtGrayFields {
    width: 70%;
    color: #717171;
    font-size: 16px;
}

.app--desktop--recebimentos .txtGrayFields select {
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    color: #e5e5e5;
    width: 200px;
    height: 35px;
    margin-right: 20px;
}

.app--desktop--recebimentos .containerFilterTable {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.app--desktop--recebimentos .grayFieldsSmall {
    position: absolute;
    color: #717171;
    font-size: 14px;
    font-weight: bold;
    right: 5px;
}

.app--desktop--recebimentos .grayFieldsSmall select {
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    color: #e5e5e5;
    width: 112px;
    height: 35px;
    margin: 0px 10px 0px 10px;
}

.app--desktop--recebimentos .grayFieldsSmall input {
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    color: #e5e5e5;
    width: 112px;
    height: 35px;
    margin: 0px 10px 0px 10px;
}

.app--desktop--recebimentos .container-table {
    width: 85%;
    margin-left: 10%;
}

.app--desktop--recebimentos .btnConsultar {
    padding: 5px;
    color: white;
    background-color: #774d99;
    border: 0;
    border-radius: 6px;
    font-size: 11px;
    float: right;
    margin-right: 5%;
}

.app--desktop--recebimentos .topPedidoDetalhe2 {
    position: relative;
    width: 85%;
    color: #774d99;
    background: #EDEDED;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    padding-left: 2%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 45px;
}

.app--desktop--recebimentos .pedidoDetalheCorpo {
    position: relative;
    width: 85%;
    color: #717171;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: white;
    border-left: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border-color: #E5E5E5;
}

.app--desktop--recebimentos .pedidoDetalheCorpo-item {
    padding: 1%;
    width: 100%;
    height: 100%;
    border-right: 1px solid;
    border-color: #E5E5E5;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.app--desktop--recebimentos .pedidoDetalheCorpo-item:nth-child(1) {
    width: 5%;
}

.app--desktop--recebimentos .pedidoDetalheCorpo-item:nth-child(2) {
    width: 22%;
}

.app--desktop--recebimentos .pedidoDetalheCorpo-item:nth-child(3) {
    width: 13%;
}

.app--desktop--recebimentos .pedidoDetalheCorpo-item:nth-child(4) {
    width: 14%;
}

.app--desktop--recebimentos .pedidoDetalheCorpo-item:nth-child(5) {
    width: 14%;
}

.app--desktop--recebimentos .pedidoDetalheCorpo-item:nth-child(6) {
    width: 14%;
}

.app--desktop--recebimentos .pedidoDetalheCorpo-item:nth-child(7) {
    width: 18%;
}

.app--desktop--recebimentos .cliente {
    position: relative;
    float: left;
    width: 23%;
    height: auto;
    color: #717171;
    padding: 1%;
    background: white;
    border-left: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border-color: #E5E5E5;
}

.app--desktop--recebimentos .cliente p {
    height: auto;
    font-weight: bold;
}

.app--desktop--recebimentos .cliente span {
    font-size: 85%;
}

.app--desktop--recebimentos .pagamento {
    position: relative;
    float: left;
    width: 23%;
    height: auto;
    color: #717171;
    padding: 1%;
    background: white;
    border-left: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border-color: #E5E5E5;
}

.app--desktop--recebimentos .pagamento p {
    color: #774D99;
    height: auto;
}

.app--desktop--recebimentos .pagamento span {
    font-size: 85%;
}

.app--desktop--recebimentos .field-search {
    margin-top: 11px;
    height: 42px;
    width: 90%;
    border: 1px solid transparent;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-border-radius: 8px;
    padding: 12px 20px;
}

.app--desktop--recebimentos .button-search {
    line-height: 0.5;
    height: 42px;
    width: 9%;
    margin-left: -1%;
    background-color: white;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.app--desktop--recebimentos .table-recebiveis {
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    border-collapse: collapse;
}

.app--desktop--recebimentos .table-recebiveis td {
    border-bottom: 1px solid #E2E2E2;
}

.app--desktop--recebimentos .table-recebiveis td a {
    text-decoration: none;
    color: #774D99
}

.app--desktop--recebimentos .table-recebiveis tr:nth-child(odd) {
    background: #ededed;
}

.app--desktop--recebimentos .tabelas-conteudo {
    background-color: white;
    width: 100%;
    margin: 0;
}

.app--desktop--recebimentos .table {
    margin-top: 20px;
    -webkit-box-align: left;
    -webkit-align-items: left;
    -moz-box-align: left;
    -ms-flex-align: left;
    align-items: left;
    padding: 0px 13px;
    height: 100px;
    border-collapse: collapse;
    background-color: white;
    font-size: 15px;
    white-space: nowrap;
}

.app--desktop--recebimentos .tableHeader td {
    padding: 10px 20px 10px 0px;
    background-color: #EDEDED;
    white-space: nowrap;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.app--desktop--recebimentos .trDynGray {
    background-color: #EDEDED;
}

.app--desktop--recebimentos .tableBoldHeader {
    font-weight: bold;
    text-align: left;
}

.app--desktop--recebimentos .tableBoldHeader td {
    padding: 10px 0px 10px 10px;
}

.app--desktop--recebimentos td {
    padding: 10px;
    text-align: left;
}

.recebimentos-pagination {
    padding: 0 0 50px;
    text-align: center;
}

.recebimentos-pagination button {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    font-size: 0;
    color: #222;
    height: 36px;
    padding: 0 15px;
}

.recebimentos-pagination button:before {
    content: " ";
    height: 6px;
    width: 6px;
    display: block;
    border-top: 1px solid #222;
    border-left: 1px solid #222;
    transform: rotate(-45deg);
}

.recebimentos-pagination button:last-child:before {
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #222;
    border-bottom: 1px solid #222;
}

.recebimentos-pagination select {
    border: 1px solid #e5e5e5;
    height: 36px;
    margin: 0 1rem;
    padding: 0 0.5rem;
}


/* TIMELINE * /
	.app--desktop--recebimentos .container-top-timeline{
		padding;0px;  
		font-size: 14px;
	}
	.app--desktop--recebimentos .container-content-timeline{
		white-space: nowrap;
		position:relative;
		width: 100%;
	}
	.app--desktop--recebimentos .desc-timeline{ 
		width:100%; 
		padding-left: 10px;
		font-style: normal;
		font-weight: bold;
		align-content: space-around;
		white-space:nowrap;
	}
	.app--desktop--recebimentos .mes-atual{
			position: relative;
			font: 24px lato, sans-serif;    
			color: #000000;
			font-weight: bold;
		}
		.app--desktop--recebimentos .total-mes-atual{
			position:relative;
			float:left;
			font: 24px lato, sans-serif; 
			color: #000000;
			font-weight: bold;
		}
		.app--desktop--recebimentos .receber-mes-atual{
			position:relative;
			float:left;
			font: 14pxlato, sans-serif;
			color: green;
		}
		.app--desktop--recebimentos .recebido-mes-atual{
			position:relative;
			float:left;
			font: 14px lato, sans-serif;
			color: orange;
			font-weight: bold;
		}
/* END TIMELINE */

.app--desktop--recebimentos .x-filter-wrapper {
    float: right;
    font-size: 14px;
    color: #989898;
    font-weight: bold;
    margin: 10px 0;
    display: flex;
}

.app--desktop--recebimentos .x-filter-wrapper .enext-fc-base {
    display: inline-block;
}

.app--desktop--recebimentos .x-filter-wrapper .enext-fc-base .campo-label {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #989898;
    font-weight: bold;
    margin-left: 25px;
}

.app--desktop--recebimentos .x-filter-wrapper .enext-fc-base .campo-wrap-border {
    display: inline-block;
    width: 140px;
    margin: 0;
    margin-left: 25px;
    vertical-align: middle;
}

.app--desktop--recebimentos .x-filter-wrapper .enext-fc-base .campo-controle {
    background: #fff;
}

.app--desktop--recebimentos .x-filter-wrapper .enext-fc-select .campo-arrow {
    top: 0.5em;
}

.app--desktop--recebimentos .valores-mes {
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.app--desktop--recebimentos .recebido-mes-atual {
    display: flex;
    flex-direction: inherit;
    position: relative;
    float: left;
    font: 16px lato, sans-serif;
    color: orange;
    font-weight: bold;
    margin-right: 10px;
}

.app--desktop--recebimentos .receber-mes-atual {
    display: flex;
    flex-direction: inherit;
    position: relative;
    float: left;
    font: 16px lato, sans-serif;
    color: green;
    font-weight: bold;
}

.app--desktop--recebimentos .recebido-mes-atual p,
.app--desktop--recebimentos .receber-mes-atual p {
    color: #989898
}

.app--desktop--recebimentos .valores-mes small {
    text-align: right;
    width: 100%;
    margin-top: 3px;
}

.app--desktop--recebimentos .x-filter-wrapper .x-buttons-actions {
    display: inline-block;
}

.app--desktop--recebimentos .x-filter-wrapper .x-buttons-actions a.button-export {
    background-color: #774d99;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 12px;
    position: relative;
    margin: 0px 0px 0px 10px;
    text-align: center;
    text-decoration: none;
}