<div class="app--root">
	<!-- <p>Hello World!</p>
	<p>
		<router-link to="/login">Login</router-link>
		<router-link to="/admin">Admin</router-link>
		<router-link to="/loja">Loja</router-link>
	</p> -->
	<router-view></router-view>
</div>