<div class="app--pages--loja--minhas-vendas">
    <template v-if="mobile">
        <app--pages-mobile--minhas-vendas></app--pages-mobile--minhas-vendas>
    </template>
    <template v-else>
        <app--pages-desktop--minhas-vendas></app--pages-desktop--minhas-vendas>
    </template>
</div>