<div class="app--desktop--relacao-de-pedidos">
	<div class="destaque">
		<h1 v-text="listTitle">MINHAS VENDAS</h1>		
		<div class="filtros">
			<div class="x-search-filter" v-show="false" v-if="isAdminOnstore">
				
				<enext--form-campo--texto v-bind:campo="campoBuscaMaster">
					
				</enext--form-campo--texto>
			</div>
			<div class='x-filter-wrapper'>

				<enext--form-campo--select
					v-bind:campo="campoStatus"
					v-on:selecionado="onCampoSelecionado"
					v-on:blur="onCampoBlur">
				</enext--form-campo--select>

				<enext--form-campo--date-picker
					v-bind:campo="campoDataInicial"
					v-bind:monthNames="monthNames"
					v-bind:weekDaysHeader="weekDaysHeader"
					v-on:clickDay="onCampoClickDay"
					v-on:changeMonth="onCampoChangeMonth"
					v-on:blur="onCampoBlur">
				</enext--form-campo--date-picker>

				<enext--form-campo--date-picker
					v-bind:campo="campoDataFinal"
					v-bind:monthNames="monthNames"
					v-bind:weekDaysHeader="weekDaysHeader"
					v-on:clickDay="onCampoClickDay"
					v-on:changeMonth="onCampoChangeMonth"
					v-on:blur="onCampoBlur"
					listaAlign="right"
				></enext--form-campo--date-picker>

				<div class="x-buttons-actions">
					<a 
					v-show="isAdminOnstore || isShopping"
					class="button-export" 
					:href="exportURL('/api/receivables/analytical')">
						Exportar Lista
					</a>
					<a 
					v-show="isLoja"
					class="button-export" 
					:href="exportURL('/api/receivables/seller')">
						Exportar Lista
					</a>
				</div>

				<!-- <enext--form-campo--texto
					v-bind:campo="campoDataFinal"
					v-on:selecionado="onCampoSelecionado"
					v-on:blur="onCampoBlur"
				></enext--form-campo--texto> -->

			</div>			
		</div>
		<br><br>
		<div class="containesup">
			<h4>
				Relação de Pedidos
				<template v-if="!error && data">
						&nbsp;-&nbsp;<font size="3">
						<template v-if="dataState.temFiltro">
							{{dataState.totalFiltro}} de
						</template>
						{{resultados}}
						resultado{{1 == dataState.together.length ? '' : 's'}}
					</font>
				</template>
			</h4>
		</div>
		<table cellspacing="0">
			<tr v-if="!data && loading">
				<td>
					<div class="service-loading">
						<p>Carregando...</p>
					</div>
				</td>
			</tr>
			<tr v-if="!loading && error">
				<td>
					<div class="service-error">
						<p><strong>Erro ao carregar os dados</strong></p>
						<p>Detalhes: {{errorText}}</p>
						<p><a href="javascript:;" v-on:click="clickReload">Tentar novamente</a></p>
					</div>
				</td>
			</tr>
			<tr v-if="!data && !loading && !error">
				<td>
					<div class="service-empty">
						<p>Nenhum dado encontrado</p>
					</div>
				</td>
			</tr>
			<template v-if="data && !error">
			<tr>
				<th>Pedido</th>
				<th>CPF</th>
				<th>Cliente</th>
				<th>Data</th>
				<th>Status</th>
				<th>Valor</th>
				<th>Pagamento</th>
				<th>Parcelas</th>
				<th> </th>
			</tr>
			<tr v-for="item in dataState.together">
				<td>{{item.pedido.order_id}}</td>
				<td>{{item.pedido.client_cpf}}</td>
				<td>{{item.pedido.client_name}}</td>
				<td>{{formatDate(item.pedido.date_created)}}</td>
				<td>
					{{formatStatus(item.pedido.status, item.pedido)}}
				</td>
				<td>
					<app--utils--display-price
						before="R$ "
						v-bind:value="item.pedido.total"
					></app--utils--display-price>
				</td>
				<td>
					<template v-if="item.pedido.payment_method === 'credit_card'">Cartão de Crédito</template>
					<template v-else-if="item.pedido.payment_method === 'boleto'">Boleto</template>
					<template v-else>{{item.pedido.payment_method}}</template>
				</td>
				<td>{{item.pedido.installments}}</td>
				<td><router-link v-bind:to="makeLinkPedido(item.pedido)" class="consultar">consultar</router-link></td>
			</tr>
			</template>
		</table><br><br>
	</div><!--destaque-->
</div>
