.app--desktop--relacao-de-pedidos {
}

.app--desktop--relacao-de-pedidos .destaque {
    margin: 50px auto 0;
    width: 90%;
}

.app--desktop--relacao-de-pedidos .destaque h1 {
    margin: 14px 0;
    font-size: 22px;
    color:#774d99;
    font-weight: bold;
    float: left;
}

.app--desktop--relacao-de-pedidos .filtroadm {
    text-align: center;
}

.app--desktop--relacao-de-pedidos .filtroadm h4 {
    font-size: 18px;
    color: #774d99;
    font-weight: normal;
    display: inline;
}

.app--desktop--relacao-de-pedidos .filtroadm label {
    font-size: 14px;
    color: #989898;
    font-weight: bold;
    margin-left: 25px;
}

.app--desktop--relacao-de-pedidos .filtroadm select {
    width: 200px;
    height: 35px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    margin-left: 25px;
}

.app--desktop--relacao-de-pedidos .filtros {
    float: right;
    font-size: 14px;
    color: #989898; 
    font-weight: bold;
    margin: 10px 0;
    display: flex; 
}

.app--desktop--relacao-de-pedidos .filtros .enext-fc-base {
    display: inline-block;
}
.app--desktop--relacao-de-pedidos .filtros .enext-fc-base .campo-label {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #989898;
    font-weight: bold;
    margin-left: 25px;
}

.app--desktop--relacao-de-pedidos .filtros .x-buttons-actions {
    display: inline-block;
}

.app--desktop--relacao-de-pedidos .filtros .x-buttons-actions a.button-export {
    background-color: #774d99;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 12px;
    position: relative;
    margin: 0px 0px 0px 10px;
    text-align: center;
    text-decoration: none;
}

.app--desktop--relacao-de-pedidos .filtros .enext-fc-base .campo-wrap-border {
    display: inline-block;
    width: 140px;
    margin: 0;
    margin-left: 25px;
    vertical-align: middle;
}
.app--desktop--relacao-de-pedidos .filtros .enext-fc-base .campo-controle {
	background: #fff;
}
.app--desktop--relacao-de-pedidos .filtros .enext-fc-select .campo-arrow {
    top: 0.5em;
}
/*.app--desktop--relacao-de-pedidos .filtros select {
    width: 122px;
    height: 35px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    margin-left: 20px;
}

.app--desktop--relacao-de-pedidos .filtros input {
    width: 122px;
    height: 35px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    margin-left: 20px;
}*/

.app--desktop--relacao-de-pedidos .containesup {
    font-size: 14px;
    background: #e5e5e5; 
    padding: 5px 0px 0px 0px;
    width:100%;
    font-weight:bold;
    height:50px;
	float:left;
	line-height: 40px;
	min-width: 952px;
}

.app--desktop--relacao-de-pedidos .containesup h4{
    font-size: 20px;
    color: #774d99;
    font-weight: normal;
    float:left;
    margin-left:20px;
}

.app--desktop--relacao-de-pedidos .containesup a{
    font-size: 14px;
    color: #774d99;
    font-weight: normal;
    float:right;
    margin-right:20px;
}

.app--desktop--relacao-de-pedidos table {
    margin: 0 auto;
    font-size: 14px;
    width: 100%;
    border: 1px solid #e5e5e5;
}

.app--desktop--relacao-de-pedidos table tr th {
    text-align: left;
    color: #717171;
    font-weight: bold;
    height: 20px; 
    padding: 20px 20px 20px 20px;
}

.app--desktop--relacao-de-pedidos table tr td {
    text-align: left;
    color: #989898;
    padding: 5px 10px;
    background-color: #f8f8f8;
    border: 1px solid #e5e5e5;
    height: 30px; 
    border-left: none;
    border-right: none;
}

.app--desktop--relacao-de-pedidos table tr td .consultar {
    display: inline-block;
    width: 60px;
    height: 20px;
    border: none;
    border-radius: 4px;
    background-color: #774d99;
    font-size: 11px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    line-height: 20px;
}

@media (orientation:portrait) {
	.app--desktop--relacao-de-pedidos {
	}
}

@media (max-width: 1024px) {
	.app--desktop--relacao-de-pedidos {
	}
}