<div class="app--pages--loja--busca">
	<template v-if="mobile">
		<app--pages-mobile--busca></app--pages-mobile--busca>
	</template>
	<template v-else>
		<app--pages-desktop--busca></app--pages-desktop--busca>
	</template>
</div>