.app--mobile--recebimentos--timeline {
}

.app--mobile--recebimentos--timeline .timeline{
	text-align: center;
	width: 93%;
	border: solid 1px #e5e5e5;
	margin: 0 auto;
	background: #fff;
	padding: 30px 0;
}
.app--mobile--recebimentos--timeline .timeline td{
	padding: 10px 15px 10px 15px;
}
.app--mobile--recebimentos--timeline .timeline .soma-total {
	font-size: 28px;
}
  
.app--mobile--recebimentos--timeline .app--timeline .progress-bar {
	margin-top: 30px;
}
.app--mobile--recebimentos--timeline .app--timeline .progress-bar .pb-li {
	font-size: 16px;
	letter-spacing: 0.075em;
}
.app--mobile--recebimentos--timeline .app--timeline .progress-bar span {
	position: relative;
	bottom: 20px;
	height: 16px;
	font-size: 16px;
	overflow: visible;
	display: block;
}
.app--mobile--recebimentos--timeline .app--timeline .progress-bar .pb-li:after {
	margin-bottom: 0;
}
.app--mobile--recebimentos--timeline .app--timeline .timeline-div {
	height: 80px;
	margin-bottom: -20px;
}

@media (orientation:portrait) {
	.app--mobile--recebimentos--timeline {
	}
}

@media (max-width: 1024px) {
	.app--mobile--recebimentos--timeline {
	}
}