<div class="app--mobile--recebimentos--timeline">
	<table class="timeline">
		<tr>
			<td colspan="2"><div class="h1cust soma-total" style="color:#333;">
				TOTAL:
				<app--utils--display-price
					before="R$ "
					v-bind:value="recebiveis.total"
					v-bind:style="{display:'inline-block'}"
				></app--utils--display-price>
			</div></td>
		</tr>
		<tr>
			<td style="border-right:solid 1px #ededed;">
				<div class="h1cust" style="text-align:right;">
					<font color="ef9f20">
						<app--utils--display-price
							before="R$ "
							v-bind:value="recebiveis.total_to_receive"
							v-bind:style="{display:'inline-block'}"
						></app--utils--display-price>
					</font><br>
					<font style="font-size: 15px;" color="717171">A RECEBER</font>
				</div>
			</td>
			<td>
				<div class="h1cust" style="text-align:left;">
					<font color="229b39">
						<app--utils--display-price
							before="R$ "
							v-bind:value="recebiveis.total_received"
							v-bind:style="{display:'inline-block'}"
						></app--utils--display-price>
					</font><br>
					<font style="font-size: 15px;" color="717171">RECEBIDOS</font>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<app--timeline
					v-bind:monthNames="monthNames"
					v-bind:months="months"
					v-bind:numImages="3"
					v-on:clickMonth="onClickMonth"
				></app--timeline>
			</td>
		</tr>
	</table>
</div>
