<div class="app--timeline">
	<div class="progress-bar">
		<div class="pb-li arrow-left" v-on:click="onClickMove(-1)"><span class="arrowsSpan">.</span> </div>
		<div class="timeline-div">
			<ul class="section-timeline" v-bind:style="{width: calcTimelineWidth, marginLeft: (-100 * timelineMarginLeftAnimated).toFixed(2)+'%'}">
				<li class="pb-li"
					v-for="(item, index) in months.list"
					v-bind:class="{active: index == months.active, passado: index < months.active}"
					v-bind:style="{width: calcItemWidth}"
					v-on:click="onClickMonth(item, index, $event)"
				><span v-text="getMonthLabel(item)"></span></li>
			</ul>
		</div>
		<div class="pb-li arrow-right" v-on:click="onClickMove(+1)"><span class="arrowsSpan">.</span> </div>
	</div>
</div>