.app--timeline {
}
.app--timeline .progress-bar{
	counter-reset: step;
	/* counter-increment: step 00; */
	margin-top: 75px;
	padding: 0;
	display: flex;
	width: 100%;
	flex-wrap: nowrap;
}
.app--timeline .progress-bar .pb-li{
	list-style-type: none;
	float: left;
	width: 14.28%;
	position: relative;
	text-align: center;
	letter-spacing: 2px;
	color: #989898;
	font-size: 10pt;
}
.app--timeline .progress-bar span{
	position: relative;
	bottom: 10px;
}
.app--timeline .progress-bar .pb-li:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	background: #e5e5e5;
	top:30px;
	right: 48%;
	z-index: 1;
}
.app--timeline .progress-bar #li7:before{
	content: "";
	position: absolute;
	width: 200%;
	height: 3px;
	background: #e5e5e5;
	top:30px;
	left: -48%;
	z-index: 1;
}
.app--timeline .progress-bar .pb-li:after{
	content: counter(step);
	width: 20px;
	height: 20px;
	border: 5px solid #ef9f20;
	display: block;
	text-align: center;
	margin: 0 auto 10px auto;
	border-radius: 50%;
	background: #fff;
	letter-spacing: 0px;
	z-index: 2;
	color: #fff;
	position: relative;
	margin-bottom: 50px;
}
.app--timeline .progress-bar .pb-li:first-child:before{
	content: none;
}
.app--timeline .progress-bar .pb-li.active:after{
	border:solid 5px #774d99;
	width: 40px;
	height: 40px;
	position: relative;
	bottom: 10px;
}
.app--timeline .progress-bar .pb-li.passado:after{
	border:solid 5px #229b39;
}
.app--timeline .progress-bar .pb-li.active:before{
	background: #774d99;
}
.app--timeline .progress-bar #li7.active:before{
	background: #774d99;
}
.app--timeline .progress-bar .pb-li.passado:before{
	background: #774d99;
}
.app--timeline .progress-bar .pb-li.arrow-left:before{
	content: "";
	position: absolute;
	width: 150%;
	height: 3px;
	background: #774d99;
	top:30px;
	left: 50%;
	z-index: 1;
}
.app--timeline .progress-bar .pb-li.arrow-left:after{
	width: 30px;
	height: 30px;
	border: solid #774d99 3px;
	position: relative;
	bottom:4px;
	color: #774d99;
	line-height: 30px;
	line-height: 28px;
	content: "<";
	font-size: 40px;
	cursor: pointer;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3);
	
}
.app--timeline .progress-bar .pb-li.arrow-right:before{
	content: "";
	position: absolute;
	width: 60%;
	height: 3px;
	background: #e5e5e5;
	top:30px;
	right: 45%;
	z-index: 1;
}
.app--timeline .progress-bar .pb-li.arrow-right:after{
	width: 30px;
	height: 30px;
	border: solid #774d99 3px;
	position: relative;
	bottom:4px;
	color: #774d99;
	line-height: 28px;
	content: ">";
	font-size: 40px;
	cursor: pointer;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
}
.app--timeline .arrowsSpan{
	color: #fff;
	position: relative;
	bottom: 200px;
	z-index: 2;
}
.app--timeline .section-timeline{
	margin: 0 auto;
	height: 100px;
	padding: 30px 0 0 0;
	/* overflow: hidden; */
	position: relative;
	display: inline-block;
	bottom: 10px;
	/* width: 233.33%; /* exatamente 7 / 3 */
}
.app--timeline .timeline-div{
	width: 100%;
	height: 100px;
	overflow: hidden;
	position: relative;
	bottom: 20px;
}

@media (orientation:portrait) {
	.app--timeline {
	}
}

@media (max-width: 1024px) {
	.app--timeline {
	}
}