<div class="app--pages--cadastro">
    <template v-if="mobile">
        
        <app--pages-mobile--cadastro></app--pages-mobile--cadastro>
    </template>
    <template v-else>
        
        <app--pages-desktop--cadastro></app--pages-desktop--cadastro>
    </template>
</div>