<div class="app--pages-mobile--cadastro--form">
	<div class="form">
		<div class="form-title" v-if="isLoja">
			Minha Conta
		</div>
		<enext--form-campo--texto
			v-bind:campo="campoCNPJ"
			v-on:valor="onCampoValor"
			v-on:blur="onCampoBlur"
		></enext--form-campo--texto>
		<!-- <label for="cnpj"> CNPJ:*</label>
		<input type="text" name="cnpj" value="" id="div1"> -->
		<enext--form-campo--texto
			v-bind:campo="campoRazaoSocial"
			v-on:valor="onCampoValor"
			v-on:blur="onCampoBlur"
		></enext--form-campo--texto>
		<!-- <label for="razao_social"> Razão Social:*</label>
		<input type="text" name="razao_social" value="" id="div2"> -->
		<enext--form-campo--texto
			v-bind:campo="campoNomeFantasia"
			v-on:valor="onCampoValor"
			v-on:blur="onCampoBlur"
		></enext--form-campo--texto>
		<!-- <label for="nome_fantasia"> Nome Fantasia:*</label>
		<input type="text" name="nome_fantasia" value="" id="div3"> -->
		<enext--form-campo--texto
			v-bind:campo="campoSUC"
			v-on:valor="onCampoValor"
			v-on:blur="onCampoBlur"
		></enext--form-campo--texto>
		<!-- <label for="suc"> SUC:*</label>
		<input type="text" name="suc" value="" id="div4"> -->
			<div class="form-sm1">
				<enext--form-campo--select
					v-bind:campo="campoAndar"
					v-on:selecionado="onCampoSelecionado"
					v-on:blur="onCampoBlur"
				></enext--form-campo--select>
				<!-- <label for="andar"> Andar:*</label>
				<select name="andar" style="width:100%;" id="div5">
						<option value="">0</option>
						<option value="1°">1º</option>
						<option value="2°">2º</option>
						<option value="3°">3º</option>
				</select> -->
			</div>
			<div class="form-sm2">
				<enext--form-campo--select
					v-bind:campo="campoCategoria"
					v-on:selecionado="onCampoSelecionado"
					v-on:blur="onCampoBlur"
				></enext--form-campo--select>
				<!-- <label for="categoria"> Categoria:*</label>
				<select name="categoria" style="width:100%;" id="div6">
						<option value="">Selecione a categoria</option>
						<option value="Primeira">Primeira</option>
						<option value="Segunda">Segunda</option>
						<option value="Terceira">Terceira</option>
				</select> -->
			</div>

		<enext--form-campo--texto
			v-bind:campo="campoResponsavel"
			v-on:valor="onCampoValor"
			v-on:blur="onCampoBlur"
		></enext--form-campo--texto>
		<!-- <label for="nome_responsavel"> Nome do Responsável:*</label>
		<input type="text" name="nome_responsavel" value="" id="div7"> -->
		<enext--form-campo--texto
			v-bind:campo="campoTelefone"
			v-on:valor="onCampoValor"
			v-on:blur="onCampoBlur"
		></enext--form-campo--texto>
		<!-- <label for="telefone_responsavel"> Telefone do Responsável:*</label>
		<input type="text" name="telefone_responsavel" value="" id="div8"> -->
		<enext--form-campo--texto
			v-bind:campo="campoEmail"
			v-on:valor="onCampoValor"
			v-on:blur="onCampoBlur"
		></enext--form-campo--texto>
		</div>
		
		<!-- Campos disable -->
		<div class="form-sm4" v-if="isLoja">
			<enext--form-campo--texto
				v-bind:campo="campoTaxa"
				v-on:valor="onCampoValor"
				v-on:blur="onCampoBlur"
			></enext--form-campo--texto>
		</div>
		<div class="form-sm1b" v-if="isLoja">
			<enext--form-campo--texto
				v-bind:campo="campoDtRecebimento"
				v-on:valor="onCampoValor"
				v-on:blur="onCampoBlur"
			></enext--form-campo--texto>
		</div>
		<div class="form-sm2b" v-if="isLoja">
			<enext--form-campo--texto
				v-bind:campo="campoAntecipacao"
				v-on:valor="onCampoValor"
				v-on:blur="onCampoBlur"
			></enext--form-campo--texto>
		</div>
		<!-- Fim dos campos disable -->
	</div>
	<div class="form">
		<div class="container_form-title2">
			Dados Bancários
		</div>
		<enext--form-campo--select
			v-bind:campo="campoContaBanco"
			v-on:selecionado="onCampoSelecionado"
			v-on:blur="onCampoBlur"
		></enext--form-campo--select>
		<!-- <label for="banco">Banco:*</label>
		<input type="text" name="banco" value="" id="div11"> -->
		<div class="form-sm1">
			<enext--form-campo--texto
				v-bind:campo="campoContaAgencia"
				v-on:valor="onCampoValor"
				v-on:blur="onCampoBlur"
			></enext--form-campo--texto>
			<!-- <label for="agencia"> Agência:*</label>
			<input type="text" name="agencia" id="div12"> -->
		</div>
		<div class="form-sm2b">
			<enext--form-campo--texto
				v-bind:campo="campoContaNumero"
				v-on:valor="onCampoValor"
				v-on:blur="onCampoBlur"
			></enext--form-campo--texto>
			<!-- <label for="conta_corrente"> Conta Corrente:*</label>
			<input type="text" name="conta_corrente" id="div13"> -->
		</div>
		<div class="form-smdv">
			<enext--form-campo--texto
				v-bind:campo="campoDV"
				v-on:valor="onCampoValor"
				v-on:blur="onCampoBlur"
			></enext--form-campo--texto>
		</div>
		<div class="form_end">
			<div class="comprovantes" v-bind:class="{'formcad-missing': campoUpload.falta, 'formcad-error': campoUpload.erro}">
					<label for="contacorrente">Comprovante Bancário: *</label>
					<input type="file" id="div14" ref="fileUpload" name="Comprovante-Bancario" v-on:change="onChangeFileUpload">
					<label for="div14" id="labeldiv4" style="margin-top:30px;">
						<template v-if="campoUpload.file">{{campoUpload.file.name}}</template>
						<template v-else>Anexar comprovante bancário</template>
					</label>
					<label v-if="campoUpload.erro" v-text="campoUpload.erro" class="formcad-item-errormessage"></label>
			</div>
			<div class="checktermo"> 
				<enext--form-campo--checkbox
					v-bind:campo="campoAceito"
					v-bind:filterClick="filterClickAceito"
					v-on:check="onCampoCheck"
					v-on:blur="onCampoBlur"
				>
					Eu declaro que li e aceito os
					<a href="javascript:;" class="clicktermo" ref="btAbrirTermos" v-on:click="clickTermos">
						<span class="termos">Termos e Condições de Uso</span>
					</a>
					da OnStores*
				</enext--form-campo--checkbox>  
				<!-- <input type="checkbox" name="opcoes" value="aceito" class="div15"/>
				<label for="div15" class="labeldiv15">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				<label for="campo-checkbox1">Eu declaro que li e aceito os 
				<button
				style="background:none;border:none;" onclick="abrirLightBox('lightbox')">
					<span class="termos">Termos e Condições de Uso</span>
				</button> da OnStores</label> -->
				<br><br><br>

				<div class="mensagemErro" v-if="erroMensagem" v-text="erroMensagem"></div>

				<span class="cadastrarLoja cadastrarLoja-sending" v-show="enviandoCadastro">
					<template v-if="isLoja">
						Enviando dados...
					</template>
					<template v-else>
						Cadastrando Loja...
					</template>
				</span>
				<button class="cadastrarLoja" v-show="!enviandoCadastro" v-on:click="clickCadastrar">
					<template v-if="isLoja">
						Atualizar dados
					</template>
					<template v-else>
						Cadastrar Loja
					</template>
				</button>
			</div>
		</div>
	</div>
</div>