.app--pages-mobile--cadastro--form {
}

.app--pages-mobile--cadastro--form * {
  font-family: 'Lato', sans-serif;
}

.app--pages-mobile--cadastro--form ul{
    padding: 0;
    margin: 0;
    list-style: none;
  }
.app--pages-mobile--cadastro--form .container{
  background: #fff;
  height: auto;
  padding: 25px;
  border: solid 1px #e5e5e5;
  border-radius: 4px;
}
.app--pages-mobile--cadastro--form .container img{
  width: 60px;
  height: 60px;
}
.app--pages-mobile--cadastro--form .container h1{
  color: #333;
  font-size: 18pt;
  margin-top: 15px;
  margin-bottom: 15px;
}
.app--pages-mobile--cadastro--form .container p{
  color: #bbb8b8;
  font-size: 11pt;
  font-weight: bold;
  line-height: 18px;
}
.app--pages-mobile--cadastro--form .container_form-title2{
  width: 100%;
  height: 35px;
  font-size: 30px;
  font-weight: bold;
  color: #774D99;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: left;
}
.app--pages-mobile--cadastro--form .container_form-title3{
  width: 100%;
  height: 35px;
  font-size: 22px;
  font-weight: bold;
  text-transform:uppercase;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align:center;
}
.app--pages-mobile--cadastro--form .form{
  padding: 0 20px 30px 20px;
  display: flex;
  flex-wrap: wrap;
  background:#FFFFFF;
  font-size: 26px;
  color: #989898;
  text-align: center;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}
.app--pages-mobile--cadastro--form .form-title {
  width: 100%;
  margin: 0 -20px;
  font-size: 30px;
  text-align: left;
  padding: 15px 20px;
  color: #774D99;
  background: #e5e5e5;
  border-bottom: solid 1px #d1d1d1;
}
.app--pages-mobile--cadastro--form .ok_symbol{
  margin-top: 30px;
  border: 2px solid lime;
  background-image: url("paper.gif");
  background-color: transparent;
  width: 43px;
  height: 43px;
  border-radius:50%;
  position: relative;
  left:42.5%
}
.app--pages-mobile--cadastro--form .form-sm1{/*select box small*/
  text-align:left;
  width: 29%;
}
.app--pages-mobile--cadastro--form .form-sm1b{/*select box small*/
  text-align:left;
  width: 49%;
}
.app--pages-mobile--cadastro--form .form-sm2{/*select box small*/
  text-align:left;
  width: 69%;
  margin-left: 2%;
}
.app--pages-mobile--cadastro--form .form-sm2b{/*select box small*/
  text-align:left;
  width: 49%;
  margin-left: 2%;
}
.app--pages-mobile--cadastro--form .form-smdv{/*select box small*/
  text-align:left;
  width: 18%;
  margin-left: 2%;
}
.app--pages-mobile--cadastro--form .form-sm3{/*select box small*/
  text-align:left;
  width: 64%;
}
.app--pages-mobile--cadastro--form .form-sm4{/*select box small*/
  text-align:left;
  width: 34%;
  margin-left: 2%;
}
.app--pages-mobile--cadastro--form .enext-fc-base {
	width: 100%;
	height: 100px;
	margin-top: 24px;
	text-align: left;
}

.app--pages-mobile--cadastro--form .enext-fc-base .campo-label {
	font-weight: bold;
}
.app--pages-mobile--cadastro--form .enext-fc-base .campo-border {
	margin-top: 6px;
}
/* .app--pages-mobile--cadastro--form .form input{
  width: 100%;
  height: 35px;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  color: #989898;
  padding: 0 0 0 10px;
  margin-top: 5px;
}
.app--pages-mobile--cadastro--form .form select{
  width: 100%;
  height: 35px;
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  margin-top: 5px;
}
.app--pages-mobile--cadastro--form .form label{
  margin-top:10px;
  margin-bottom:0px;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 0;
} */
.app--pages-mobile--cadastro--form .form_end{
  width: 100%;
  padding: 20px 0;
  display:flex;
  flex-wrap:wrap;
}
.app--pages-mobile--cadastro--form .form_end-termos a{
  color:#774D99;
  text-decoration:none;
}
.app--pages-mobile--cadastro--form .comprovantes{
  margin-left: 0px;
  text-align: left;
}
.app--pages-mobile--cadastro--form .comprovantes label{
  display: block;
	font-weight: bold;
}

.app--pages-mobile--cadastro--form .formcad-missing label,
.app--pages-mobile--cadastro--form .formcad-error label {
  color: #d0021b;
}

.app--pages-mobile--cadastro--form .txt_anexar{
  text-decoration:underline;
  color:#774D99;
  line-height: 50px;
}
.app--pages-mobile--cadastro--form .clicktermo {
  background:none;
  border:none;
  cursor: pointer;
  text-decoration: none;
}
.app--pages-mobile--cadastro--form .termos{
  width:100%;
  text-align:center;
  line-height: 0px;
  color: #774D99;
  font-weight: bold;
}
.app--pages-mobile--cadastro--form .txt_termos{
  font-weight:bold;
  color: #774D99;
}
/* .app--pages-mobile--cadastro--form #div15{
  display: none;
} */

.app--pages-mobile--cadastro--form .checktermo {
	text-align: center;
  margin-top: 80px;
  color: #717171;
  width: 100%;
}
.app--pages-mobile--cadastro--form .checktermo .enext-fc-checkbox {
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: bold;
  padding-bottom: 0;
  display: inline-block;
  text-align: left;
  width: 89%;
}
.app--pages-mobile--cadastro--form .checktermo .enext-fc-checkbox .campo-label {
	display: inline-block;
  width: 87.5%;
  vertical-align: top;
}
.app--pages-mobile--cadastro--form .enext-fc-select .campo-arrow {
  right: 0.5em;
  top: 0.5em;
}
.app--pages-mobile--cadastro--form .div15{
  display:none;
}
.app--pages-mobile--cadastro--form .labeldiv15{
  border-radius: 4px;
  width:15px;
  height:15px;
  background:#fbfbfb;
  border:solid 3px #e5e5e5;
  font-size:11px;
  margin-right:5px;
}
.app--pages-mobile--cadastro--form .div15:checked ~ #labeldiv15 {
  background:#774d99;
}
.app--pages-mobile--cadastro--form #div14{
  background:none;
  border:none;
  display:none;
}
.app--pages-mobile--cadastro--form #labeldiv4{
  color:#774d99;
  text-decoration: underline;
}
.app--pages-mobile--cadastro--form .mensagemErro{
  color: #d0021b;
  text-align: center;
  width: 100%;
  padding: 20px 10px;
}
.app--pages-mobile--cadastro--form .cadastrarLoja{
  border: none;
  background: #774D99;
  color: #fff;
  padding: 16px 60px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}
.app--pages-mobile--cadastro--form select{
  padding: 5px 0px 5px 10px;
  color: #989898;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  background: url(../img/arrow-select.png) no-repeat #fff;  /* Imagem de fundo (Seta) */
  background-position: 93% center;  /*Posição da imagem do background*/
}

@media (orientation:portrait) {
	.app--pages-mobile--cadastro--form {
	}
}

@media (max-width: 1024px) {
	.app--pages-mobile--cadastro--form {
	}
}