.app--pages-mobile--cadastro {
}

.app--pages-mobile--cadastro .destaque{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 70px;
}

.app--pages-mobile--cadastro .container_form{
	width: 93%;
	height: auto;
	margin: 0 auto;
	text-align: center;
}

.app--pages-mobile--cadastro .container_form-title1{
	width: 100%;
	height: 35px;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	color: #774D99;
	margin-top: 40px;
	margin-bottom: 10px;
}

@media (orientation:portrait) {
	.app--pages-mobile--cadastro {
	}
}

@media (max-width: 1024px) {
	.app--pages-mobile--cadastro {
	}
}