<div class="app--pages--admin">
	<template v-if="mobile">
		<app--mobile--header></app--mobile--header>
	</template>
	<template v-else>
		<app--desktop--header></app--desktop--header>
	</template>
	<router-view></router-view>
</div>