<div class="app--pages--cadastro--efetuado">
        <div class="box">
        
                <label id="titlecad"><img v-bind:src="baseUrl + 'img/check.png'"><span>CADASTRO EFETUADO</span></label>
            <div class="cadsuc">Os dados foram enviados para validação, e assim que o processo<br>
            estiver completo a administração do Shopping responsável entrará<br> 
            em contato com o responsável da loja.
            </div>
            </div>
</div>