.app--pages--cadastro--efetuado {
}

.app--pages--cadastro--efetuado .box {
    background: #FFFFFF;
    margin: auto;
    margin-top: 30px;
    width: 60%;
    height: 400px;
    border: 1px solid #d8d5d5;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app--pages--cadastro--efetuado #titlecad {
    font-size: 22px;
    color: #343434;
    font-weight: bold;  
}

.app--pages--cadastro--efetuado .cadsuc {
	font-size: 14px;
    color: #989898;
    margin-top: 05%;
}
.app--pages--cadastro--efetuado #titlecad img {
    width: 70px;
    /* height: 120px; */
    margin-bottom: -24px;
    margin-right: 15px;
    /* float: left; */
}
/* .app--pages--cadastro--efetuado #titlecad span{
	float: left;
    width: 100%;
} */

@media (orientation:portrait) {
	.app--pages--cadastro--efetuado {
	}
}

@media (max-width: 1024px) {
	.app--pages--cadastro--efetuado {
	}
}