<div class="app--pages--login">
	<div class="bloco-login">
		<div class="logo-login">
			<img v-bind:src="baseUrl + 'img/logo.png'" />
		</div>
		<div class="subbloco-login">
		<form method="POST" v-on:submit="submitLogin" v-bind:action="routerBaseUrl + '/login'">
			<!-- <label>Username </label><br>
			<input type="text" id="username" class="campo-usuario"/><br>
			<label>Senha </label><br>
			<input type="password" id="password" class="campo-senha"/><br> -->
			<enext--form-campo--texto
				v-bind:campo="campoUsuario"
				v-on:valor="onCampoValor"
				v-on:blur="onCampoBlur"
			></enext--form-campo--texto>
			<enext--form-campo--texto
				v-bind:campo="campoSenha"
				v-on:valor="onCampoValor"
				v-on:blur="onCampoBlur"
			></enext--form-campo--texto>
			<a href="javascript:;" v-on:click="modalEsqueci = true">Esqueceu a senha?</a><br/>
			<router-link to="/cadastro">Não tenho cadastro</router-link><br/>
			<input type="submit" class="btEntrar" value="Entrar">
			<p id="pcust2">Email ou senha não encontrados</p>
			<!-- <enext--calendario
				v-bind:date="calDate"
				v-bind:monthNames="calMonthNames"
				v-bind:weekDaysHeader="calWeekHeader"
				v-bind:selectionStart="calStart"
				v-bind:selectionEnd="calEnd"
				v-on:clickDay="onCalClickDay"
				v-on:changeMonth="onCalChangeMonth"
			></enext--calendario> -->
		</form>
		</div>
	</div><!--Fim bloco-login-->
	<app--modal--esqueci-a-senha
		v-show="modalEsqueci"
		v-on:fechar="modalEsqueci = false"
	></app--modal--esqueci-a-senha>
</div>